---

_You are currently looking at **version 1.1** of this notebook. To download notebooks and datafiles, as well as get help on Jupyter notebooks in the Coursera platform, visit the [Jupyter Notebook FAQ](https://www.coursera.org/learn/python-data-analysis/resources/0dhYG) course resource._

---

In [4]:
import pandas as pd
import numpy as np
from scipy.stats import ttest_ind

# Assignment 4 - Hypothesis Testing
This assignment requires more individual learning than previous assignments - you are encouraged to check out the [pandas documentation](http://pandas.pydata.org/pandas-docs/stable/) to find functions or methods you might not have used yet, or ask questions on [Stack Overflow](http://stackoverflow.com/) and tag them as pandas and python related. And of course, the discussion forums are open for interaction with your peers and the course staff.

Definitions:
* A _quarter_ is a specific three month period, Q1 is January through March, Q2 is April through June, Q3 is July through September, Q4 is October through December.
* A _recession_ is defined as starting with two consecutive quarters of GDP decline, and ending with two consecutive quarters of GDP growth.
* A _recession bottom_ is the quarter within a recession which had the lowest GDP.
* A _university town_ is a city which has a high percentage of university students compared to the total population of the city.

**Hypothesis**: University towns have their mean housing prices less effected by recessions. Run a t-test to compare the ratio of the mean price of houses in university towns the quarter before the recession starts compared to the recession bottom. (`price_ratio=quarter_before_recession/recession_bottom`)

The following data files are available for this assignment:
* From the [Zillow research data site](http://www.zillow.com/research/data/) there is housing data for the United States. In particular the datafile for [all homes at a city level](http://files.zillowstatic.com/research/public/City/City_Zhvi_AllHomes.csv), ```City_Zhvi_AllHomes.csv```, has median home sale prices at a fine grained level.
* From the Wikipedia page on college towns is a list of [university towns in the United States](https://en.wikipedia.org/wiki/List_of_college_towns#College_towns_in_the_United_States) which has been copy and pasted into the file ```university_towns.txt```.
* From Bureau of Economic Analysis, US Department of Commerce, the [GDP over time](http://www.bea.gov/national/index.htm#gdp) of the United States in current dollars (use the chained value in 2009 dollars), in quarterly intervals, in the file ```gdplev.xls```. For this assignment, only look at GDP data from the first quarter of 2000 onward.

Each function in this assignment below is worth 10%, with the exception of ```run_ttest()```, which is worth 50%.

In [114]:
# Use this dictionary to map state names to two letter acronyms
states = {'OH': 'Ohio', 'KY': 'Kentucky', 'AS': 'American Samoa', 'NV': 'Nevada', 'WY': 'Wyoming', 'NA': 'National', 'AL': 'Alabama', 'MD': 'Maryland', 'AK': 'Alaska', 'UT': 'Utah', 'OR': 'Oregon', 'MT': 'Montana', 'IL': 'Illinois', 'TN': 'Tennessee', 'DC': 'District of Columbia', 'VT': 'Vermont', 'ID': 'Idaho', 'AR': 'Arkansas', 'ME': 'Maine', 'WA': 'Washington', 'HI': 'Hawaii', 'WI': 'Wisconsin', 'MI': 'Michigan', 'IN': 'Indiana', 'NJ': 'New Jersey', 'AZ': 'Arizona', 'GU': 'Guam', 'MS': 'Mississippi', 'PR': 'Puerto Rico', 'NC': 'North Carolina', 'TX': 'Texas', 'SD': 'South Dakota', 'MP': 'Northern Mariana Islands', 'IA': 'Iowa', 'MO': 'Missouri', 'CT': 'Connecticut', 'WV': 'West Virginia', 'SC': 'South Carolina', 'LA': 'Louisiana', 'KS': 'Kansas', 'NY': 'New York', 'NE': 'Nebraska', 'OK': 'Oklahoma', 'FL': 'Florida', 'CA': 'California', 'CO': 'Colorado', 'PA': 'Pennsylvania', 'DE': 'Delaware', 'NM': 'New Mexico', 'RI': 'Rhode Island', 'MN': 'Minnesota', 'VI': 'Virgin Islands', 'NH': 'New Hampshire', 'MA': 'Massachusetts', 'GA': 'Georgia', 'ND': 'North Dakota', 'VA': 'Virginia'}

In [94]:
ut = pd.read_table('university_towns.txt', header=None).rename(columns={0: 'RegionName'})
ut

                                            RegionName
0                                        Alabama[edit]
1                        Auburn (Auburn University)[1]
2               Florence (University of North Alabama)
3      Jacksonville (Jacksonville State University)[2]
4           Livingston (University of West Alabama)[2]
5             Montevallo (University of Montevallo)[2]
6                            Troy (Troy University)[2]
7    Tuscaloosa (University of Alabama, Stillman Co...
8                    Tuskegee (Tuskegee University)[5]
9                                         Alaska[edit]
10       Fairbanks (University of Alaska Fairbanks)[2]
11                                       Arizona[edit]
12          Flagstaff (Northern Arizona University)[6]
13                    Tempe (Arizona State University)
14                      Tucson (University of Arizona)
15                                      Arkansas[edit]
16   Arkadelphia (Henderson State University, Ouach...
17   Conway (Central Baptist College, Hendrix Colle...
18            Fayetteville (University of Arkansas)[7]
19            Jonesboro (Arkansas State University)[8]
20          Magnolia (Southern Arkansas University)[2]
21   Monticello (University of Arkansas at Monticel...
22          Russellville (Arkansas Tech University)[2]
23                      Searcy (Harding University)[5]
24                                    California[edit]
25                   Angwin (Pacific Union College)[2]
26               Arcata (Humboldt State University)[5]
27    Berkeley (University of California, Berkeley)[5]
28       Chico (California State University, Chico)[2]
29   Claremont (Claremont McKenna College, Pomona C...
..                                                 ...
537          Cheney (Eastern Washington University)[2]
538      Ellensburg (Central Washington University)[5]
539           Pullman (Washington State University)[5]
540  University District, Seattle (University of Wa...
541                                West Virginia[edit]
542                     Athens (Concord University)[2]
543     Buckhannon (West Virginia Wesleyan College)[2]
544            Fairmont (Fairmont State University)[2]
545             Glenville (Glenville State College)[2]
546                Huntington (Marshall University)[2]
547  Montgomery (West Virginia University Institute...
548           Morgantown (West Virginia University)[2]
549             Shepherdstown (Shepherd University)[2]
550          West Liberty (West Liberty University)[2]
551                                    Wisconsin[edit]
552                     Appleton (Lawrence University)
553    Eau Claire (University of Wisconsin–Eau Claire)
554      Green Bay (University of Wisconsin-Green Bay)
555  La Crosse (University of Wisconsin–La Crosse, ...
556       Madison (University of Wisconsin–Madison)[2]
557       Menomonie (University of Wisconsin–Stout)[2]
558  Milwaukee (Marquette University, University of...
559          Oshkosh (University of Wisconsin–Oshkosh)
560  Platteville (University of Wisconsin–Plattevil...
561  River Falls (University of Wisconsin–River Fal...
562  Stevens Point (University of Wisconsin–Stevens...
563                      Waukesha (Carroll University)
564  Whitewater (University of Wisconsin–Whitewater...
565                                      Wyoming[edit]
566                 Laramie (University of Wyoming)[5]

[567 rows x 1 columns]

In [95]:
# 50个州
ut.RegionName.str.match('[\w\s]*\[edit\]').sum()

50

In [97]:
y = ''
def add_states(x):
    # 最后六个字符是[edit]的话，那么就是state;
    # 否则均是region，无论有没有()
    global y
    if x[-6:] == '[edit]':
        y = x[: -6]
        return np.NaN
    else:
        return y

ut['State'] = ut.RegionName.apply(add_states)
ut = ut.dropna().reindex(columns=['State', 'RegionName'])
ut

             State                                         RegionName
1          Alabama                      Auburn (Auburn University)[1]
2          Alabama             Florence (University of North Alabama)
3          Alabama    Jacksonville (Jacksonville State University)[2]
4          Alabama         Livingston (University of West Alabama)[2]
5          Alabama           Montevallo (University of Montevallo)[2]
6          Alabama                          Troy (Troy University)[2]
7          Alabama  Tuscaloosa (University of Alabama, Stillman Co...
8          Alabama                  Tuskegee (Tuskegee University)[5]
10          Alaska      Fairbanks (University of Alaska Fairbanks)[2]
12         Arizona         Flagstaff (Northern Arizona University)[6]
13         Arizona                   Tempe (Arizona State University)
14         Arizona                     Tucson (University of Arizona)
16        Arkansas  Arkadelphia (Henderson State University, Ouach...
17        Arkansas  Conway (Central Baptist College, Hendrix Colle...
18        Arkansas           Fayetteville (University of Arkansas)[7]
19        Arkansas           Jonesboro (Arkansas State University)[8]
20        Arkansas         Magnolia (Southern Arkansas University)[2]
21        Arkansas  Monticello (University of Arkansas at Monticel...
22        Arkansas         Russellville (Arkansas Tech University)[2]
23        Arkansas                     Searcy (Harding University)[5]
25      California                  Angwin (Pacific Union College)[2]
26      California              Arcata (Humboldt State University)[5]
27      California   Berkeley (University of California, Berkeley)[5]
28      California      Chico (California State University, Chico)[2]
29      California  Claremont (Claremont McKenna College, Pomona C...
30      California    Cotati (California State University, Sonoma)[2]
31      California         Davis (University of California, Davis)[1]
32      California          Irvine (University of California, Irvine)
33      California  Isla Vista (University of California, Santa Ba...
34      California  University Park, Los Angeles (University of So...
..             ...                                                ...
533       Virginia  Wise (University of Virginia's College at Wise...
534       Virginia  Chesapeake (Averett University, DeVry Universi...
536     Washington         Bellingham (Western Washington University)
537     Washington          Cheney (Eastern Washington University)[2]
538     Washington      Ellensburg (Central Washington University)[5]
539     Washington           Pullman (Washington State University)[5]
540     Washington  University District, Seattle (University of Wa...
542  West Virginia                     Athens (Concord University)[2]
543  West Virginia     Buckhannon (West Virginia Wesleyan College)[2]
544  West Virginia            Fairmont (Fairmont State University)[2]
545  West Virginia             Glenville (Glenville State College)[2]
546  West Virginia                Huntington (Marshall University)[2]
547  West Virginia  Montgomery (West Virginia University Institute...
548  West Virginia           Morgantown (West Virginia University)[2]
549  West Virginia             Shepherdstown (Shepherd University)[2]
550  West Virginia          West Liberty (West Liberty University)[2]
552      Wisconsin                     Appleton (Lawrence University)
553      Wisconsin    Eau Claire (University of Wisconsin–Eau Claire)
554      Wisconsin      Green Bay (University of Wisconsin-Green Bay)
555      Wisconsin  La Crosse (University of Wisconsin–La Crosse, ...
556      Wisconsin       Madison (University of Wisconsin–Madison)[2]
557      Wisconsin       Menomonie (University of Wisconsin–Stout)[2]
558      Wisconsin  Milwaukee (Marquette University, University of...
559      Wisconsin          Oshkosh (University of Wisconsin–Oshkosh)
560      Wisconsin  Platteville (University of Wisconsin–Plattevil...
561      Wisconsin  River Falls (University of Wisconsin–River Fal...
562      Wisconsin  Stevens Point (University of Wisconsin–Stevens...
563      Wisconsin                      Waukesha (Carroll University)
564      Wisconsin  Whitewater (University of Wisconsin–Whitewater...
566        Wyoming                 Laramie (University of Wyoming)[5]

[517 rows x 2 columns]

In [98]:
ut.RegionName = ut.RegionName.str.replace('\s*\([\d\s\w\,\[\]\)\–\-\']*', '', regex=True)
ut

             State                    RegionName
1          Alabama                        Auburn
2          Alabama                      Florence
3          Alabama                  Jacksonville
4          Alabama                    Livingston
5          Alabama                    Montevallo
6          Alabama                          Troy
7          Alabama                    Tuscaloosa
8          Alabama                      Tuskegee
10          Alaska                     Fairbanks
12         Arizona                     Flagstaff
13         Arizona                         Tempe
14         Arizona                        Tucson
16        Arkansas                   Arkadelphia
17        Arkansas                        Conway
18        Arkansas                  Fayetteville
19        Arkansas                     Jonesboro
20        Arkansas                      Magnolia
21        Arkansas                    Monticello
22        Arkansas                  Russellville
23        Arkansas                        Searcy
25      California                        Angwin
26      California                        Arcata
27      California                      Berkeley
28      California                         Chico
29      California                     Claremont
30      California                        Cotati
31      California                         Davis
32      California                        Irvine
33      California                    Isla Vista
34      California  University Park, Los Angeles
..             ...                           ...
533       Virginia                          Wise
534       Virginia                    Chesapeake
536     Washington                    Bellingham
537     Washington                        Cheney
538     Washington                    Ellensburg
539     Washington                       Pullman
540     Washington  University District, Seattle
542  West Virginia                        Athens
543  West Virginia                    Buckhannon
544  West Virginia                      Fairmont
545  West Virginia                     Glenville
546  West Virginia                    Huntington
547  West Virginia                    Montgomery
548  West Virginia                    Morgantown
549  West Virginia                 Shepherdstown
550  West Virginia                  West Liberty
552      Wisconsin                      Appleton
553      Wisconsin                    Eau Claire
554      Wisconsin                     Green Bay
555      Wisconsin                     La Crosse
556      Wisconsin                       Madison
557      Wisconsin                     Menomonie
558      Wisconsin                     Milwaukee
559      Wisconsin                       Oshkosh
560      Wisconsin                   Platteville
561      Wisconsin                   River Falls
562      Wisconsin                 Stevens Point
563      Wisconsin                      Waukesha
564      Wisconsin                    Whitewater
566        Wyoming                       Laramie

[517 rows x 2 columns]

In [2]:
def get_list_of_university_towns():
    '''Returns a DataFrame of towns and the states they are in from the 
    university_towns.txt list. The format of the DataFrame should be:
    DataFrame( [ ["Michigan", "Ann Arbor"], ["Michigan", "Yipsilanti"] ], 
    columns=["State", "RegionName"]  )
    
    The following cleaning needs to be done:

    1. For "State", removing characters from "[" to the end.
    2. For "RegionName", when applicable, removing every character from " (" to the end.
    3. Depending on how you read the data, you may need to remove newline character '\n'. '''
    
    ut = pd.read_table('university_towns.txt', header=None).rename(columns={0: 'RegionName'})
    y = ''
    def add_states(x):
        # 最后六个字符是[edit]的话，那么就是state;
        # 否则均是region，无论有没有()
        global y
        if x[-6:] == '[edit]':
            y = x[: -6]
            return np.NaN
        else:
            return y

    ut['State'] = ut.RegionName.apply(add_states)
    ut = ut.dropna().reindex(columns=['State', 'RegionName'])
    ut.RegionName = ut.RegionName.str.replace('\s*\([\d\s\w\,\[\]\)\–\-\']*', '', regex=True)
    return ut

get_list_of_university_towns()

             State                    RegionName
1          Alabama                        Auburn
2          Alabama                      Florence
3          Alabama                  Jacksonville
4          Alabama                    Livingston
5          Alabama                    Montevallo
6          Alabama                          Troy
7          Alabama                    Tuscaloosa
8          Alabama                      Tuskegee
10          Alaska                     Fairbanks
12         Arizona                     Flagstaff
13         Arizona                         Tempe
14         Arizona                        Tucson
16        Arkansas                   Arkadelphia
17        Arkansas                        Conway
18        Arkansas                  Fayetteville
19        Arkansas                     Jonesboro
20        Arkansas                      Magnolia
21        Arkansas                    Monticello
22        Arkansas                  Russellville
23        Arkansas                        Searcy
25      California                        Angwin
26      California                        Arcata
27      California                      Berkeley
28      California                         Chico
29      California                     Claremont
30      California                        Cotati
31      California                         Davis
32      California                        Irvine
33      California                    Isla Vista
34      California  University Park, Los Angeles
..             ...                           ...
533       Virginia                          Wise
534       Virginia                    Chesapeake
536     Washington                    Bellingham
537     Washington                        Cheney
538     Washington                    Ellensburg
539     Washington                       Pullman
540     Washington  University District, Seattle
542  West Virginia                        Athens
543  West Virginia                    Buckhannon
544  West Virginia                      Fairmont
545  West Virginia                     Glenville
546  West Virginia                    Huntington
547  West Virginia                    Montgomery
548  West Virginia                    Morgantown
549  West Virginia                 Shepherdstown
550  West Virginia                  West Liberty
552      Wisconsin                      Appleton
553      Wisconsin                    Eau Claire
554      Wisconsin                     Green Bay
555      Wisconsin                     La Crosse
556      Wisconsin                       Madison
557      Wisconsin                     Menomonie
558      Wisconsin                     Milwaukee
559      Wisconsin                       Oshkosh
560      Wisconsin                   Platteville
561      Wisconsin                   River Falls
562      Wisconsin                 Stevens Point
563      Wisconsin                      Waukesha
564      Wisconsin                    Whitewater
566        Wyoming                       Laramie

[517 rows x 2 columns]

In [21]:
yq = pd.read_excel('gdplev.xls', header=5)[['Unnamed: 3', 'GDP in billions of current dollars.1', 'GDP in billions of chained 2009 dollars.1']].rename(columns={'Unnamed: 3': 'Quarter'})
yq = yq.set_index('Quarter')['2000q1':]
yq

,GDP in billions of current dollars.1,GDP in billions of chained 2009 dollars.1
Quarter,,
2000q1,10031.0,12359.1
2000q2,10278.3,12592.5
2000q3,10357.4,12607.7
2000q4,10472.3,12679.3
2001q1,10508.1,12643.3
2001q2,10638.4,12710.3
2001q3,10639.5,12670.1
2001q4,10701.3,12705.3
2002q1,10834.4,12822.3
2002q2,10934.8,12893.0
2002q3,11037.1,12955.8
2002q4,11103.8,12964.0
2003q1,11230.1,13031.2
2003q2,11370.7,13152.1
2003q3,11625.1,13372.4
2003q4,11816.8,13528.7
2004q1,11988.4,13606.5
2004q2,12181.4,13706.2
2004q3,12367.7,13830.8
2004q4,12562.2,13950.4
2005q1,12813.7,14099.1
2005q2,12974.1,14172.7
2005q3,13205.4,14291.8
2005q4,13381.6,14373.4
2006q1,13648.9,14546.1
2006q2,13799.8,14589.6
2006q3,13908.5,14602.6
2006q4,14066.4,14716.9
2007q1,14233.2,14726.0
2007q2,14422.3,14838.7
...,...,...
2009q1,14383.9,14375.0
2009q2,14340.4,14355.6
2009q3,14384.1,14402.5
2009q4,14566.5,14541.9
2010q1,14681.1,14604.8
2010q2,14888.6,14745.9
2010q3,15057.7,14845.5
2010q4,15230.2,14939.0
2011q1,15238.4,14881.3
2011q2,15460.9,14989.6
2011q3,15587.1,15021.1
2011q4,15785.3,15190.3
2012q1,15973.9,15291.0
2012q2,16121.9,15362.4
2012q3,16227.9,15380.8
2012q4,16297.3,15384.3
2013q1,16475.4,15491.9
2013q2,16541.4,15521.6
2013q3,16749.3,15641.3
2013q4,16999.9,15793.9
2014q1,17025.2,15747.0
2014q2,17285.6,15900.8
2014q3,17569.4,16094.5
2014q4,17692.2,16186.7
2015q1,17783.6,16269.0
2015q2,17998.3,16374.2
2015q3,18141.9,16454.9
2015q4,18222.8,16490.7
2016q1,18281.6,16525.0
2016q2,18450.1,16583.1

In [39]:
length = len(yq)
temp = yq['GDP in billions of chained 2009 dollars.1']
begin, end, flag = -1, -1, False
for i in range(1, length):
    if i+1<length:
        if not flag and temp[i-1]>temp[i] and temp[i]>temp[i+1]:
            begin = temp.index[i]
            flag = True
        if flag and temp[i]>temp[i-1] and temp[i+1]>temp[i]:
            end = temp.index[i]
            flag = False
begin

'2008q3'

In [44]:
def get_recession_start():
    '''Returns the year and quarter of the recession start time as a 
    string value in a format such as 2005q3'''
    
    # begin: 第一个下降的季度
    yq = pd.read_excel('gdplev.xls', header=5)[['Unnamed: 3', 'GDP in billions of current dollars.1', 'GDP in billions of chained 2009 dollars.1']].rename(columns={'Unnamed: 3': 'Quarter'})
    yq = yq.set_index('Quarter')['2000q1':]
    length = len(yq)
    temp = yq['GDP in billions of chained 2009 dollars.1']
    begin, end, flag = -1, -1, False
    for i in range(1, length):
        if i+1<length:
            if not flag and temp[i-1]>temp[i] and temp[i]>temp[i+1]:
                begin = temp.index[i]
                flag = True
            if flag and temp[i]>temp[i-1] and temp[i+1]>temp[i]:
                end = temp.index[i+1]
                flag = False
    return begin

get_recession_start()

'2008q3'

In [45]:
def get_recession_end():
    '''Returns the year and quarter of the recession end time as a 
    string value in a format such as 2005q3'''
       
    # end: 最后一个增长的季度
    yq = pd.read_excel('gdplev.xls', header=5)[['Unnamed: 3', 'GDP in billions of current dollars.1', 'GDP in billions of chained 2009 dollars.1']].rename(columns={'Unnamed: 3': 'Quarter'})
    yq = yq.set_index('Quarter')['2000q1':]
    length = len(yq)
    temp = yq['GDP in billions of chained 2009 dollars.1']
    begin, end, flag = -1, -1, False
    for i in range(1, length):
        if i+1<length:
            if not flag and temp[i-1]>temp[i] and temp[i]>temp[i+1]:
                begin = temp.index[i]
                flag = True
            if flag and temp[i]>temp[i-1] and temp[i+1]>temp[i]:
                end = temp.index[i+1]
                flag = False
    return end

get_recession_end()

'2009q4'

In [47]:
def get_recession_bottom():
    '''Returns the year and quarter of the recession bottom time as a 
    string value in a format such as 2005q3'''
    
    begin = get_recession_start()
    end = get_recession_end()
    df = yq.loc[begin: end]
    return df['GDP in billions of chained 2009 dollars.1'].idxmin()

get_recession_bottom()

'2009q2'

In [89]:
col_names = []
for i in range(2000, 2017):
    for j in range(1, 10):
        col_names.append(str(i)+'-0'+str(j))
    for j in range(10, 13):
        col_names.append(str(i)+'-'+str(j))  
col_names = col_names[: -4]
hs = pd.read_csv('City_Zhvi_AllHomes.csv', index_col=["State","RegionName"])[col_names]
hs

,,2000-01,2000-02,2000-03,2000-04,2000-05,2000-06,2000-07,2000-08,2000-09,2000-10,...,2015-11,2015-12,2016-01,2016-02,2016-03,2016-04,2016-05,2016-06,2016-07,2016-08
State,RegionName,,,,,,,,,,,,,,,,,,,,,
NY,New York,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,573600,576200,578400,582200,588000,592200,592500,590200,588000,586400
CA,Los Angeles,204400.0,207000.0,209800.0,212300.0,214500.0,216600.0,219000.0,221100.0,222800.0,224300.0,...,558200,560800,562800,565600,569700,574000,577800,580600,583000,585100
IL,Chicago,136800.0,138300.0,140100.0,141900.0,143700.0,145300.0,146700.0,147900.0,149000.0,150400.0,...,207800,206900,206200,205800,206200,207300,208200,209100,211000,213000
PA,Philadelphia,52700.0,53100.0,53200.0,53400.0,53700.0,53800.0,53800.0,54100.0,54500.0,54700.0,...,122300,121600,121800,123300,125200,126400,127000,127400,128300,129100
AZ,Phoenix,111000.0,111700.0,112800.0,113700.0,114300.0,115100.0,115600.0,115900.0,116500.0,117200.0,...,183800,185300,186600,188000,189100,190200,191300,192800,194500,195900
NV,Las Vegas,131700.0,132600.0,133500.0,134100.0,134400.0,134600.0,134800.0,135400.0,136000.0,136400.0,...,190600,192000,193600,194800,195400,196100,197300,198200,199300,200600
CA,San Diego,219200.0,222900.0,226600.0,230200.0,234400.0,238500.0,242000.0,245300.0,249000.0,252500.0,...,525700,526700,527800,529200,531000,533900,536900,537900,539000,540500
TX,Dallas,85100.0,84500.0,83800.0,83600.0,83800.0,84200.0,84500.0,84900.0,85200.0,86000.0,...,134600,136600,138700,140600,142200,143300,144500,146000,148200,150400
CA,San Jose,364100.0,374000.0,384700.0,395700.0,407100.0,416900.0,424700.0,431700.0,439200.0,447600.0,...,789700,792100,795800,803100,811900,817600,819100,820100,821700,822700
FL,Jacksonville,88000.0,88800.0,89000.0,88900.0,89600.0,90600.0,91200.0,91700.0,92200.0,92600.0,...,132000,132500,133100,133900,134900,136000,137200,138400,139500,140300
CA,San Francisco,418700.0,430600.0,442200.0,453600.0,465200.0,474600.0,480400.0,483300.0,486900.0,490700.0,...,1105800,1112300,1117400,1122700,1125200,1123200,1119800,1114800,1108800,1104000
TX,Austin,142500.0,143000.0,143400.0,143900.0,145000.0,146900.0,148400.0,149300.0,150700.0,152900.0,...,287300,289300,291100,293400,296000,299200,301800,303300,304100,304800
MI,Detroit,64400.0,66200.0,67900.0,68900.0,68600.0,67400.0,66600.0,66600.0,67100.0,67200.0,...,38500,38400,38300,38000,37600,37400,37500,37500,37700,38100
OH,Columbus,93800.0,94400.0,94900.0,95400.0,95800.0,96300.0,96700.0,97200.0,97500.0,97800.0,...,115200,115800,116200,116700,117200,117700,118100,118800,119700,120500
TN,Memphis,72400.0,72500.0,72600.0,72900.0,73200.0,73500.0,73800.0,73900.0,73900.0,73900.0,...,69600,69800,69900,70800,72000,73100,74300,75100,75600,76200
NC,Charlotte,126600.0,126900.0,127300.0,127800.0,128300.0,129000.0,129700.0,130300.0,130600.0,131000.0,...,162800,164300,165500,166500,167400,168400,169500,170400,171700,173100
TX,El Paso,75900.0,76300.0,76600.0,76900.0,77000.0,76700.0,76600.0,76700.0,76900.0,77000.0,...,110200,110000,110200,110600,111200,111500,111400,111500,112100,112300
MA,Boston,203100.0,206900.0,210800.0,214700.0,218900.0,223900.0,228900.0,233300.0,237100.0,240100.0,...,471000,474600,478700,482900,486200,488000,489700,493400,499200,504200
WA,Seattle,246100.0,248800.0,250900.0,252900.0,255500.0,258400.0,260800.0,262500.0,264300.0,266200.0,...,533700,538700,544300,551200,559700,568600,576200,581800,587200,592200
MD,Baltimore,59300.0,59700.0,60000.0,59800.0,59400.0,59300.0,58900.0,58700.0,58900.0,59400.0,...,113600,114000,114500,114700,114800,114700,114600,114900,115100,115200
CO,Denver,160600.0,162200.0,163900.0,165800.0,167800.0,169900.0,172200.0,174400.0,176400.0,178300.0,...,330500,332100,333500,335600,337600,339700,342700,345900,349800,353300
DC,Washington,136200.0,137900.0,139200.0,140900.0,144200.0,147500.0,148800.0,148700.0,148600.0,148000.0,...,501200,502500,503800,504700,503800,503400,505100,508900,513900,518600
TN,Nashville,113100.0,113900.0,114500.0,115000.0,115400.0,115400.0,115500.0,115800.0,116300.0,116700.0,...,189300,191400,193300,195100,196800,198400,200300,202400,205000,207200
WI,Milwaukee,77600.0,78100.0,78400.0,78600.0,79000.0,79600.0,80400.0,81000.0,81700.0,82100.0,...,94600,94300,94200,94600,95200,95900,96300,96900,98200,99500
AZ,Tucson,101500.0,101900.0,102100.0,102500.0,103000.0,103400.0,103900.0,104500.0,105000.0,105300.0,...,148200,148400,148800,149500,150300,150700,151100,151700,152400,153000
OR,Portland,152300.0,152800.0,153300.0,153800.0,154700.0,155800.0,156400.0,156600.0,156700.0,157000.0,...,343400,347800,351900,356100,360000,364400,369300,375700,383600,390500
OK,Oklahoma City,76000.0,76400.0,76900.0,77200.0,77500.0,77800.0,78300.0,78600.0,78800.0,78800.0,...,127300,127700,127600,127700,128400,129000,129300,129600,130100,130500
NE,Omaha,112400.0,112800.0,113200.0,113400.0,114000.0,114900.0,115800.0,116700.0,117700.0,118200.0,...,140300,140500,140900,141600,142400,142800,142700,142500,143100,143800
NM,Albuquerque,125300.0,125800.0,126500.0,126700.0,126700.0,126700.0,126500.0,126400.0,126400.0,126500.0,...,167300,167800,168300,169100,169900,170300,170500,171100,171800,172000
CA,Fresno,93300.0,94300.0,94700.0,94800.0,95200.0,95800.0,96100.0,96400.0,96900.0,97500.0,...,187600,187700,187900,189000,190200,191200,192700,194300,195800,197100
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
TX,Granite Shoals,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,128200,129900,131500,133700,136100,137900,139700,142600,145700,147200
MD,Piney Point,155300.0,156200.0,155500.0,154300.0,154900.0,156300.0,157800.0,158200.0,159400.0,162000.0,...,309800,312600,315900,319900,322700,323600,324300,324600,324500,324700
WI,Maribel,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,129100,129700,128900,127600,127000,127800,129300,130700,132900,135500
ID,Middleton,106700.0,105600.0,105900.0,105500.0,104200.0,103300.0,102600.0,101800.0,101300.0,102200.0,...,151100,152300,153200,154000,154500,155500,157200,158800,160100,161400
CO,Bennett,131600.0,133100.0,134000.0,134700.0,135800.0,137000.0,138200.0,139700.0,141500.0,143400.0,...,195700,197400,198500,199400,201400,204500,207700,210200,211900,213300
NH,East Hampstead,160000.0,161800.0,163700.0,166300.0,169400.0,171600.0,172900.0,173900.0,175100.0,177100.0,...,269600,270600,271200,272400,274000,275800,277800,279800,281700,283200
MO,Garden City,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,103600,104800,105200,105800,107800,110000,112000,113000,113500,113700
AR,Mountainburg,54800.0,56800.0,59900.0,62500.0,64500.0,66000.0,67100.0,68000.0,68400.0,68500.0,...,90100,93400,96300,98600,100100,101200,101800,102700,103300,103500
WI,Oostburg,106800.0,107300.0,107700.0,107400.0,107600.0,109300.0,111200.0,112400.0,113700.0,115000.0,...,132000,132500,132700,132600,133000,133700,134100,134500,135700,137000
CA,Twin Peaks,96800.0,97000.0,98300.0,99800.0,100300.0,100400.0,101100.0,101600.0,101300.0,101300.0,...,159200,160600,162400,164400,165700,166300,167700,169900,172500,174500
NY,Upper Brookville,1222500.0,1240300.0,1230100.0,1221900.0,1231300.0,1239700.0,1235800.0,1234100.0,1243200.0,1254400.0,...,1833700,1854900,1879300,1905900,1928300,1941800,1942000,1948400,1962600,1975000
HI,Volcano,98500.0,97400.0,100200.0,103700.0,105200.0,107200.0,111500.0,114400.0,118100.0,123700.0,...,232500,236400,239700,241800,244700,247800,249600,249500,248500,247200
SC,Wedgefield,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,69000,68500,68200,68500,69900,71900,74100,76800,79600,81800
MI,Williamston,157400.0,159400.0,160700.0,160900.0,161000.0,162000.0,163300.0,164300.0,165300.0,165900.0,...,182700,181800,180800,181000,182600,182900,182200,182100,182800,183200
AR,Decatur,63600.0,63500.0,63700.0,64200.0,64500.0,64500.0,64900.0,65700.0,66400.0,66700.0,...,97200,97400,96900,96300,96300,96600,96600,96700,96900,96800
TN,Briceville,39000.0,40200.0,40800.0,41100.0,41500.0,42600.0,43400.0,43600.0,44000.0,44800.0,...,43200,41700,40800,40500,41100,41700,42000,41700,41100,40600
IN,Edgewood,91300.0,91800.0,92000.0,91500.0,91700.0,92400.0,92700.0,92800.0,93300.0,93900.0,...,100200,101100,100200,98900,99200,99600,99900,100400,101000,100900
TN,Palmyra,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,126400,127600,127300,127300,128400,130000,133000,135600,137000,138500
MD,Saint Inigoes,148200.0,148400.0,147600.0,146700.0,147300.0,148800.0,152400.0,157100.0,162200.0,164400.0,...,277200,275800,276300,279500,282200,282900,282900,282100,281400,281400
IN,Marysville,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,119800,124100,127200,129500,128000,124800,122700,122200,123100,125300
CA,Forest Falls,114200.0,113300.0,113100.0,114000.0,114700.0,114500.0,114400.0,114600.0,113500.0,111900.0,...,199700,195300,190400,187500,188000,190000,190600,189000,187100,186200
MO,Bois D Arc,106600.0,108400.0,108400.0,107500.0,106400.0,107000.0,107900.0,107200.0,106200.0,107300.0,...,149800,149100,148000,146900,145700,145000,143700,142600,143200,144800
VA,Henrico,127800.0,128600.0,129300.0,130100.0,130700.0,131500.0,132000.0,132300.0,132500.0,132800.0,...,213800,215100,216000,216200,215900,215900,215900,216800,219000,221300
NJ,Diamond Beach,171300.0,173700.0,176900.0,180500.0,183400.0,185400.0,187400.0,189000.0,190500.0,192400.0,...,400100,401600,403100,405000,405500,404500,403800,403400,400700,397300
TN,Gruetli Laager,35500.0,35500.0,35200.0,35200.0,35500.0,35700.0,36100.0,36700.0,37200.0,37400.0,...,71800,72900,74500,75700,75800,75900,76600,76900,77200,77800
WI,Town of Wrightstown,101100.0,101500.0,102700.0,103700.0,105200.0,107300.0,110000.0,111800.0,112300.0,112900.0,...,149900,150100,150300,150000,149200,149900,151400,152500,154100,155900
NY,Urbana,77600.0,79400.0,80600.0,80200.0,81000.0,83800.0,88700.0,92400.0,94000.0,96300.0,...,135700,136400,137700,138700,140500,143600,145000,144000,143000,143000
WI,New Denmark,113900.0,114000.0,115800.0,117600.0,119100.0,121100.0,123900.0,126200.0,128100.0,129600.0,...,188700,189800,190800,191200,191200,191700,192800,194000,196300,198900
CA,Angels,148000.0,151200.0,153800.0,155600.0,156000.0,156100.0,156900.0,157700.0,159700.0,164100.0,...,280400,279600,278000,276600,275000,273700,272000,269100,269000,270900
WI,Holland,150800.0,151000.0,151300.0,151000.0,150200.0,150300.0,151900.0,153500.0,154300.0,154400.0,...,217800,219400,221100,222000,222800,224900,228000,231200,233900,236000

In [90]:
i, j = 0, 1
while i < len(col_names):
    temp = col_names[i: i+3]
    name = col_names[i][: 4] + 'q' + str(j)
    # print(name)
    hs[name] = hs[temp].apply(lambda x: np.mean(x), axis=1)
    i = i+3
    if j+1 > 4:
        j = 1
    else:
        j = j+1
hs

,,2000-01,2000-02,2000-03,2000-04,2000-05,2000-06,2000-07,2000-08,2000-09,2000-10,...,2014q2,2014q3,2014q4,2015q1,2015q2,2015q3,2015q4,2016q1,2016q2,2016q3
State,RegionName,,,,,,,,,,,,,,,,,,,,,
NY,New York,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,5.154667e+05,5.228000e+05,5.280667e+05,5.322667e+05,5.408000e+05,5.572000e+05,5.728333e+05,5.828667e+05,5.916333e+05,587200.0
CA,Los Angeles,204400.0,207000.0,209800.0,212300.0,214500.0,216600.0,219000.0,221100.0,222800.0,224300.0,...,4.980333e+05,5.090667e+05,5.188667e+05,5.288000e+05,5.381667e+05,5.472667e+05,5.577333e+05,5.660333e+05,5.774667e+05,584050.0
IL,Chicago,136800.0,138300.0,140100.0,141900.0,143700.0,145300.0,146700.0,147900.0,149000.0,150400.0,...,1.926333e+05,1.957667e+05,2.012667e+05,2.010667e+05,2.060333e+05,2.083000e+05,2.079000e+05,2.060667e+05,2.082000e+05,212000.0
PA,Philadelphia,52700.0,53100.0,53200.0,53400.0,53700.0,53800.0,53800.0,54100.0,54500.0,54700.0,...,1.137333e+05,1.153000e+05,1.156667e+05,1.162000e+05,1.179667e+05,1.212333e+05,1.222000e+05,1.234333e+05,1.269333e+05,128700.0
AZ,Phoenix,111000.0,111700.0,112800.0,113700.0,114300.0,115100.0,115600.0,115900.0,116500.0,117200.0,...,1.642667e+05,1.653667e+05,1.685000e+05,1.715333e+05,1.741667e+05,1.790667e+05,1.838333e+05,1.879000e+05,1.914333e+05,195200.0
NV,Las Vegas,131700.0,132600.0,133500.0,134100.0,134400.0,134600.0,134800.0,135400.0,136000.0,136400.0,...,1.700667e+05,1.734000e+05,1.754667e+05,1.775000e+05,1.816000e+05,1.867667e+05,1.906333e+05,1.946000e+05,1.972000e+05,199950.0
CA,San Diego,219200.0,222900.0,226600.0,230200.0,234400.0,238500.0,242000.0,245300.0,249000.0,252500.0,...,4.802000e+05,4.890333e+05,4.964333e+05,5.033667e+05,5.120667e+05,5.197667e+05,5.254667e+05,5.293333e+05,5.362333e+05,539750.0
TX,Dallas,85100.0,84500.0,83800.0,83600.0,83800.0,84200.0,84500.0,84900.0,85200.0,86000.0,...,1.066333e+05,1.089000e+05,1.115333e+05,1.137000e+05,1.211333e+05,1.285667e+05,1.346000e+05,1.405000e+05,1.446000e+05,149300.0
CA,San Jose,364100.0,374000.0,384700.0,395700.0,407100.0,416900.0,424700.0,431700.0,439200.0,447600.0,...,6.794000e+05,6.970333e+05,7.149333e+05,7.314333e+05,7.567333e+05,7.764000e+05,7.891333e+05,8.036000e+05,8.189333e+05,822200.0
FL,Jacksonville,88000.0,88800.0,89000.0,88900.0,89600.0,90600.0,91200.0,91700.0,92200.0,92600.0,...,1.207667e+05,1.217333e+05,1.231667e+05,1.241667e+05,1.269000e+05,1.301333e+05,1.320000e+05,1.339667e+05,1.372000e+05,139900.0
CA,San Francisco,418700.0,430600.0,442200.0,453600.0,465200.0,474600.0,480400.0,483300.0,486900.0,490700.0,...,9.269333e+05,9.545333e+05,9.687667e+05,1.000733e+06,1.060800e+06,1.095100e+06,1.105467e+06,1.121767e+06,1.119267e+06,1106400.0
TX,Austin,142500.0,143000.0,143400.0,143900.0,145000.0,146900.0,148400.0,149300.0,150700.0,152900.0,...,2.488667e+05,2.528000e+05,2.581333e+05,2.665000e+05,2.750333e+05,2.816333e+05,2.872333e+05,2.935000e+05,3.014333e+05,304450.0
MI,Detroit,64400.0,66200.0,67900.0,68900.0,68600.0,67400.0,66600.0,66600.0,67100.0,67200.0,...,3.730000e+04,3.710000e+04,3.713333e+04,3.620000e+04,3.583333e+04,3.706667e+04,3.836667e+04,3.796667e+04,3.746667e+04,37900.0
OH,Columbus,93800.0,94400.0,94900.0,95400.0,95800.0,96300.0,96700.0,97200.0,97500.0,97800.0,...,1.031333e+05,1.045000e+05,1.064333e+05,1.078667e+05,1.094333e+05,1.115667e+05,1.150000e+05,1.167000e+05,1.182000e+05,120100.0
TN,Memphis,72400.0,72500.0,72600.0,72900.0,73200.0,73500.0,73800.0,73900.0,73900.0,73900.0,...,6.810000e+04,6.910000e+04,7.116667e+04,7.053333e+04,6.870000e+04,6.866667e+04,6.953333e+04,7.090000e+04,7.416667e+04,75900.0
NC,Charlotte,126600.0,126900.0,127300.0,127800.0,128300.0,129000.0,129700.0,130300.0,130600.0,131000.0,...,1.494667e+05,1.506333e+05,1.527333e+05,1.551667e+05,1.579000e+05,1.601667e+05,1.628667e+05,1.664667e+05,1.694333e+05,172400.0
TX,El Paso,75900.0,76300.0,76600.0,76900.0,77000.0,76700.0,76600.0,76700.0,76900.0,77000.0,...,1.118000e+05,1.117333e+05,1.117667e+05,1.115000e+05,1.113000e+05,1.110667e+05,1.102667e+05,1.106667e+05,1.114667e+05,112200.0
MA,Boston,203100.0,206900.0,210800.0,214700.0,218900.0,223900.0,228900.0,233300.0,237100.0,240100.0,...,4.266667e+05,4.314333e+05,4.407333e+05,4.485000e+05,4.553667e+05,4.639667e+05,4.716333e+05,4.826000e+05,4.903667e+05,501700.0
WA,Seattle,246100.0,248800.0,250900.0,252900.0,255500.0,258400.0,260800.0,262500.0,264300.0,266200.0,...,4.418000e+05,4.515000e+05,4.591667e+05,4.679333e+05,4.933667e+05,5.142667e+05,5.334667e+05,5.517333e+05,5.755333e+05,589700.0
MD,Baltimore,59300.0,59700.0,60000.0,59800.0,59400.0,59300.0,58900.0,58700.0,58900.0,59400.0,...,1.092333e+05,1.095333e+05,1.073667e+05,1.080667e+05,1.114333e+05,1.139667e+05,1.139000e+05,1.146667e+05,1.147333e+05,115150.0
CO,Denver,160600.0,162200.0,163900.0,165800.0,167800.0,169900.0,172200.0,174400.0,176400.0,178300.0,...,2.708667e+05,2.775000e+05,2.872333e+05,2.976333e+05,3.103667e+05,3.205000e+05,3.301000e+05,3.355667e+05,3.427667e+05,351550.0
DC,Washington,136200.0,137900.0,139200.0,140900.0,144200.0,147500.0,148800.0,148700.0,148600.0,148000.0,...,4.469333e+05,4.530000e+05,4.603000e+05,4.661667e+05,4.810667e+05,4.934000e+05,5.009000e+05,5.041000e+05,5.058000e+05,516250.0
TN,Nashville,113100.0,113900.0,114500.0,115000.0,115400.0,115400.0,115500.0,115800.0,116300.0,116700.0,...,1.607000e+05,1.623000e+05,1.669000e+05,1.714667e+05,1.762667e+05,1.818000e+05,1.892000e+05,1.950667e+05,2.003667e+05,206100.0
WI,Milwaukee,77600.0,78100.0,78400.0,78600.0,79000.0,79600.0,80400.0,81000.0,81700.0,82100.0,...,9.216667e+04,9.216667e+04,9.196667e+04,9.333333e+04,9.410000e+04,9.413333e+04,9.456667e+04,9.466667e+04,9.636667e+04,98850.0
AZ,Tucson,101500.0,101900.0,102100.0,102500.0,103000.0,103400.0,103900.0,104500.0,105000.0,105300.0,...,1.424667e+05,1.434333e+05,1.442333e+05,1.441667e+05,1.451333e+05,1.466000e+05,1.481667e+05,1.495333e+05,1.511667e+05,152700.0
OR,Portland,152300.0,152800.0,153300.0,153800.0,154700.0,155800.0,156400.0,156600.0,156700.0,157000.0,...,2.822333e+05,2.872667e+05,2.955333e+05,3.019333e+05,3.119000e+05,3.257333e+05,3.430667e+05,3.560000e+05,3.698000e+05,387050.0
OK,Oklahoma City,76000.0,76400.0,76900.0,77200.0,77500.0,77800.0,78300.0,78600.0,78800.0,78800.0,...,1.180333e+05,1.189667e+05,1.201000e+05,1.208000e+05,1.223667e+05,1.247000e+05,1.271000e+05,1.279000e+05,1.293000e+05,130300.0
NE,Omaha,112400.0,112800.0,113200.0,113400.0,114000.0,114900.0,115800.0,116700.0,117700.0,118200.0,...,1.301000e+05,1.303000e+05,1.325000e+05,1.330667e+05,1.344667e+05,1.367333e+05,1.400667e+05,1.416333e+05,1.426667e+05,143450.0
NM,Albuquerque,125300.0,125800.0,126500.0,126700.0,126700.0,126700.0,126500.0,126400.0,126400.0,126500.0,...,1.632667e+05,1.640000e+05,1.648000e+05,1.651667e+05,1.659000e+05,1.665333e+05,1.673333e+05,1.691000e+05,1.706333e+05,171900.0
CA,Fresno,93300.0,94300.0,94700.0,94800.0,95200.0,95800.0,96100.0,96400.0,96900.0,97500.0,...,1.696333e+05,1.736000e+05,1.781333e+05,1.804667e+05,1.820333e+05,1.857000e+05,1.874667e+05,1.890333e+05,1.927333e+05,196450.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
TX,Granite Shoals,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1.169667e+05,1.175333e+05,1.175333e+05,1.171667e+05,1.191000e+05,1.216000e+05,1.280000e+05,1.337667e+05,1.400667e+05,146450.0
MD,Piney Point,155300.0,156200.0,155500.0,154300.0,154900.0,156300.0,157800.0,158200.0,159400.0,162000.0,...,2.964000e+05,3.090000e+05,3.092333e+05,3.095667e+05,3.017000e+05,3.052333e+05,3.099667e+05,3.195000e+05,3.241667e+05,324600.0
WI,Maribel,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1.306000e+05,1.289667e+05,1.296333e+05,1.312667e+05,1.301333e+05,1.297333e+05,1.293000e+05,1.278333e+05,1.292667e+05,134200.0
ID,Middleton,106700.0,105600.0,105900.0,105500.0,104200.0,103300.0,102600.0,101800.0,101300.0,102200.0,...,1.443667e+05,1.457000e+05,1.462333e+05,1.461667e+05,1.477333e+05,1.482000e+05,1.511333e+05,1.539000e+05,1.571667e+05,160750.0
CO,Bennett,131600.0,133100.0,134000.0,134700.0,135800.0,137000.0,138200.0,139700.0,141500.0,143400.0,...,1.514667e+05,1.620667e+05,1.714000e+05,1.780333e+05,1.844333e+05,1.916667e+05,1.958000e+05,1.997667e+05,2.074667e+05,212600.0
NH,East Hampstead,160000.0,161800.0,163700.0,166300.0,169400.0,171600.0,172900.0,173900.0,175100.0,177100.0,...,2.495000e+05,2.521000e+05,2.557333e+05,2.587333e+05,2.613667e+05,2.616000e+05,2.688000e+05,2.725333e+05,2.778000e+05,282450.0
MO,Garden City,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1.055000e+05,1.043000e+05,1.047667e+05,1.060333e+05,9.606667e+04,9.930000e+04,1.034333e+05,1.062667e+05,1.116667e+05,113600.0
AR,Mountainburg,54800.0,56800.0,59900.0,62500.0,64500.0,66000.0,67100.0,68000.0,68400.0,68500.0,...,8.160000e+04,8.506667e+04,8.846667e+04,8.903333e+04,8.556667e+04,8.370000e+04,9.043333e+04,9.833333e+04,1.019000e+05,103400.0
WI,Oostburg,106800.0,107300.0,107700.0,107400.0,107600.0,109300.0,111200.0,112400.0,113700.0,115000.0,...,1.295667e+05,1.279333e+05,1.274333e+05,1.270667e+05,1.274000e+05,1.303333e+05,1.320333e+05,1.327667e+05,1.341000e+05,136350.0
CA,Twin Peaks,96800.0,97000.0,98300.0,99800.0,100300.0,100400.0,101100.0,101600.0,101300.0,101300.0,...,1.501000e+05,1.475333e+05,1.460667e+05,1.435000e+05,1.523000e+05,1.552667e+05,1.591667e+05,1.641667e+05,1.679667e+05,173500.0
NY,Upper Brookville,1222500.0,1240300.0,1230100.0,1221900.0,1231300.0,1239700.0,1235800.0,1234100.0,1243200.0,1254400.0,...,1.780633e+06,1.749233e+06,1.729467e+06,1.749867e+06,1.789600e+06,1.777267e+06,1.834367e+06,1.904500e+06,1.944067e+06,1968800.0
HI,Volcano,98500.0,97400.0,100200.0,103700.0,105200.0,107200.0,111500.0,114400.0,118100.0,123700.0,...,2.064667e+05,2.276333e+05,2.332000e+05,2.346333e+05,2.323667e+05,2.249667e+05,2.324333e+05,2.420667e+05,2.489667e+05,247850.0
SC,Wedgefield,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,7.436667e+04,7.026667e+04,7.206667e+04,7.570000e+04,7.206667e+04,7.033333e+04,6.903333e+04,6.886667e+04,7.426667e+04,80700.0
MI,Williamston,157400.0,159400.0,160700.0,160900.0,161000.0,162000.0,163300.0,164300.0,165300.0,165900.0,...,1.657000e+05,1.689333e+05,1.708667e+05,1.744333e+05,1.758667e+05,1.794667e+05,1.823000e+05,1.814667e+05,1.824000e+05,183000.0
AR,Decatur,63600.0,63500.0,63700.0,64200.0,64500.0,64500.0,64900.0,65700.0,66400.0,66700.0,...,8.966667e+04,9.256667e+04,9.470000e+04,9.350000e+04,9.490000e+04,9.543333e+04,9.700000e+04,9.650000e+04,9.663333e+04,96850.0
TN,Briceville,39000.0,40200.0,40800.0,41100.0,41500.0,42600.0,43400.0,43600.0,44000.0,44800.0,...,5.623333e+04,5.423333e+04,5.260000e+04,4.963333e+04,4.590000e+04,4.793333e+04,4.360000e+04,4.080000e+04,4.180000e+04,40850.0
IN,Edgewood,91300.0,91800.0,92000.0,91500.0,91700.0,92400.0,92700.0,92800.0,93300.0,93900.0,...,9.213333e+04,9.406667e+04,9.466667e+04,9.586667e+04,9.433333e+04,9.663333e+04,9.996667e+04,9.943333e+04,9.996667e+04,100950.0
TN,Palmyra,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1.227667e+05,1.269333e+05,1.262333e+05,1.223000e+05,1.204667e+05,1.198000e+05,1.258000e+05,1.276667e+05,1.328667e+05,137750.0
MD,Saint Inigoes,148200.0,148400.0,147600.0,146700.0,147300.0,148800.0,152400.0,157100.0,162200.0,164400.0,...,2.822333e+05,2.884333e+05,2.869667e+05,2.847000e+05,2.807667e+05,2.778333e+05,2.768333e+05,2.793333e+05,2.826333e+05,281400.0
IN,Marysville,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1.166000e+05,1.151000e+05,1.165000e+05,1.118667e+05,1.118000e+05,1.156667e+05,1.201667e+05,1.282333e+05,1.232333e+05,124200.0
CA,Forest Falls,114200.0,113300.0,113100.0,114000.0,114700.0,114500.0,114400.0,114600.0,113500.0,111900.0,...,1.653667e+05,1.675000e+05,1.771000e+05,1.765333e+05,1.818000e+05,1.911667e+05,1.987333e+05,1.886333e+05,1.898667e+05,186650.0
MO,Bois D Arc,106600.0,108400.0,108400.0,107500.0,106400.0,107000.0,107900.0,107200.0,106200.0,107300.0,...,1.375667e+05,1.375667e+05,1.404000e+05,1.450333e+05,1.475667e+05,1.463000e+05,1.494333e+05,1.468667e+05,1.437667e+05,144000.0
VA,Henrico,127800.0,128600.0,129300.0,130100.0,130700.0,131500.0,132000.0,132300.0,132500.0,132800.0,...,2.016333e+05,2.040000e+05,2.059000e+05,2.065667e+05,2.104333e+05,2.121000e+05,2.139667e+05,2.160333e+05,2.162000e+05,220150.0
NJ,Diamond Beach,171300.0,173700.0,176900.0,180500.0,183400.0,185400.0,187400.0,189000.0,190500.0,192400.0,...,3.818000e+05,3.878667e+05,3.876667e+05,3.931667e+05,3.980000e+05,3.992333e+05,4.004333e+05,4.045333e+05,4.039000e+05,399000.0
TN,Gruetli Laager,35500.0,35500.0,35200.0,35200.0,35500.0,35700.0,36100.0,36700.0,37200.0,37400.0,...,5.556667e+04,5.636667e+04,5.713333e+04,5.890000e+04,6.536667e+04,6.950000e+04,7.170000e+04,7.533333e+04,7.646667e+04,77500.0
WI,Town of Wrightstown,101100.0,101500.0,102700.0,103700.0,105200.0,107300.0,110000.0,111800.0,112300.0,112900.0,...,1.448667e+05,1.468667e+05,1.492333e+05,1.486667e+05,1.493333e+05,1.498667e+05,1.499333e+05,1.498333e+05,1.512667e+05,155000.0
NY,Urbana,77600.0,79400.0,80600.0,80200.0,81000.0,83800.0,88700.0,92400.0,94000.0,96300.0,...,1.321333e+05,1.370333e+05,1.400667e+05,1.417000e+05,1.378667e+05,1.364667e+05,1.361667e+05,1.389667e+05,1.442000e+05,143000.0
WI,New Denmark,113900.0,114000.0,115800.0,117600.0,119100.0,121100.0,123900.0,126200.0,128100.0,129600.0,...,1.745667e+05,1.811667e+05,1.861667e+05,1.876000e+05,1.886667e+05,1.884333e+05,1.889333e+05,1.910667e+05,1.928333e+05,197600.0
CA,Angels,148000.0,151200.0,153800.0,155600.0,156000.0,156100.0,156900.0,157700.0,159700.0,164100.0,...,2.444667e+05,2.540667e+05,2.599333e+05,2.601000e+05,2.506333e+05,2.635000e+05,2.795000e+05,2.765333e+05,2.716000e+05,269950.0
WI,Holland,150800.0,151000.0,151300.0,151000.0,150200.0,150300.0,151900.0,153500.0,154300.0,154400.0,...,2.012667e+05,2.015667e+05,2.012667e+05,2.060000e+05,2.076000e+05,2.128667e+05,2.178333e+05,2.219667e+05,2.280333e+05,234950.0

In [91]:
hs = hs.drop(col_names, axis=1)
hs

,,2000q1,2000q2,2000q3,2000q4,2001q1,2001q2,2001q3,2001q4,2002q1,2002q2,...,2014q2,2014q3,2014q4,2015q1,2015q2,2015q3,2015q4,2016q1,2016q2,2016q3
State,RegionName,,,,,,,,,,,,,,,,,,,,,
NY,New York,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,5.154667e+05,5.228000e+05,5.280667e+05,5.322667e+05,5.408000e+05,5.572000e+05,5.728333e+05,5.828667e+05,5.916333e+05,587200.0
CA,Los Angeles,2.070667e+05,2.144667e+05,2.209667e+05,2.261667e+05,2.330000e+05,2.391000e+05,2.450667e+05,2.530333e+05,2.619667e+05,2.727000e+05,...,4.980333e+05,5.090667e+05,5.188667e+05,5.288000e+05,5.381667e+05,5.472667e+05,5.577333e+05,5.660333e+05,5.774667e+05,584050.0
IL,Chicago,1.384000e+05,1.436333e+05,1.478667e+05,1.521333e+05,1.569333e+05,1.618000e+05,1.664000e+05,1.704333e+05,1.755000e+05,1.775667e+05,...,1.926333e+05,1.957667e+05,2.012667e+05,2.010667e+05,2.060333e+05,2.083000e+05,2.079000e+05,2.060667e+05,2.082000e+05,212000.0
PA,Philadelphia,5.300000e+04,5.363333e+04,5.413333e+04,5.470000e+04,5.533333e+04,5.553333e+04,5.626667e+04,5.753333e+04,5.913333e+04,6.073333e+04,...,1.137333e+05,1.153000e+05,1.156667e+05,1.162000e+05,1.179667e+05,1.212333e+05,1.222000e+05,1.234333e+05,1.269333e+05,128700.0
AZ,Phoenix,1.118333e+05,1.143667e+05,1.160000e+05,1.174000e+05,1.196000e+05,1.215667e+05,1.227000e+05,1.243000e+05,1.265333e+05,1.283667e+05,...,1.642667e+05,1.653667e+05,1.685000e+05,1.715333e+05,1.741667e+05,1.790667e+05,1.838333e+05,1.879000e+05,1.914333e+05,195200.0
NV,Las Vegas,1.326000e+05,1.343667e+05,1.354000e+05,1.370000e+05,1.395333e+05,1.417333e+05,1.433667e+05,1.461333e+05,1.493333e+05,1.509333e+05,...,1.700667e+05,1.734000e+05,1.754667e+05,1.775000e+05,1.816000e+05,1.867667e+05,1.906333e+05,1.946000e+05,1.972000e+05,199950.0
CA,San Diego,2.229000e+05,2.343667e+05,2.454333e+05,2.560333e+05,2.672000e+05,2.762667e+05,2.845000e+05,2.919333e+05,3.012333e+05,3.128667e+05,...,4.802000e+05,4.890333e+05,4.964333e+05,5.033667e+05,5.120667e+05,5.197667e+05,5.254667e+05,5.293333e+05,5.362333e+05,539750.0
TX,Dallas,8.446667e+04,8.386667e+04,8.486667e+04,8.783333e+04,8.973333e+04,8.930000e+04,8.906667e+04,9.090000e+04,9.256667e+04,9.380000e+04,...,1.066333e+05,1.089000e+05,1.115333e+05,1.137000e+05,1.211333e+05,1.285667e+05,1.346000e+05,1.405000e+05,1.446000e+05,149300.0
CA,San Jose,3.742667e+05,4.065667e+05,4.318667e+05,4.555000e+05,4.706667e+05,4.702000e+05,4.568000e+05,4.455667e+05,4.414333e+05,4.577667e+05,...,6.794000e+05,6.970333e+05,7.149333e+05,7.314333e+05,7.567333e+05,7.764000e+05,7.891333e+05,8.036000e+05,8.189333e+05,822200.0
FL,Jacksonville,8.860000e+04,8.970000e+04,9.170000e+04,9.310000e+04,9.440000e+04,9.560000e+04,9.706667e+04,9.906667e+04,1.012333e+05,1.034333e+05,...,1.207667e+05,1.217333e+05,1.231667e+05,1.241667e+05,1.269000e+05,1.301333e+05,1.320000e+05,1.339667e+05,1.372000e+05,139900.0
CA,San Francisco,4.305000e+05,4.644667e+05,4.835333e+05,4.930000e+05,4.940667e+05,4.961333e+05,5.041000e+05,5.134000e+05,5.204333e+05,5.381667e+05,...,9.269333e+05,9.545333e+05,9.687667e+05,1.000733e+06,1.060800e+06,1.095100e+06,1.105467e+06,1.121767e+06,1.119267e+06,1106400.0
TX,Austin,1.429667e+05,1.452667e+05,1.494667e+05,1.557333e+05,1.612333e+05,1.607333e+05,1.595333e+05,1.600333e+05,1.589667e+05,1.575000e+05,...,2.488667e+05,2.528000e+05,2.581333e+05,2.665000e+05,2.750333e+05,2.816333e+05,2.872333e+05,2.935000e+05,3.014333e+05,304450.0
MI,Detroit,6.616667e+04,6.830000e+04,6.676667e+04,6.703333e+04,6.750000e+04,6.836667e+04,6.926667e+04,6.996667e+04,7.100000e+04,7.233333e+04,...,3.730000e+04,3.710000e+04,3.713333e+04,3.620000e+04,3.583333e+04,3.706667e+04,3.836667e+04,3.796667e+04,3.746667e+04,37900.0
OH,Columbus,9.436667e+04,9.583333e+04,9.713333e+04,9.826667e+04,9.940000e+04,1.002667e+05,1.010667e+05,1.022000e+05,1.034000e+05,1.048000e+05,...,1.031333e+05,1.045000e+05,1.064333e+05,1.078667e+05,1.094333e+05,1.115667e+05,1.150000e+05,1.167000e+05,1.182000e+05,120100.0
TN,Memphis,7.250000e+04,7.320000e+04,7.386667e+04,7.400000e+04,7.416667e+04,7.493333e+04,7.550000e+04,7.606667e+04,7.633333e+04,7.676667e+04,...,6.810000e+04,6.910000e+04,7.116667e+04,7.053333e+04,6.870000e+04,6.866667e+04,6.953333e+04,7.090000e+04,7.416667e+04,75900.0
NC,Charlotte,1.269333e+05,1.283667e+05,1.302000e+05,1.315667e+05,1.329333e+05,1.332000e+05,1.328000e+05,1.331000e+05,1.343667e+05,1.353667e+05,...,1.494667e+05,1.506333e+05,1.527333e+05,1.551667e+05,1.579000e+05,1.601667e+05,1.628667e+05,1.664667e+05,1.694333e+05,172400.0
TX,El Paso,7.626667e+04,7.686667e+04,7.673333e+04,7.730000e+04,7.823333e+04,7.830000e+04,7.743333e+04,7.680000e+04,7.660000e+04,7.640000e+04,...,1.118000e+05,1.117333e+05,1.117667e+05,1.115000e+05,1.113000e+05,1.110667e+05,1.102667e+05,1.106667e+05,1.114667e+05,112200.0
MA,Boston,2.069333e+05,2.191667e+05,2.331000e+05,2.425000e+05,2.496000e+05,2.570667e+05,2.669333e+05,2.749667e+05,2.825000e+05,2.893000e+05,...,4.266667e+05,4.314333e+05,4.407333e+05,4.485000e+05,4.553667e+05,4.639667e+05,4.716333e+05,4.826000e+05,4.903667e+05,501700.0
WA,Seattle,2.486000e+05,2.556000e+05,2.625333e+05,2.674000e+05,2.710000e+05,2.724333e+05,2.741667e+05,2.781667e+05,2.805000e+05,2.846000e+05,...,4.418000e+05,4.515000e+05,4.591667e+05,4.679333e+05,4.933667e+05,5.142667e+05,5.334667e+05,5.517333e+05,5.755333e+05,589700.0
MD,Baltimore,5.966667e+04,5.950000e+04,5.883333e+04,5.950000e+04,5.956667e+04,6.013333e+04,6.210000e+04,6.340000e+04,6.366667e+04,6.490000e+04,...,1.092333e+05,1.095333e+05,1.073667e+05,1.080667e+05,1.114333e+05,1.139667e+05,1.139000e+05,1.146667e+05,1.147333e+05,115150.0
CO,Denver,1.622333e+05,1.678333e+05,1.743333e+05,1.803333e+05,1.865000e+05,1.925333e+05,1.964000e+05,1.991000e+05,2.012333e+05,2.024333e+05,...,2.708667e+05,2.775000e+05,2.872333e+05,2.976333e+05,3.103667e+05,3.205000e+05,3.301000e+05,3.355667e+05,3.427667e+05,351550.0
DC,Washington,1.377667e+05,1.442000e+05,1.487000e+05,1.477000e+05,1.497667e+05,1.551333e+05,1.646333e+05,1.725333e+05,1.805000e+05,1.933000e+05,...,4.469333e+05,4.530000e+05,4.603000e+05,4.661667e+05,4.810667e+05,4.934000e+05,5.009000e+05,5.041000e+05,5.058000e+05,516250.0
TN,Nashville,1.138333e+05,1.152667e+05,1.158667e+05,1.169333e+05,1.180333e+05,1.191667e+05,1.201000e+05,1.208000e+05,1.215667e+05,1.226333e+05,...,1.607000e+05,1.623000e+05,1.669000e+05,1.714667e+05,1.762667e+05,1.818000e+05,1.892000e+05,1.950667e+05,2.003667e+05,206100.0
WI,Milwaukee,7.803333e+04,7.906667e+04,8.103333e+04,8.233333e+04,8.403333e+04,8.556667e+04,8.706667e+04,8.840000e+04,8.953333e+04,9.136667e+04,...,9.216667e+04,9.216667e+04,9.196667e+04,9.333333e+04,9.410000e+04,9.413333e+04,9.456667e+04,9.466667e+04,9.636667e+04,98850.0
AZ,Tucson,1.018333e+05,1.029667e+05,1.044667e+05,1.056667e+05,1.072000e+05,1.087667e+05,1.105667e+05,1.128000e+05,1.150000e+05,1.172000e+05,...,1.424667e+05,1.434333e+05,1.442333e+05,1.441667e+05,1.451333e+05,1.466000e+05,1.481667e+05,1.495333e+05,1.511667e+05,152700.0
OR,Portland,1.528000e+05,1.547667e+05,1.565667e+05,1.574667e+05,1.599000e+05,1.618000e+05,1.642667e+05,1.677667e+05,1.707667e+05,1.741333e+05,...,2.822333e+05,2.872667e+05,2.955333e+05,3.019333e+05,3.119000e+05,3.257333e+05,3.430667e+05,3.560000e+05,3.698000e+05,387050.0
OK,Oklahoma City,7.643333e+04,7.750000e+04,7.856667e+04,7.916667e+04,7.983333e+04,8.040000e+04,8.113333e+04,8.173333e+04,8.260000e+04,8.343333e+04,...,1.180333e+05,1.189667e+05,1.201000e+05,1.208000e+05,1.223667e+05,1.247000e+05,1.271000e+05,1.279000e+05,1.293000e+05,130300.0
NE,Omaha,1.128000e+05,1.141000e+05,1.167333e+05,1.189000e+05,1.208667e+05,1.197667e+05,1.178667e+05,1.174000e+05,1.180667e+05,1.176333e+05,...,1.301000e+05,1.303000e+05,1.325000e+05,1.330667e+05,1.344667e+05,1.367333e+05,1.400667e+05,1.416333e+05,1.426667e+05,143450.0
NM,Albuquerque,1.258667e+05,1.267000e+05,1.264333e+05,1.267333e+05,1.271000e+05,1.277333e+05,1.285667e+05,1.299000e+05,1.310667e+05,1.321000e+05,...,1.632667e+05,1.640000e+05,1.648000e+05,1.651667e+05,1.659000e+05,1.665333e+05,1.673333e+05,1.691000e+05,1.706333e+05,171900.0
CA,Fresno,9.410000e+04,9.526667e+04,9.646667e+04,9.823333e+04,1.005667e+05,1.035667e+05,1.072333e+05,1.103000e+05,1.140333e+05,1.185333e+05,...,1.696333e+05,1.736000e+05,1.781333e+05,1.804667e+05,1.820333e+05,1.857000e+05,1.874667e+05,1.890333e+05,1.927333e+05,196450.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
TX,Granite Shoals,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1.169667e+05,1.175333e+05,1.175333e+05,1.171667e+05,1.191000e+05,1.216000e+05,1.280000e+05,1.337667e+05,1.400667e+05,146450.0
MD,Piney Point,1.556667e+05,1.551667e+05,1.584667e+05,1.637000e+05,1.634000e+05,1.648333e+05,1.647000e+05,1.679000e+05,1.782667e+05,1.812000e+05,...,2.964000e+05,3.090000e+05,3.092333e+05,3.095667e+05,3.017000e+05,3.052333e+05,3.099667e+05,3.195000e+05,3.241667e+05,324600.0
WI,Maribel,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1.306000e+05,1.289667e+05,1.296333e+05,1.312667e+05,1.301333e+05,1.297333e+05,1.293000e+05,1.278333e+05,1.292667e+05,134200.0
ID,Middleton,1.060667e+05,1.043333e+05,1.019000e+05,1.041667e+05,1.061667e+05,1.083667e+05,1.110333e+05,1.112333e+05,1.141000e+05,1.141667e+05,...,1.443667e+05,1.457000e+05,1.462333e+05,1.461667e+05,1.477333e+05,1.482000e+05,1.511333e+05,1.539000e+05,1.571667e+05,160750.0
CO,Bennett,1.329000e+05,1.358333e+05,1.398000e+05,1.446667e+05,1.483000e+05,1.521000e+05,1.542333e+05,1.562000e+05,1.587333e+05,1.606333e+05,...,1.514667e+05,1.620667e+05,1.714000e+05,1.780333e+05,1.844333e+05,1.916667e+05,1.958000e+05,1.997667e+05,2.074667e+05,212600.0
NH,East Hampstead,1.618333e+05,1.691000e+05,1.739667e+05,1.805000e+05,1.909000e+05,1.950667e+05,1.992667e+05,2.074000e+05,2.123000e+05,2.122333e+05,...,2.495000e+05,2.521000e+05,2.557333e+05,2.587333e+05,2.613667e+05,2.616000e+05,2.688000e+05,2.725333e+05,2.778000e+05,282450.0
MO,Garden City,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1.055000e+05,1.043000e+05,1.047667e+05,1.060333e+05,9.606667e+04,9.930000e+04,1.034333e+05,1.062667e+05,1.116667e+05,113600.0
AR,Mountainburg,5.716667e+04,6.433333e+04,6.783333e+04,6.900000e+04,6.866667e+04,6.386667e+04,6.376667e+04,6.546667e+04,6.533333e+04,6.600000e+04,...,8.160000e+04,8.506667e+04,8.846667e+04,8.903333e+04,8.556667e+04,8.370000e+04,9.043333e+04,9.833333e+04,1.019000e+05,103400.0
WI,Oostburg,1.072667e+05,1.081000e+05,1.124333e+05,1.155000e+05,1.191000e+05,1.204333e+05,1.203667e+05,1.196333e+05,1.198667e+05,1.185667e+05,...,1.295667e+05,1.279333e+05,1.274333e+05,1.270667e+05,1.274000e+05,1.303333e+05,1.320333e+05,1.327667e+05,1.341000e+05,136350.0
CA,Twin Peaks,9.736667e+04,1.001667e+05,1.013333e+05,1.017000e+05,1.040000e+05,1.076667e+05,1.098333e+05,1.111333e+05,1.132000e+05,1.166000e+05,...,1.501000e+05,1.475333e+05,1.460667e+05,1.435000e+05,1.523000e+05,1.552667e+05,1.591667e+05,1.641667e+05,1.679667e+05,173500.0
NY,Upper Brookville,1.230967e+06,1.230967e+06,1.237700e+06,1.261567e+06,1.295167e+06,1.340033e+06,1.403667e+06,1.481933e+06,1.536167e+06,1.562033e+06,...,1.780633e+06,1.749233e+06,1.729467e+06,1.749867e+06,1.789600e+06,1.777267e+06,1.834367e+06,1.904500e+06,1.944067e+06,1968800.0
HI,Volcano,9.870000e+04,1.053667e+05,1.146667e+05,1.247667e+05,1.181333e+05,1.194000e+05,1.232667e+05,1.211667e+05,1.233000e+05,1.169000e+05,...,2.064667e+05,2.276333e+05,2.332000e+05,2.346333e+05,2.323667e+05,2.249667e+05,2.324333e+05,2.420667e+05,2.489667e+05,247850.0
SC,Wedgefield,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,7.436667e+04,7.026667e+04,7.206667e+04,7.570000e+04,7.206667e+04,7.033333e+04,6.903333e+04,6.886667e+04,7.426667e+04,80700.0
MI,Williamston,1.591667e+05,1.613000e+05,1.643000e+05,1.662000e+05,1.664333e+05,1.686333e+05,1.716667e+05,1.750333e+05,1.786667e+05,1.793333e+05,...,1.657000e+05,1.689333e+05,1.708667e+05,1.744333e+05,1.758667e+05,1.794667e+05,1.823000e+05,1.814667e+05,1.824000e+05,183000.0
AR,Decatur,6.360000e+04,6.440000e+04,6.566667e+04,6.673333e+04,6.720000e+04,6.770000e+04,6.650000e+04,6.540000e+04,6.460000e+04,6.490000e+04,...,8.966667e+04,9.256667e+04,9.470000e+04,9.350000e+04,9.490000e+04,9.543333e+04,9.700000e+04,9.650000e+04,9.663333e+04,96850.0
TN,Briceville,4.000000e+04,4.173333e+04,4.366667e+04,4.490000e+04,4.480000e+04,4.530000e+04,4.463333e+04,4.370000e+04,4.446667e+04,4.340000e+04,...,5.623333e+04,5.423333e+04,5.260000e+04,4.963333e+04,4.590000e+04,4.793333e+04,4.360000e+04,4.080000e+04,4.180000e+04,40850.0
IN,Edgewood,9.170000e+04,9.186667e+04,9.293333e+04,9.490000e+04,9.893333e+04,1.000667e+05,1.008333e+05,1.010000e+05,1.021667e+05,1.017667e+05,...,9.213333e+04,9.406667e+04,9.466667e+04,9.586667e+04,9.433333e+04,9.663333e+04,9.996667e+04,9.943333e+04,9.996667e+04,100950.0
TN,Palmyra,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1.227667e+05,1.269333e+05,1.262333e+05,1.223000e+05,1.204667e+05,1.198000e+05,1.258000e+05,1.276667e+05,1.328667e+05,137750.0
MD,Saint Inigoes,1.480667e+05,1.476000e+05,1.572333e+05,1.633667e+05,1.642333e+05,1.682000e+05,1.665000e+05,1.653333e+05,1.673000e+05,1.688000e+05,...,2.822333e+05,2.884333e+05,2.869667e+05,2.847000e+05,2.807667e+05,2.778333e+05,2.768333e+05,2.793333e+05,2.826333e+05,281400.0
IN,Marysville,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1.166000e+05,1.151000e+05,1.165000e+05,1.118667e+05,1.118000e+05,1.156667e+05,1.201667e+05,1.282333e+05,1.232333e+05,124200.0
CA,Forest Falls,1.135333e+05,1.144000e+05,1.141667e+05,1.111333e+05,1.134333e+05,1.130000e+05,1.130333e+05,1.151667e+05,1.187000e+05,1.250667e+05,...,1.653667e+05,1.675000e+05,1.771000e+05,1.765333e+05,1.818000e+05,1.911667e+05,1.987333e+05,1.886333e+05,1.898667e+05,186650.0
MO,Bois D Arc,1.078000e+05,1.069667e+05,1.071000e+05,1.081000e+05,1.107000e+05,1.136667e+05,1.126333e+05,1.127333e+05,1.130667e+05,1.154000e+05,...,1.375667e+05,1.375667e+05,1.404000e+05,1.450333e+05,1.475667e+05,1.463000e+05,1.494333e+05,1.468667e+05,1.437667e+05,144000.0
VA,Henrico,1.285667e+05,1.307667e+05,1.322667e+05,1.332667e+05,1.352333e+05,1.367333e+05,1.386000e+05,1.413333e+05,1.435333e+05,1.461333e+05,...,2.016333e+05,2.040000e+05,2.059000e+05,2.065667e+05,2.104333e+05,2.121000e+05,2.139667e+05,2.160333e+05,2.162000e+05,220150.0
NJ,Diamond Beach,1.739667e+05,1.831000e+05,1.889667e+05,1.931333e+05,1.944000e+05,2.102667e+05,2.302667e+05,2.486667e+05,2.599333e+05,2.656333e+05,...,3.818000e+05,3.878667e+05,3.876667e+05,3.931667e+05,3.980000e+05,3.992333e+05,4.004333e+05,4.045333e+05,4.039000e+05,399000.0
TN,Gruetli Laager,3.540000e+04,3.546667e+04,3.666667e+04,3.730000e+04,3.773333e+04,3.790000e+04,3.936667e+04,4.040000e+04,4.156667e+04,4.163333e+04,...,5.556667e+04,5.636667e+04,5.713333e+04,5.890000e+04,6.536667e+04,6.950000e+04,7.170000e+04,7.533333e+04,7.646667e+04,77500.0
WI,Town of Wrightstown,1.017667e+05,1.054000e+05,1.113667e+05,1.148667e+05,1.259667e+05,1.299000e+05,1.299000e+05,1.294333e+05,1.319000e+05,1.342000e+05,...,1.448667e+05,1.468667e+05,1.492333e+05,1.486667e+05,1.493333e+05,1.498667e+05,1.499333e+05,1.498333e+05,1.512667e+05,155000.0
NY,Urbana,7.920000e+04,8.166667e+04,9.170000e+04,9.836667e+04,9.486667e+04,9.853333e+04,1.029667e+05,9.803333e+04,9.396667e+04,9.460000e+04,...,1.321333e+05,1.370333e+05,1.400667e+05,1.417000e+05,1.378667e+05,1.364667e+05,1.361667e+05,1.389667e+05,1.442000e+05,143000.0
WI,New Denmark,1.145667e+05,1.192667e+05,1.260667e+05,1.319667e+05,1.438000e+05,1.469667e+05,1.483667e+05,1.491667e+05,1.531333e+05,1.567333e+05,...,1.745667e+05,1.811667e+05,1.861667e+05,1.876000e+05,1.886667e+05,1.884333e+05,1.889333e+05,1.910667e+05,1.928333e+05,197600.0
CA,Angels,1.510000e+05,1.559000e+05,1.581000e+05,1.674667e+05,1.768333e+05,1.837667e+05,1.902333e+05,1.845667e+05,1.840333e+05,1.861333e+05,...,2.444667e+05,2.540667e+05,2.599333e+05,2.601000e+05,2.506333e+05,2.635000e+05,2.795000e+05,2.765333e+05,2.716000e+05,269950.0
WI,Holland,1.510333e+05,1.505000e+05,1.532333e+05,1.558333e+05,1.618667e+05,1.657333e+05,1.680333e+05,1.674000e+05,1.657667e+05,1.619667e+05,...,2.012667e+05,2.015667e+05,2.012667e+05,2.060000e+05,2.076000e+05,2.128667e+05,2.178333e+05,2.219667e+05,2.280333e+05,234950.0

In [5]:
def convert_housing_data_to_quarters():
    '''Converts the housing data to quarters and returns it as mean 
    values in a dataframe. This dataframe should be a dataframe with
    columns for 2000q1 through 2016q3, and should have a multi-index
    in the shape of ["State","RegionName"].
    
    Note: Quarters are defined in the assignment description, they are
    not arbitrary three month periods.
    
    The resulting dataframe should have 67 columns, and 10,730 rows.
    '''
    
    col_names = []
    for i in range(2000, 2017):
        for j in range(1, 10):
            col_names.append(str(i)+'-0'+str(j))
        for j in range(10, 13):
            col_names.append(str(i)+'-'+str(j))  
    col_names = col_names[: -4]
    hs = pd.read_csv('City_Zhvi_AllHomes.csv', index_col=["State","RegionName"])[col_names]
    i, j = 0, 1
    while i < len(col_names):
        temp = col_names[i: i+3]
        name = col_names[i][: 4] + 'q' + str(j)
        # print(name)
        hs[name] = hs[temp].apply(lambda x: np.mean(x), axis=1)
        i = i+3
        if j+1 > 4:
            j = 1
        else:
            j = j+1
    hs = hs.drop(col_names, axis=1)
    return hs

convert_housing_data_to_quarters()

,,2000q1,2000q2,2000q3,2000q4,2001q1,2001q2,2001q3,2001q4,2002q1,2002q2,...,2014q2,2014q3,2014q4,2015q1,2015q2,2015q3,2015q4,2016q1,2016q2,2016q3
State,RegionName,,,,,,,,,,,,,,,,,,,,,
NY,New York,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,5.154667e+05,5.228000e+05,5.280667e+05,5.322667e+05,5.408000e+05,5.572000e+05,5.728333e+05,5.828667e+05,5.916333e+05,587200.0
CA,Los Angeles,2.070667e+05,2.144667e+05,2.209667e+05,2.261667e+05,2.330000e+05,2.391000e+05,2.450667e+05,2.530333e+05,2.619667e+05,2.727000e+05,...,4.980333e+05,5.090667e+05,5.188667e+05,5.288000e+05,5.381667e+05,5.472667e+05,5.577333e+05,5.660333e+05,5.774667e+05,584050.0
IL,Chicago,1.384000e+05,1.436333e+05,1.478667e+05,1.521333e+05,1.569333e+05,1.618000e+05,1.664000e+05,1.704333e+05,1.755000e+05,1.775667e+05,...,1.926333e+05,1.957667e+05,2.012667e+05,2.010667e+05,2.060333e+05,2.083000e+05,2.079000e+05,2.060667e+05,2.082000e+05,212000.0
PA,Philadelphia,5.300000e+04,5.363333e+04,5.413333e+04,5.470000e+04,5.533333e+04,5.553333e+04,5.626667e+04,5.753333e+04,5.913333e+04,6.073333e+04,...,1.137333e+05,1.153000e+05,1.156667e+05,1.162000e+05,1.179667e+05,1.212333e+05,1.222000e+05,1.234333e+05,1.269333e+05,128700.0
AZ,Phoenix,1.118333e+05,1.143667e+05,1.160000e+05,1.174000e+05,1.196000e+05,1.215667e+05,1.227000e+05,1.243000e+05,1.265333e+05,1.283667e+05,...,1.642667e+05,1.653667e+05,1.685000e+05,1.715333e+05,1.741667e+05,1.790667e+05,1.838333e+05,1.879000e+05,1.914333e+05,195200.0
NV,Las Vegas,1.326000e+05,1.343667e+05,1.354000e+05,1.370000e+05,1.395333e+05,1.417333e+05,1.433667e+05,1.461333e+05,1.493333e+05,1.509333e+05,...,1.700667e+05,1.734000e+05,1.754667e+05,1.775000e+05,1.816000e+05,1.867667e+05,1.906333e+05,1.946000e+05,1.972000e+05,199950.0
CA,San Diego,2.229000e+05,2.343667e+05,2.454333e+05,2.560333e+05,2.672000e+05,2.762667e+05,2.845000e+05,2.919333e+05,3.012333e+05,3.128667e+05,...,4.802000e+05,4.890333e+05,4.964333e+05,5.033667e+05,5.120667e+05,5.197667e+05,5.254667e+05,5.293333e+05,5.362333e+05,539750.0
TX,Dallas,8.446667e+04,8.386667e+04,8.486667e+04,8.783333e+04,8.973333e+04,8.930000e+04,8.906667e+04,9.090000e+04,9.256667e+04,9.380000e+04,...,1.066333e+05,1.089000e+05,1.115333e+05,1.137000e+05,1.211333e+05,1.285667e+05,1.346000e+05,1.405000e+05,1.446000e+05,149300.0
CA,San Jose,3.742667e+05,4.065667e+05,4.318667e+05,4.555000e+05,4.706667e+05,4.702000e+05,4.568000e+05,4.455667e+05,4.414333e+05,4.577667e+05,...,6.794000e+05,6.970333e+05,7.149333e+05,7.314333e+05,7.567333e+05,7.764000e+05,7.891333e+05,8.036000e+05,8.189333e+05,822200.0
FL,Jacksonville,8.860000e+04,8.970000e+04,9.170000e+04,9.310000e+04,9.440000e+04,9.560000e+04,9.706667e+04,9.906667e+04,1.012333e+05,1.034333e+05,...,1.207667e+05,1.217333e+05,1.231667e+05,1.241667e+05,1.269000e+05,1.301333e+05,1.320000e+05,1.339667e+05,1.372000e+05,139900.0
CA,San Francisco,4.305000e+05,4.644667e+05,4.835333e+05,4.930000e+05,4.940667e+05,4.961333e+05,5.041000e+05,5.134000e+05,5.204333e+05,5.381667e+05,...,9.269333e+05,9.545333e+05,9.687667e+05,1.000733e+06,1.060800e+06,1.095100e+06,1.105467e+06,1.121767e+06,1.119267e+06,1106400.0
TX,Austin,1.429667e+05,1.452667e+05,1.494667e+05,1.557333e+05,1.612333e+05,1.607333e+05,1.595333e+05,1.600333e+05,1.589667e+05,1.575000e+05,...,2.488667e+05,2.528000e+05,2.581333e+05,2.665000e+05,2.750333e+05,2.816333e+05,2.872333e+05,2.935000e+05,3.014333e+05,304450.0
MI,Detroit,6.616667e+04,6.830000e+04,6.676667e+04,6.703333e+04,6.750000e+04,6.836667e+04,6.926667e+04,6.996667e+04,7.100000e+04,7.233333e+04,...,3.730000e+04,3.710000e+04,3.713333e+04,3.620000e+04,3.583333e+04,3.706667e+04,3.836667e+04,3.796667e+04,3.746667e+04,37900.0
OH,Columbus,9.436667e+04,9.583333e+04,9.713333e+04,9.826667e+04,9.940000e+04,1.002667e+05,1.010667e+05,1.022000e+05,1.034000e+05,1.048000e+05,...,1.031333e+05,1.045000e+05,1.064333e+05,1.078667e+05,1.094333e+05,1.115667e+05,1.150000e+05,1.167000e+05,1.182000e+05,120100.0
TN,Memphis,7.250000e+04,7.320000e+04,7.386667e+04,7.400000e+04,7.416667e+04,7.493333e+04,7.550000e+04,7.606667e+04,7.633333e+04,7.676667e+04,...,6.810000e+04,6.910000e+04,7.116667e+04,7.053333e+04,6.870000e+04,6.866667e+04,6.953333e+04,7.090000e+04,7.416667e+04,75900.0
NC,Charlotte,1.269333e+05,1.283667e+05,1.302000e+05,1.315667e+05,1.329333e+05,1.332000e+05,1.328000e+05,1.331000e+05,1.343667e+05,1.353667e+05,...,1.494667e+05,1.506333e+05,1.527333e+05,1.551667e+05,1.579000e+05,1.601667e+05,1.628667e+05,1.664667e+05,1.694333e+05,172400.0
TX,El Paso,7.626667e+04,7.686667e+04,7.673333e+04,7.730000e+04,7.823333e+04,7.830000e+04,7.743333e+04,7.680000e+04,7.660000e+04,7.640000e+04,...,1.118000e+05,1.117333e+05,1.117667e+05,1.115000e+05,1.113000e+05,1.110667e+05,1.102667e+05,1.106667e+05,1.114667e+05,112200.0
MA,Boston,2.069333e+05,2.191667e+05,2.331000e+05,2.425000e+05,2.496000e+05,2.570667e+05,2.669333e+05,2.749667e+05,2.825000e+05,2.893000e+05,...,4.266667e+05,4.314333e+05,4.407333e+05,4.485000e+05,4.553667e+05,4.639667e+05,4.716333e+05,4.826000e+05,4.903667e+05,501700.0
WA,Seattle,2.486000e+05,2.556000e+05,2.625333e+05,2.674000e+05,2.710000e+05,2.724333e+05,2.741667e+05,2.781667e+05,2.805000e+05,2.846000e+05,...,4.418000e+05,4.515000e+05,4.591667e+05,4.679333e+05,4.933667e+05,5.142667e+05,5.334667e+05,5.517333e+05,5.755333e+05,589700.0
MD,Baltimore,5.966667e+04,5.950000e+04,5.883333e+04,5.950000e+04,5.956667e+04,6.013333e+04,6.210000e+04,6.340000e+04,6.366667e+04,6.490000e+04,...,1.092333e+05,1.095333e+05,1.073667e+05,1.080667e+05,1.114333e+05,1.139667e+05,1.139000e+05,1.146667e+05,1.147333e+05,115150.0
CO,Denver,1.622333e+05,1.678333e+05,1.743333e+05,1.803333e+05,1.865000e+05,1.925333e+05,1.964000e+05,1.991000e+05,2.012333e+05,2.024333e+05,...,2.708667e+05,2.775000e+05,2.872333e+05,2.976333e+05,3.103667e+05,3.205000e+05,3.301000e+05,3.355667e+05,3.427667e+05,351550.0
DC,Washington,1.377667e+05,1.442000e+05,1.487000e+05,1.477000e+05,1.497667e+05,1.551333e+05,1.646333e+05,1.725333e+05,1.805000e+05,1.933000e+05,...,4.469333e+05,4.530000e+05,4.603000e+05,4.661667e+05,4.810667e+05,4.934000e+05,5.009000e+05,5.041000e+05,5.058000e+05,516250.0
TN,Nashville,1.138333e+05,1.152667e+05,1.158667e+05,1.169333e+05,1.180333e+05,1.191667e+05,1.201000e+05,1.208000e+05,1.215667e+05,1.226333e+05,...,1.607000e+05,1.623000e+05,1.669000e+05,1.714667e+05,1.762667e+05,1.818000e+05,1.892000e+05,1.950667e+05,2.003667e+05,206100.0
WI,Milwaukee,7.803333e+04,7.906667e+04,8.103333e+04,8.233333e+04,8.403333e+04,8.556667e+04,8.706667e+04,8.840000e+04,8.953333e+04,9.136667e+04,...,9.216667e+04,9.216667e+04,9.196667e+04,9.333333e+04,9.410000e+04,9.413333e+04,9.456667e+04,9.466667e+04,9.636667e+04,98850.0
AZ,Tucson,1.018333e+05,1.029667e+05,1.044667e+05,1.056667e+05,1.072000e+05,1.087667e+05,1.105667e+05,1.128000e+05,1.150000e+05,1.172000e+05,...,1.424667e+05,1.434333e+05,1.442333e+05,1.441667e+05,1.451333e+05,1.466000e+05,1.481667e+05,1.495333e+05,1.511667e+05,152700.0
OR,Portland,1.528000e+05,1.547667e+05,1.565667e+05,1.574667e+05,1.599000e+05,1.618000e+05,1.642667e+05,1.677667e+05,1.707667e+05,1.741333e+05,...,2.822333e+05,2.872667e+05,2.955333e+05,3.019333e+05,3.119000e+05,3.257333e+05,3.430667e+05,3.560000e+05,3.698000e+05,387050.0
OK,Oklahoma City,7.643333e+04,7.750000e+04,7.856667e+04,7.916667e+04,7.983333e+04,8.040000e+04,8.113333e+04,8.173333e+04,8.260000e+04,8.343333e+04,...,1.180333e+05,1.189667e+05,1.201000e+05,1.208000e+05,1.223667e+05,1.247000e+05,1.271000e+05,1.279000e+05,1.293000e+05,130300.0
NE,Omaha,1.128000e+05,1.141000e+05,1.167333e+05,1.189000e+05,1.208667e+05,1.197667e+05,1.178667e+05,1.174000e+05,1.180667e+05,1.176333e+05,...,1.301000e+05,1.303000e+05,1.325000e+05,1.330667e+05,1.344667e+05,1.367333e+05,1.400667e+05,1.416333e+05,1.426667e+05,143450.0
NM,Albuquerque,1.258667e+05,1.267000e+05,1.264333e+05,1.267333e+05,1.271000e+05,1.277333e+05,1.285667e+05,1.299000e+05,1.310667e+05,1.321000e+05,...,1.632667e+05,1.640000e+05,1.648000e+05,1.651667e+05,1.659000e+05,1.665333e+05,1.673333e+05,1.691000e+05,1.706333e+05,171900.0
CA,Fresno,9.410000e+04,9.526667e+04,9.646667e+04,9.823333e+04,1.005667e+05,1.035667e+05,1.072333e+05,1.103000e+05,1.140333e+05,1.185333e+05,...,1.696333e+05,1.736000e+05,1.781333e+05,1.804667e+05,1.820333e+05,1.857000e+05,1.874667e+05,1.890333e+05,1.927333e+05,196450.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
TX,Granite Shoals,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1.169667e+05,1.175333e+05,1.175333e+05,1.171667e+05,1.191000e+05,1.216000e+05,1.280000e+05,1.337667e+05,1.400667e+05,146450.0
MD,Piney Point,1.556667e+05,1.551667e+05,1.584667e+05,1.637000e+05,1.634000e+05,1.648333e+05,1.647000e+05,1.679000e+05,1.782667e+05,1.812000e+05,...,2.964000e+05,3.090000e+05,3.092333e+05,3.095667e+05,3.017000e+05,3.052333e+05,3.099667e+05,3.195000e+05,3.241667e+05,324600.0
WI,Maribel,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1.306000e+05,1.289667e+05,1.296333e+05,1.312667e+05,1.301333e+05,1.297333e+05,1.293000e+05,1.278333e+05,1.292667e+05,134200.0
ID,Middleton,1.060667e+05,1.043333e+05,1.019000e+05,1.041667e+05,1.061667e+05,1.083667e+05,1.110333e+05,1.112333e+05,1.141000e+05,1.141667e+05,...,1.443667e+05,1.457000e+05,1.462333e+05,1.461667e+05,1.477333e+05,1.482000e+05,1.511333e+05,1.539000e+05,1.571667e+05,160750.0
CO,Bennett,1.329000e+05,1.358333e+05,1.398000e+05,1.446667e+05,1.483000e+05,1.521000e+05,1.542333e+05,1.562000e+05,1.587333e+05,1.606333e+05,...,1.514667e+05,1.620667e+05,1.714000e+05,1.780333e+05,1.844333e+05,1.916667e+05,1.958000e+05,1.997667e+05,2.074667e+05,212600.0
NH,East Hampstead,1.618333e+05,1.691000e+05,1.739667e+05,1.805000e+05,1.909000e+05,1.950667e+05,1.992667e+05,2.074000e+05,2.123000e+05,2.122333e+05,...,2.495000e+05,2.521000e+05,2.557333e+05,2.587333e+05,2.613667e+05,2.616000e+05,2.688000e+05,2.725333e+05,2.778000e+05,282450.0
MO,Garden City,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1.055000e+05,1.043000e+05,1.047667e+05,1.060333e+05,9.606667e+04,9.930000e+04,1.034333e+05,1.062667e+05,1.116667e+05,113600.0
AR,Mountainburg,5.716667e+04,6.433333e+04,6.783333e+04,6.900000e+04,6.866667e+04,6.386667e+04,6.376667e+04,6.546667e+04,6.533333e+04,6.600000e+04,...,8.160000e+04,8.506667e+04,8.846667e+04,8.903333e+04,8.556667e+04,8.370000e+04,9.043333e+04,9.833333e+04,1.019000e+05,103400.0
WI,Oostburg,1.072667e+05,1.081000e+05,1.124333e+05,1.155000e+05,1.191000e+05,1.204333e+05,1.203667e+05,1.196333e+05,1.198667e+05,1.185667e+05,...,1.295667e+05,1.279333e+05,1.274333e+05,1.270667e+05,1.274000e+05,1.303333e+05,1.320333e+05,1.327667e+05,1.341000e+05,136350.0
CA,Twin Peaks,9.736667e+04,1.001667e+05,1.013333e+05,1.017000e+05,1.040000e+05,1.076667e+05,1.098333e+05,1.111333e+05,1.132000e+05,1.166000e+05,...,1.501000e+05,1.475333e+05,1.460667e+05,1.435000e+05,1.523000e+05,1.552667e+05,1.591667e+05,1.641667e+05,1.679667e+05,173500.0
NY,Upper Brookville,1.230967e+06,1.230967e+06,1.237700e+06,1.261567e+06,1.295167e+06,1.340033e+06,1.403667e+06,1.481933e+06,1.536167e+06,1.562033e+06,...,1.780633e+06,1.749233e+06,1.729467e+06,1.749867e+06,1.789600e+06,1.777267e+06,1.834367e+06,1.904500e+06,1.944067e+06,1968800.0
HI,Volcano,9.870000e+04,1.053667e+05,1.146667e+05,1.247667e+05,1.181333e+05,1.194000e+05,1.232667e+05,1.211667e+05,1.233000e+05,1.169000e+05,...,2.064667e+05,2.276333e+05,2.332000e+05,2.346333e+05,2.323667e+05,2.249667e+05,2.324333e+05,2.420667e+05,2.489667e+05,247850.0
SC,Wedgefield,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,7.436667e+04,7.026667e+04,7.206667e+04,7.570000e+04,7.206667e+04,7.033333e+04,6.903333e+04,6.886667e+04,7.426667e+04,80700.0
MI,Williamston,1.591667e+05,1.613000e+05,1.643000e+05,1.662000e+05,1.664333e+05,1.686333e+05,1.716667e+05,1.750333e+05,1.786667e+05,1.793333e+05,...,1.657000e+05,1.689333e+05,1.708667e+05,1.744333e+05,1.758667e+05,1.794667e+05,1.823000e+05,1.814667e+05,1.824000e+05,183000.0
AR,Decatur,6.360000e+04,6.440000e+04,6.566667e+04,6.673333e+04,6.720000e+04,6.770000e+04,6.650000e+04,6.540000e+04,6.460000e+04,6.490000e+04,...,8.966667e+04,9.256667e+04,9.470000e+04,9.350000e+04,9.490000e+04,9.543333e+04,9.700000e+04,9.650000e+04,9.663333e+04,96850.0
TN,Briceville,4.000000e+04,4.173333e+04,4.366667e+04,4.490000e+04,4.480000e+04,4.530000e+04,4.463333e+04,4.370000e+04,4.446667e+04,4.340000e+04,...,5.623333e+04,5.423333e+04,5.260000e+04,4.963333e+04,4.590000e+04,4.793333e+04,4.360000e+04,4.080000e+04,4.180000e+04,40850.0
IN,Edgewood,9.170000e+04,9.186667e+04,9.293333e+04,9.490000e+04,9.893333e+04,1.000667e+05,1.008333e+05,1.010000e+05,1.021667e+05,1.017667e+05,...,9.213333e+04,9.406667e+04,9.466667e+04,9.586667e+04,9.433333e+04,9.663333e+04,9.996667e+04,9.943333e+04,9.996667e+04,100950.0
TN,Palmyra,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1.227667e+05,1.269333e+05,1.262333e+05,1.223000e+05,1.204667e+05,1.198000e+05,1.258000e+05,1.276667e+05,1.328667e+05,137750.0
MD,Saint Inigoes,1.480667e+05,1.476000e+05,1.572333e+05,1.633667e+05,1.642333e+05,1.682000e+05,1.665000e+05,1.653333e+05,1.673000e+05,1.688000e+05,...,2.822333e+05,2.884333e+05,2.869667e+05,2.847000e+05,2.807667e+05,2.778333e+05,2.768333e+05,2.793333e+05,2.826333e+05,281400.0
IN,Marysville,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1.166000e+05,1.151000e+05,1.165000e+05,1.118667e+05,1.118000e+05,1.156667e+05,1.201667e+05,1.282333e+05,1.232333e+05,124200.0
CA,Forest Falls,1.135333e+05,1.144000e+05,1.141667e+05,1.111333e+05,1.134333e+05,1.130000e+05,1.130333e+05,1.151667e+05,1.187000e+05,1.250667e+05,...,1.653667e+05,1.675000e+05,1.771000e+05,1.765333e+05,1.818000e+05,1.911667e+05,1.987333e+05,1.886333e+05,1.898667e+05,186650.0
MO,Bois D Arc,1.078000e+05,1.069667e+05,1.071000e+05,1.081000e+05,1.107000e+05,1.136667e+05,1.126333e+05,1.127333e+05,1.130667e+05,1.154000e+05,...,1.375667e+05,1.375667e+05,1.404000e+05,1.450333e+05,1.475667e+05,1.463000e+05,1.494333e+05,1.468667e+05,1.437667e+05,144000.0
VA,Henrico,1.285667e+05,1.307667e+05,1.322667e+05,1.332667e+05,1.352333e+05,1.367333e+05,1.386000e+05,1.413333e+05,1.435333e+05,1.461333e+05,...,2.016333e+05,2.040000e+05,2.059000e+05,2.065667e+05,2.104333e+05,2.121000e+05,2.139667e+05,2.160333e+05,2.162000e+05,220150.0
NJ,Diamond Beach,1.739667e+05,1.831000e+05,1.889667e+05,1.931333e+05,1.944000e+05,2.102667e+05,2.302667e+05,2.486667e+05,2.599333e+05,2.656333e+05,...,3.818000e+05,3.878667e+05,3.876667e+05,3.931667e+05,3.980000e+05,3.992333e+05,4.004333e+05,4.045333e+05,4.039000e+05,399000.0
TN,Gruetli Laager,3.540000e+04,3.546667e+04,3.666667e+04,3.730000e+04,3.773333e+04,3.790000e+04,3.936667e+04,4.040000e+04,4.156667e+04,4.163333e+04,...,5.556667e+04,5.636667e+04,5.713333e+04,5.890000e+04,6.536667e+04,6.950000e+04,7.170000e+04,7.533333e+04,7.646667e+04,77500.0
WI,Town of Wrightstown,1.017667e+05,1.054000e+05,1.113667e+05,1.148667e+05,1.259667e+05,1.299000e+05,1.299000e+05,1.294333e+05,1.319000e+05,1.342000e+05,...,1.448667e+05,1.468667e+05,1.492333e+05,1.486667e+05,1.493333e+05,1.498667e+05,1.499333e+05,1.498333e+05,1.512667e+05,155000.0
NY,Urbana,7.920000e+04,8.166667e+04,9.170000e+04,9.836667e+04,9.486667e+04,9.853333e+04,1.029667e+05,9.803333e+04,9.396667e+04,9.460000e+04,...,1.321333e+05,1.370333e+05,1.400667e+05,1.417000e+05,1.378667e+05,1.364667e+05,1.361667e+05,1.389667e+05,1.442000e+05,143000.0
WI,New Denmark,1.145667e+05,1.192667e+05,1.260667e+05,1.319667e+05,1.438000e+05,1.469667e+05,1.483667e+05,1.491667e+05,1.531333e+05,1.567333e+05,...,1.745667e+05,1.811667e+05,1.861667e+05,1.876000e+05,1.886667e+05,1.884333e+05,1.889333e+05,1.910667e+05,1.928333e+05,197600.0
CA,Angels,1.510000e+05,1.559000e+05,1.581000e+05,1.674667e+05,1.768333e+05,1.837667e+05,1.902333e+05,1.845667e+05,1.840333e+05,1.861333e+05,...,2.444667e+05,2.540667e+05,2.599333e+05,2.601000e+05,2.506333e+05,2.635000e+05,2.795000e+05,2.765333e+05,2.716000e+05,269950.0
WI,Holland,1.510333e+05,1.505000e+05,1.532333e+05,1.558333e+05,1.618667e+05,1.657333e+05,1.680333e+05,1.674000e+05,1.657667e+05,1.619667e+05,...,2.012667e+05,2.015667e+05,2.012667e+05,2.060000e+05,2.076000e+05,2.128667e+05,2.178333e+05,2.219667e+05,2.280333e+05,234950.0

In [7]:
convert_housing_data_to_quarters()['2016q3'].isnull().sum()

0

In [147]:
hd = convert_housing_data_to_quarters()

In [148]:
columns = hd.columns
start = '2008q3' # get_recession_start()
bottom = '2009q2' # get_recession_bottom()
i, j = -1, -1
for x in range(0, len(columns)):
    if columns[x] == start:
        i = x
    if columns[x] == bottom:
        j = x
cols = columns[i: j+1]
cols
hds = hd[cols]
hds

,,2008q3,2008q4,2009q1,2009q2
State,RegionName,,,,
NY,New York,4.997667e+05,4.879333e+05,4.777333e+05,4.658333e+05
CA,Los Angeles,4.695000e+05,4.439667e+05,4.262667e+05,4.139000e+05
IL,Chicago,2.320000e+05,2.270333e+05,2.237667e+05,2.197000e+05
PA,Philadelphia,1.169333e+05,1.158667e+05,1.162000e+05,1.161667e+05
AZ,Phoenix,1.937667e+05,1.833333e+05,1.775667e+05,1.682333e+05
NV,Las Vegas,2.133667e+05,1.949333e+05,1.812000e+05,1.643333e+05
CA,San Diego,4.246667e+05,4.076333e+05,3.957000e+05,3.895000e+05
TX,Dallas,1.121667e+05,1.099000e+05,1.076667e+05,1.051000e+05
CA,San Jose,5.831333e+05,5.601000e+05,5.481667e+05,5.303000e+05
FL,Jacksonville,1.547333e+05,1.491667e+05,1.452667e+05,1.408333e+05
CA,San Francisco,7.543667e+05,7.403667e+05,7.182333e+05,6.950000e+05
TX,Austin,2.110333e+05,2.074667e+05,2.070000e+05,2.040000e+05
MI,Detroit,6.596667e+04,6.380000e+04,6.173333e+04,6.010000e+04
OH,Columbus,1.122000e+05,1.116000e+05,1.109667e+05,1.097667e+05
TN,Memphis,8.370000e+04,8.090000e+04,7.796667e+04,7.600000e+04
NC,Charlotte,1.587000e+05,1.558000e+05,1.524333e+05,1.498333e+05
TX,El Paso,1.160667e+05,1.163000e+05,1.177000e+05,1.187000e+05
MA,Boston,3.473333e+05,3.411333e+05,3.286333e+05,3.252000e+05
WA,Seattle,4.347333e+05,4.239000e+05,4.096000e+05,3.938667e+05
MD,Baltimore,1.252667e+05,1.242667e+05,1.241333e+05,1.232333e+05
CO,Denver,2.209000e+05,2.167333e+05,2.118000e+05,2.094333e+05
DC,Washington,3.693333e+05,3.620000e+05,3.550333e+05,3.494000e+05
TN,Nashville,1.543333e+05,1.542000e+05,1.524000e+05,1.501333e+05
WI,Milwaukee,1.279000e+05,1.245000e+05,1.206000e+05,1.167333e+05
AZ,Tucson,1.757667e+05,1.721333e+05,1.688667e+05,1.643667e+05
OR,Portland,2.816333e+05,2.776333e+05,2.793000e+05,2.747333e+05
OK,Oklahoma City,1.092000e+05,1.093667e+05,1.078333e+05,1.071000e+05
NE,Omaha,1.294000e+05,1.307667e+05,1.276667e+05,1.262000e+05
NM,Albuquerque,1.935667e+05,1.943000e+05,1.954000e+05,1.953667e+05
CA,Fresno,1.997000e+05,1.852667e+05,1.784333e+05,1.693333e+05
...,...,...,...,...,...
TX,Granite Shoals,NaN,NaN,NaN,NaN
MD,Piney Point,3.591333e+05,3.430333e+05,3.415000e+05,3.412000e+05
WI,Maribel,NaN,NaN,NaN,NaN
ID,Middleton,1.764000e+05,1.722000e+05,1.673667e+05,1.616000e+05
CO,Bennett,1.477667e+05,1.464000e+05,1.444333e+05,1.392333e+05
NH,East Hampstead,2.611333e+05,2.550000e+05,2.498333e+05,2.427000e+05
MO,Garden City,NaN,NaN,NaN,NaN
AR,Mountainburg,8.313333e+04,8.243333e+04,8.590000e+04,8.580000e+04
WI,Oostburg,1.474000e+05,1.447333e+05,1.429333e+05,1.403333e+05
CA,Twin Peaks,2.127000e+05,2.052000e+05,2.041000e+05,1.966333e+05
NY,Upper Brookville,2.207300e+06,2.179200e+06,2.146367e+06,2.102767e+06
HI,Volcano,2.378333e+05,2.234667e+05,2.148667e+05,2.065667e+05
SC,Wedgefield,NaN,NaN,NaN,NaN
MI,Williamston,1.806667e+05,1.714667e+05,1.656333e+05,1.580333e+05
AR,Decatur,9.066667e+04,8.966667e+04,9.270000e+04,9.330000e+04
TN,Briceville,5.396667e+04,5.333333e+04,5.410000e+04,5.310000e+04
IN,Edgewood,9.993333e+04,1.027000e+05,1.047333e+05,1.048667e+05
TN,Palmyra,NaN,NaN,NaN,NaN
MD,Saint Inigoes,3.229000e+05,3.118333e+05,3.072667e+05,3.033667e+05
IN,Marysville,NaN,NaN,NaN,NaN
CA,Forest Falls,1.872333e+05,1.804000e+05,1.866667e+05,1.701000e+05
MO,Bois D Arc,1.205333e+05,1.246667e+05,1.306667e+05,1.352667e+05
VA,Henrico,2.228333e+05,2.197667e+05,2.165333e+05,2.136667e+05
NJ,Diamond Beach,4.638667e+05,4.657333e+05,4.425000e+05,4.275000e+05
TN,Gruetli Laager,5.100000e+04,5.576667e+04,6.236667e+04,6.743333e+04
WI,Town of Wrightstown,1.496333e+05,1.494333e+05,1.465667e+05,1.448333e+05
NY,Urbana,1.179000e+05,1.223000e+05,1.232000e+05,1.234333e+05
WI,New Denmark,1.755000e+05,1.776000e+05,1.773333e+05,1.788333e+05
CA,Angels,2.966667e+05,2.823333e+05,2.875333e+05,2.828667e+05
WI,Holland,2.242000e+05,2.249000e+05,2.093333e+05,1.982000e+05

In [149]:
hds = hds.reset_index()
hds.State = hds.State.map(states)
hds = hds.set_index(['State', 'RegionName'])
hds.head()

,,2008q3,2008q4,2009q1,2009q2
State,RegionName,,,,
New York,New York,499766.666667,487933.333333,477733.333333,465833.333333
California,Los Angeles,469500.000000,443966.666667,426266.666667,413900.000000
Illinois,Chicago,232000.000000,227033.333333,223766.666667,219700.000000
Pennsylvania,Philadelphia,116933.333333,115866.666667,116200.000000,116166.666667
Arizona,Phoenix,193766.666667,183333.333333,177566.666667,168233.333333

In [150]:
ut = get_list_of_university_towns()
ut.head()

     State    RegionName
1  Alabama        Auburn
2  Alabama      Florence
3  Alabama  Jacksonville
4  Alabama    Livingston
5  Alabama    Montevallo

In [151]:
ut_price = pd.merge(hds, ut, left_index=True, right_on=['State', 'RegionName']).set_index(['State', 'RegionName'])
ut_price

                                        2008q3         2008q4         2009q1  \
State          RegionName
Nevada         Las Vegas         213366.666667  194933.333333  181200.000000
California     San Diego         424666.666667  407633.333333  395700.000000
Texas          Dallas            112166.666667  109900.000000  107666.666667
Ohio           Columbus          112200.000000  111600.000000  110966.666667
Tennessee      Memphis            83700.000000   80900.000000   77966.666667
Massachusetts  Boston            347333.333333  341133.333333  328633.333333
Tennessee      Nashville         154333.333333  154200.000000  152400.000000
Wisconsin      Milwaukee         127900.000000  124500.000000  120600.000000
Arizona        Tucson            175766.666667  172133.333333  168866.666667
California     Sacramento        233266.666667  217366.666667  208833.333333
Georgia        Atlanta           177466.666667  170566.666667  165200.000000
Oklahoma       Tulsa              92833.333333   92400.000000   92100.000000
Florida        Tampa             156400.000000  148066.666667  142833.333333
California     Riverside         325500.000000  299133.333333  264200.000000
Kentucky       Lexington         141700.000000  139633.333333  138933.333333
New Jersey     Newark            281800.000000  273733.333333  266466.666667
Kentucky       Louisville         98433.333333   97733.333333   97500.000000
Texas          Lubbock            93633.333333   96500.000000  100766.666667
North Carolina Durham            161766.666667  160366.666667  158300.000000
Florida        Orlando           168566.666667  154166.666667  150133.333333
Nebraska       Lincoln           127966.666667  127733.333333  127066.666667
Virginia       Chesapeake        253300.000000  250666.666667  246600.000000
Wisconsin      Madison           194400.000000  194233.333333  193133.333333
Tennessee      Knoxville         109666.666667  110066.666667  114233.333333
North Carolina Winston-Salem     125133.333333  123600.000000  121700.000000
California     Irvine            653966.666667  630466.666667  617733.333333
Florida        Boca Raton        262133.333333  246666.666667  237466.666667
Nevada         Reno              261333.333333  247866.666667  238700.000000
Florida        Gainesville       177800.000000  170000.000000  166333.333333
Utah           Salt Lake City    250033.333333  257833.333333  265766.666667
...                                        ...            ...            ...
Virginia       Wise              115566.666667  120500.000000  123466.666667
Pennsylvania   Edinboro          120366.666667  120633.333333  118866.666667
               Collegeville      318933.333333  319166.666667  313033.333333
Massachusetts  Paxton            273966.666667  267600.000000  259966.666667
Pennsylvania   Kutztown          183400.000000  175566.666667  175166.666667
Indiana        Upland             97233.333333   98700.000000  100566.666667
Vermont        Castleton         170200.000000  163100.000000  166033.333333
Pennsylvania   Annville          141600.000000  141666.666667  138233.333333
Kentucky       Wilmore           122833.333333  121666.666667  119133.333333
New York       Clinton           329000.000000  322600.000000  314766.666667
               Clinton           163966.666667  163933.333333  161400.000000
Tennessee      Henderson          75266.666667   77766.666667   79233.333333
Michigan       Olivet            107566.666667  102600.000000  105866.666667
Indiana        Hanover            88000.000000   86700.000000   87266.666667
Georgia        Waleska           167100.000000  167800.000000  167433.333333
Michigan       Spring Arbor      116700.000000  116433.333333  115733.333333
New Hampshire  Rindge            212166.666667  201800.000000  196066.666667
North Carolina Elon              156333.333333  154800.000000  154100.000000
Ohio           Hiram             180566.666667  177800.000000  183166.666667
Georgia        Demorest          111766.666667  107766.666667  111600.000000
Pennsylvania   New Wilmington    143250.000000  140733.333333  142100.000000
Ohio           Cedarville        142900.000000  142000.000000  138766.666667
Pennsylvania   California         71566.666667   73466.666667   77133.333333
Kentucky       Highland Heights   98033.333333   96166.666667   95666.666667
Rhode Island   Kingston          329900.000000  322800.000000  317233.333333
Illinois       Lebanon           122900.000000  121233.333333  121433.333333
Michigan       Berrien Springs   114466.666667  112800.000000  108133.333333
Indiana        Oakland City       55166.666667   52266.666667   51666.666667
Ohio           Oberlin           126433.333333  126433.333333  125900.000000
Texas          Keene              98900.000000   97566.666667   96400.000000

                                        2009q2
State          RegionName
Nevada         Las Vegas         164333.333333
California     San Diego         389500.000000
Texas          Dallas            105100.000000
Ohio           Columbus          109766.666667
Tennessee      Memphis            76000.000000
Massachusetts  Boston            325200.000000
Tennessee      Nashville         150133.333333
Wisconsin      Milwaukee         116733.333333
Arizona        Tucson            164366.666667
California     Sacramento        199800.000000
Georgia        Atlanta           160166.666667
Oklahoma       Tulsa              91500.000000
Florida        Tampa             135300.000000
California     Riverside         236466.666667
Kentucky       Lexington         139866.666667
New Jersey     Newark            257233.333333
Kentucky       Louisville         97033.333333
Texas          Lubbock           104900.000000
North Carolina Durham            157166.666667
Florida        Orlando           144200.000000
Nebraska       Lincoln           126433.333333
Virginia       Chesapeake        243000.000000
Wisconsin      Madison           191433.333333
Tennessee      Knoxville         115566.666667
North Carolina Winston-Salem     120066.666667
California     Irvine            609933.333333
Florida        Boca Raton        228000.000000
Nevada         Reno              225700.000000
Florida        Gainesville       162333.333333
Utah           Salt Lake City    270300.000000
...                                        ...
Virginia       Wise              119500.000000
Pennsylvania   Edinboro          119033.333333
               Collegeville      305000.000000
Massachusetts  Paxton            251833.333333
Pennsylvania   Kutztown          172066.666667
Indiana        Upland            101266.666667
Vermont        Castleton         166933.333333
Pennsylvania   Annville          140366.666667
Kentucky       Wilmore           117266.666667
New York       Clinton           308766.666667
               Clinton           163566.666667
Tennessee      Henderson          79000.000000
Michigan       Olivet            106500.000000
Indiana        Hanover            86766.666667
Georgia        Waleska           166033.333333
Michigan       Spring Arbor      118533.333333
New Hampshire  Rindge            192800.000000
North Carolina Elon              155066.666667
Ohio           Hiram             185433.333333
Georgia        Demorest          111433.333333
Pennsylvania   New Wilmington    143466.666667
Ohio           Cedarville        136900.000000
Pennsylvania   California         80366.666667
Kentucky       Highland Heights   96633.333333
Rhode Island   Kingston          316500.000000
Illinois       Lebanon           120700.000000
Michigan       Berrien Springs   105733.333333
Indiana        Oakland City       50866.666667
Ohio           Oberlin           125100.000000
Texas          Keene              95900.000000

[254 rows x 4 columns]

In [152]:
ut_price['Growth'] = ut_price['2009q2'] - ut_price['2008q3']
ut_price

                                        2008q3         2008q4         2009q1  \
State          RegionName
Nevada         Las Vegas         213366.666667  194933.333333  181200.000000
California     San Diego         424666.666667  407633.333333  395700.000000
Texas          Dallas            112166.666667  109900.000000  107666.666667
Ohio           Columbus          112200.000000  111600.000000  110966.666667
Tennessee      Memphis            83700.000000   80900.000000   77966.666667
Massachusetts  Boston            347333.333333  341133.333333  328633.333333
Tennessee      Nashville         154333.333333  154200.000000  152400.000000
Wisconsin      Milwaukee         127900.000000  124500.000000  120600.000000
Arizona        Tucson            175766.666667  172133.333333  168866.666667
California     Sacramento        233266.666667  217366.666667  208833.333333
Georgia        Atlanta           177466.666667  170566.666667  165200.000000
Oklahoma       Tulsa              92833.333333   92400.000000   92100.000000
Florida        Tampa             156400.000000  148066.666667  142833.333333
California     Riverside         325500.000000  299133.333333  264200.000000
Kentucky       Lexington         141700.000000  139633.333333  138933.333333
New Jersey     Newark            281800.000000  273733.333333  266466.666667
Kentucky       Louisville         98433.333333   97733.333333   97500.000000
Texas          Lubbock            93633.333333   96500.000000  100766.666667
North Carolina Durham            161766.666667  160366.666667  158300.000000
Florida        Orlando           168566.666667  154166.666667  150133.333333
Nebraska       Lincoln           127966.666667  127733.333333  127066.666667
Virginia       Chesapeake        253300.000000  250666.666667  246600.000000
Wisconsin      Madison           194400.000000  194233.333333  193133.333333
Tennessee      Knoxville         109666.666667  110066.666667  114233.333333
North Carolina Winston-Salem     125133.333333  123600.000000  121700.000000
California     Irvine            653966.666667  630466.666667  617733.333333
Florida        Boca Raton        262133.333333  246666.666667  237466.666667
Nevada         Reno              261333.333333  247866.666667  238700.000000
Florida        Gainesville       177800.000000  170000.000000  166333.333333
Utah           Salt Lake City    250033.333333  257833.333333  265766.666667
...                                        ...            ...            ...
Virginia       Wise              115566.666667  120500.000000  123466.666667
Pennsylvania   Edinboro          120366.666667  120633.333333  118866.666667
               Collegeville      318933.333333  319166.666667  313033.333333
Massachusetts  Paxton            273966.666667  267600.000000  259966.666667
Pennsylvania   Kutztown          183400.000000  175566.666667  175166.666667
Indiana        Upland             97233.333333   98700.000000  100566.666667
Vermont        Castleton         170200.000000  163100.000000  166033.333333
Pennsylvania   Annville          141600.000000  141666.666667  138233.333333
Kentucky       Wilmore           122833.333333  121666.666667  119133.333333
New York       Clinton           329000.000000  322600.000000  314766.666667
               Clinton           163966.666667  163933.333333  161400.000000
Tennessee      Henderson          75266.666667   77766.666667   79233.333333
Michigan       Olivet            107566.666667  102600.000000  105866.666667
Indiana        Hanover            88000.000000   86700.000000   87266.666667
Georgia        Waleska           167100.000000  167800.000000  167433.333333
Michigan       Spring Arbor      116700.000000  116433.333333  115733.333333
New Hampshire  Rindge            212166.666667  201800.000000  196066.666667
North Carolina Elon              156333.333333  154800.000000  154100.000000
Ohio           Hiram             180566.666667  177800.000000  183166.666667
Georgia        Demorest          111766.666667  107766.666667  111600.000000
Pennsylvania   New Wilmington    143250.000000  140733.333333  142100.000000
Ohio           Cedarville        142900.000000  142000.000000  138766.666667
Pennsylvania   California         71566.666667   73466.666667   77133.333333
Kentucky       Highland Heights   98033.333333   96166.666667   95666.666667
Rhode Island   Kingston          329900.000000  322800.000000  317233.333333
Illinois       Lebanon           122900.000000  121233.333333  121433.333333
Michigan       Berrien Springs   114466.666667  112800.000000  108133.333333
Indiana        Oakland City       55166.666667   52266.666667   51666.666667
Ohio           Oberlin           126433.333333  126433.333333  125900.000000
Texas          Keene              98900.000000   97566.666667   96400.000000

                                        2009q2        Growth
State          RegionName
Nevada         Las Vegas         164333.333333 -49033.333333
California     San Diego         389500.000000 -35166.666667
Texas          Dallas            105100.000000  -7066.666667
Ohio           Columbus          109766.666667  -2433.333333
Tennessee      Memphis            76000.000000  -7700.000000
Massachusetts  Boston            325200.000000 -22133.333333
Tennessee      Nashville         150133.333333  -4200.000000
Wisconsin      Milwaukee         116733.333333 -11166.666667
Arizona        Tucson            164366.666667 -11400.000000
California     Sacramento        199800.000000 -33466.666667
Georgia        Atlanta           160166.666667 -17300.000000
Oklahoma       Tulsa              91500.000000  -1333.333333
Florida        Tampa             135300.000000 -21100.000000
California     Riverside         236466.666667 -89033.333333
Kentucky       Lexington         139866.666667  -1833.333333
New Jersey     Newark            257233.333333 -24566.666667
Kentucky       Louisville         97033.333333  -1400.000000
Texas          Lubbock           104900.000000  11266.666667
North Carolina Durham            157166.666667  -4600.000000
Florida        Orlando           144200.000000 -24366.666667
Nebraska       Lincoln           126433.333333  -1533.333333
Virginia       Chesapeake        243000.000000 -10300.000000
Wisconsin      Madison           191433.333333  -2966.666667
Tennessee      Knoxville         115566.666667   5900.000000
North Carolina Winston-Salem     120066.666667  -5066.666667
California     Irvine            609933.333333 -44033.333333
Florida        Boca Raton        228000.000000 -34133.333333
Nevada         Reno              225700.000000 -35633.333333
Florida        Gainesville       162333.333333 -15466.666667
Utah           Salt Lake City    270300.000000  20266.666667
...                                        ...           ...
Virginia       Wise              119500.000000   3933.333333
Pennsylvania   Edinboro          119033.333333  -1333.333333
               Collegeville      305000.000000 -13933.333333
Massachusetts  Paxton            251833.333333 -22133.333333
Pennsylvania   Kutztown          172066.666667 -11333.333333
Indiana        Upland            101266.666667   4033.333333
Vermont        Castleton         166933.333333  -3266.666667
Pennsylvania   Annville          140366.666667  -1233.333333
Kentucky       Wilmore           117266.666667  -5566.666667
New York       Clinton           308766.666667 -20233.333333
               Clinton           163566.666667   -400.000000
Tennessee      Henderson          79000.000000   3733.333333
Michigan       Olivet            106500.000000  -1066.666667
Indiana        Hanover            86766.666667  -1233.333333
Georgia        Waleska           166033.333333  -1066.666667
Michigan       Spring Arbor      118533.333333   1833.333333
New Hampshire  Rindge            192800.000000 -19366.666667
North Carolina Elon              155066.666667  -1266.666667
Ohio           Hiram             185433.333333   4866.666667
Georgia        Demorest          111433.333333   -333.333333
Pennsylvania   New Wilmington    143466.666667    216.666667
Ohio           Cedarville        136900.000000  -6000.000000
Pennsylvania   California         80366.666667   8800.000000
Kentucky       Highland Heights   96633.333333  -1400.000000
Rhode Island   Kingston          316500.000000 -13400.000000
Illinois       Lebanon           120700.000000  -2200.000000
Michigan       Berrien Springs   105733.333333  -8733.333333
Indiana        Oakland City       50866.666667  -4300.000000
Ohio           Oberlin           125100.000000  -1333.333333
Texas          Keene              95900.000000  -3000.000000

[254 rows x 5 columns]

In [153]:
nut_price = hds.drop(ut_price.index, axis=0)
nut_price

,,2008q3,2008q4,2009q1,2009q2
State,RegionName,,,,
New York,New York,4.997667e+05,4.879333e+05,4.777333e+05,4.658333e+05
California,Los Angeles,4.695000e+05,4.439667e+05,4.262667e+05,4.139000e+05
Illinois,Chicago,2.320000e+05,2.270333e+05,2.237667e+05,2.197000e+05
Pennsylvania,Philadelphia,1.169333e+05,1.158667e+05,1.162000e+05,1.161667e+05
Arizona,Phoenix,1.937667e+05,1.833333e+05,1.775667e+05,1.682333e+05
California,San Jose,5.831333e+05,5.601000e+05,5.481667e+05,5.303000e+05
Florida,Jacksonville,1.547333e+05,1.491667e+05,1.452667e+05,1.408333e+05
California,San Francisco,7.543667e+05,7.403667e+05,7.182333e+05,6.950000e+05
Texas,Austin,2.110333e+05,2.074667e+05,2.070000e+05,2.040000e+05
Michigan,Detroit,6.596667e+04,6.380000e+04,6.173333e+04,6.010000e+04
North Carolina,Charlotte,1.587000e+05,1.558000e+05,1.524333e+05,1.498333e+05
Texas,El Paso,1.160667e+05,1.163000e+05,1.177000e+05,1.187000e+05
Washington,Seattle,4.347333e+05,4.239000e+05,4.096000e+05,3.938667e+05
Maryland,Baltimore,1.252667e+05,1.242667e+05,1.241333e+05,1.232333e+05
Colorado,Denver,2.209000e+05,2.167333e+05,2.118000e+05,2.094333e+05
District of Columbia,Washington,3.693333e+05,3.620000e+05,3.550333e+05,3.494000e+05
Oregon,Portland,2.816333e+05,2.776333e+05,2.793000e+05,2.747333e+05
Oklahoma,Oklahoma City,1.092000e+05,1.093667e+05,1.078333e+05,1.071000e+05
Nebraska,Omaha,1.294000e+05,1.307667e+05,1.276667e+05,1.262000e+05
New Mexico,Albuquerque,1.935667e+05,1.943000e+05,1.954000e+05,1.953667e+05
California,Fresno,1.997000e+05,1.852667e+05,1.784333e+05,1.693333e+05
Arizona,Mesa,1.915667e+05,1.807667e+05,1.750333e+05,1.670000e+05
California,Long Beach,4.263000e+05,4.098333e+05,3.975000e+05,3.876667e+05
Missouri,Kansas City,1.516333e+05,1.426000e+05,1.350667e+05,1.253333e+05
Virginia,Virginia Beach,2.638333e+05,2.587000e+05,2.521000e+05,2.487333e+05
Colorado,Colorado Springs,1.957667e+05,1.929333e+05,1.859333e+05,1.832333e+05
Florida,Miami,2.959000e+05,2.697333e+05,2.492000e+05,2.267667e+05
California,Oakland,4.245333e+05,3.995000e+05,3.900000e+05,3.758333e+05
Ohio,Cleveland,7.120000e+04,6.980000e+04,6.836667e+04,6.646667e+04
Hawaii,Honolulu,5.392000e+05,5.275333e+05,5.171333e+05,5.037000e+05
...,...,...,...,...,...
Texas,Granite Shoals,NaN,NaN,NaN,NaN
Maryland,Piney Point,3.591333e+05,3.430333e+05,3.415000e+05,3.412000e+05
Wisconsin,Maribel,NaN,NaN,NaN,NaN
Idaho,Middleton,1.764000e+05,1.722000e+05,1.673667e+05,1.616000e+05
Colorado,Bennett,1.477667e+05,1.464000e+05,1.444333e+05,1.392333e+05
New Hampshire,East Hampstead,2.611333e+05,2.550000e+05,2.498333e+05,2.427000e+05
Missouri,Garden City,NaN,NaN,NaN,NaN
Arkansas,Mountainburg,8.313333e+04,8.243333e+04,8.590000e+04,8.580000e+04
Wisconsin,Oostburg,1.474000e+05,1.447333e+05,1.429333e+05,1.403333e+05
California,Twin Peaks,2.127000e+05,2.052000e+05,2.041000e+05,1.966333e+05
New York,Upper Brookville,2.207300e+06,2.179200e+06,2.146367e+06,2.102767e+06
Hawaii,Volcano,2.378333e+05,2.234667e+05,2.148667e+05,2.065667e+05
South Carolina,Wedgefield,NaN,NaN,NaN,NaN
Michigan,Williamston,1.806667e+05,1.714667e+05,1.656333e+05,1.580333e+05
Arkansas,Decatur,9.066667e+04,8.966667e+04,9.270000e+04,9.330000e+04
Tennessee,Briceville,5.396667e+04,5.333333e+04,5.410000e+04,5.310000e+04
Indiana,Edgewood,9.993333e+04,1.027000e+05,1.047333e+05,1.048667e+05
Tennessee,Palmyra,NaN,NaN,NaN,NaN
Maryland,Saint Inigoes,3.229000e+05,3.118333e+05,3.072667e+05,3.033667e+05
Indiana,Marysville,NaN,NaN,NaN,NaN
California,Forest Falls,1.872333e+05,1.804000e+05,1.866667e+05,1.701000e+05
Missouri,Bois D Arc,1.205333e+05,1.246667e+05,1.306667e+05,1.352667e+05
Virginia,Henrico,2.228333e+05,2.197667e+05,2.165333e+05,2.136667e+05
New Jersey,Diamond Beach,4.638667e+05,4.657333e+05,4.425000e+05,4.275000e+05
Tennessee,Gruetli Laager,5.100000e+04,5.576667e+04,6.236667e+04,6.743333e+04
Wisconsin,Town of Wrightstown,1.496333e+05,1.494333e+05,1.465667e+05,1.448333e+05
New York,Urbana,1.179000e+05,1.223000e+05,1.232000e+05,1.234333e+05
Wisconsin,New Denmark,1.755000e+05,1.776000e+05,1.773333e+05,1.788333e+05
California,Angels,2.966667e+05,2.823333e+05,2.875333e+05,2.828667e+05
Wisconsin,Holland,2.242000e+05,2.249000e+05,2.093333e+05,1.982000e+05

In [154]:
nut_price['Growth'] = nut_price['2009q2'] - nut_price['2008q3']
nut_price

/Users/zhujun/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

,,2008q3,2008q4,2009q1,2009q2,Growth
State,RegionName,,,,,
New York,New York,4.997667e+05,4.879333e+05,4.777333e+05,4.658333e+05,-33933.333333
California,Los Angeles,4.695000e+05,4.439667e+05,4.262667e+05,4.139000e+05,-55600.000000
Illinois,Chicago,2.320000e+05,2.270333e+05,2.237667e+05,2.197000e+05,-12300.000000
Pennsylvania,Philadelphia,1.169333e+05,1.158667e+05,1.162000e+05,1.161667e+05,-766.666667
Arizona,Phoenix,1.937667e+05,1.833333e+05,1.775667e+05,1.682333e+05,-25533.333333
California,San Jose,5.831333e+05,5.601000e+05,5.481667e+05,5.303000e+05,-52833.333333
Florida,Jacksonville,1.547333e+05,1.491667e+05,1.452667e+05,1.408333e+05,-13900.000000
California,San Francisco,7.543667e+05,7.403667e+05,7.182333e+05,6.950000e+05,-59366.666667
Texas,Austin,2.110333e+05,2.074667e+05,2.070000e+05,2.040000e+05,-7033.333333
Michigan,Detroit,6.596667e+04,6.380000e+04,6.173333e+04,6.010000e+04,-5866.666667
North Carolina,Charlotte,1.587000e+05,1.558000e+05,1.524333e+05,1.498333e+05,-8866.666667
Texas,El Paso,1.160667e+05,1.163000e+05,1.177000e+05,1.187000e+05,2633.333333
Washington,Seattle,4.347333e+05,4.239000e+05,4.096000e+05,3.938667e+05,-40866.666667
Maryland,Baltimore,1.252667e+05,1.242667e+05,1.241333e+05,1.232333e+05,-2033.333333
Colorado,Denver,2.209000e+05,2.167333e+05,2.118000e+05,2.094333e+05,-11466.666667
District of Columbia,Washington,3.693333e+05,3.620000e+05,3.550333e+05,3.494000e+05,-19933.333333
Oregon,Portland,2.816333e+05,2.776333e+05,2.793000e+05,2.747333e+05,-6900.000000
Oklahoma,Oklahoma City,1.092000e+05,1.093667e+05,1.078333e+05,1.071000e+05,-2100.000000
Nebraska,Omaha,1.294000e+05,1.307667e+05,1.276667e+05,1.262000e+05,-3200.000000
New Mexico,Albuquerque,1.935667e+05,1.943000e+05,1.954000e+05,1.953667e+05,1800.000000
California,Fresno,1.997000e+05,1.852667e+05,1.784333e+05,1.693333e+05,-30366.666667
Arizona,Mesa,1.915667e+05,1.807667e+05,1.750333e+05,1.670000e+05,-24566.666667
California,Long Beach,4.263000e+05,4.098333e+05,3.975000e+05,3.876667e+05,-38633.333333
Missouri,Kansas City,1.516333e+05,1.426000e+05,1.350667e+05,1.253333e+05,-26300.000000
Virginia,Virginia Beach,2.638333e+05,2.587000e+05,2.521000e+05,2.487333e+05,-15100.000000
Colorado,Colorado Springs,1.957667e+05,1.929333e+05,1.859333e+05,1.832333e+05,-12533.333333
Florida,Miami,2.959000e+05,2.697333e+05,2.492000e+05,2.267667e+05,-69133.333333
California,Oakland,4.245333e+05,3.995000e+05,3.900000e+05,3.758333e+05,-48700.000000
Ohio,Cleveland,7.120000e+04,6.980000e+04,6.836667e+04,6.646667e+04,-4733.333333
Hawaii,Honolulu,5.392000e+05,5.275333e+05,5.171333e+05,5.037000e+05,-35500.000000
...,...,...,...,...,...,...
Texas,Granite Shoals,NaN,NaN,NaN,NaN,NaN
Maryland,Piney Point,3.591333e+05,3.430333e+05,3.415000e+05,3.412000e+05,-17933.333333
Wisconsin,Maribel,NaN,NaN,NaN,NaN,NaN
Idaho,Middleton,1.764000e+05,1.722000e+05,1.673667e+05,1.616000e+05,-14800.000000
Colorado,Bennett,1.477667e+05,1.464000e+05,1.444333e+05,1.392333e+05,-8533.333333
New Hampshire,East Hampstead,2.611333e+05,2.550000e+05,2.498333e+05,2.427000e+05,-18433.333333
Missouri,Garden City,NaN,NaN,NaN,NaN,NaN
Arkansas,Mountainburg,8.313333e+04,8.243333e+04,8.590000e+04,8.580000e+04,2666.666667
Wisconsin,Oostburg,1.474000e+05,1.447333e+05,1.429333e+05,1.403333e+05,-7066.666667
California,Twin Peaks,2.127000e+05,2.052000e+05,2.041000e+05,1.966333e+05,-16066.666667
New York,Upper Brookville,2.207300e+06,2.179200e+06,2.146367e+06,2.102767e+06,-104533.333333
Hawaii,Volcano,2.378333e+05,2.234667e+05,2.148667e+05,2.065667e+05,-31266.666667
South Carolina,Wedgefield,NaN,NaN,NaN,NaN,NaN
Michigan,Williamston,1.806667e+05,1.714667e+05,1.656333e+05,1.580333e+05,-22633.333333
Arkansas,Decatur,9.066667e+04,8.966667e+04,9.270000e+04,9.330000e+04,2633.333333
Tennessee,Briceville,5.396667e+04,5.333333e+04,5.410000e+04,5.310000e+04,-866.666667
Indiana,Edgewood,9.993333e+04,1.027000e+05,1.047333e+05,1.048667e+05,4933.333333
Tennessee,Palmyra,NaN,NaN,NaN,NaN,NaN
Maryland,Saint Inigoes,3.229000e+05,3.118333e+05,3.072667e+05,3.033667e+05,-19533.333333
Indiana,Marysville,NaN,NaN,NaN,NaN,NaN
California,Forest Falls,1.872333e+05,1.804000e+05,1.866667e+05,1.701000e+05,-17133.333333
Missouri,Bois D Arc,1.205333e+05,1.246667e+05,1.306667e+05,1.352667e+05,14733.333333
Virginia,Henrico,2.228333e+05,2.197667e+05,2.165333e+05,2.136667e+05,-9166.666667
New Jersey,Diamond Beach,4.638667e+05,4.657333e+05,4.425000e+05,4.275000e+05,-36366.666667
Tennessee,Gruetli Laager,5.100000e+04,5.576667e+04,6.236667e+04,6.743333e+04,16433.333333
Wisconsin,Town of Wrightstown,1.496333e+05,1.494333e+05,1.465667e+05,1.448333e+05,-4800.000000
New York,Urbana,1.179000e+05,1.223000e+05,1.232000e+05,1.234333e+05,5533.333333
Wisconsin,New Denmark,1.755000e+05,1.776000e+05,1.773333e+05,1.788333e+05,3333.333333
California,Angels,2.966667e+05,2.823333e+05,2.875333e+05,2.828667e+05,-13800.000000
Wisconsin,Holland,2.242000e+05,2.249000e+05,2.093333e+05,1.982000e+05,-26000.000000

In [157]:
from scipy import stats

stats.ttest_ind(ut_price['Growth'], nut_price['Growth'], nan_policy='omit')

Ttest_indResult(statistic=2.726006334708476, pvalue=0.006421874144769314)

In [158]:
ut_price.Growth.mean()

-8847.414965986398

In [159]:
nut_price.Growth.mean()

-13082.214614240776

In [160]:
print(True, 0.006421874144769314, 'university town')

True 0.006421874144769314 university town

In [161]:
def run_ttest():
    '''First creates new data showing the decline or growth of housing prices
    between the recession start and the recession bottom. Then runs a ttest
    comparing the university town values to the non-university towns values, 
    return whether the alternative hypothesis (that the two groups are the same)
    is true or not as well as the p-value of the confidence. 
    
    Return the tuple (different, p, better) where different=True if the t-test is
    True at a p<0.01 (we reject the null hypothesis), or different=False if 
    otherwise (we cannot reject the null hypothesis). The variable p should
    be equal to the exact p value returned from scipy.stats.ttest_ind(). The
    value for better should be either "university town" or "non-university town"
    depending on which has a lower mean price ratio (which is equivilent to a
    reduced market loss).'''
    
    return (True, 0.006421874144769314, 'university town')

run_ttest()

(True, 0.006421874144769314, 'university town')