---

_You are currently looking at **version 1.1** of this notebook. To download notebooks and datafiles, as well as get help on Jupyter notebooks in the Coursera platform, visit the [Jupyter Notebook FAQ](https://www.coursera.org/learn/python-machine-learning/resources/bANLa) course resource._

---

## Assignment 4 - Understanding and Predicting Property Maintenance Fines

This assignment is based on a data challenge from the Michigan Data Science Team ([MDST](http://midas.umich.edu/mdst/)). 

The Michigan Data Science Team ([MDST](http://midas.umich.edu/mdst/)) and the Michigan Student Symposium for Interdisciplinary Statistical Sciences ([MSSISS](https://sites.lsa.umich.edu/mssiss/)) have partnered with the City of Detroit to help solve one of the most pressing problems facing Detroit - blight. [Blight violations](http://www.detroitmi.gov/How-Do-I/Report/Blight-Complaint-FAQs) are issued by the city to individuals who allow their properties to remain in a deteriorated condition. Every year, the city of Detroit issues millions of dollars in fines to residents and every year, many of these fines remain unpaid. Enforcing unpaid blight fines is a costly and tedious process, so the city wants to know: how can we increase blight ticket compliance?

The first step in answering this question is understanding when and why a resident might fail to comply with a blight ticket. This is where predictive modeling comes in. For this assignment, your task is to predict whether a given blight ticket will be paid on time.

All data for this assignment has been provided to us through the [Detroit Open Data Portal](https://data.detroitmi.gov/). **Only the data already included in your Coursera directory can be used for training the model for this assignment.** Nonetheless, we encourage you to look into data from other Detroit datasets to help inform feature creation and model selection. We recommend taking a look at the following related datasets:

* [Building Permits](https://data.detroitmi.gov/Property-Parcels/Building-Permits/xw2a-a7tf)
* [Trades Permits](https://data.detroitmi.gov/Property-Parcels/Trades-Permits/635b-dsgv)
* [Improve Detroit: Submitted Issues](https://data.detroitmi.gov/Government/Improve-Detroit-Submitted-Issues/fwz3-w3yn)
* [DPD: Citizen Complaints](https://data.detroitmi.gov/Public-Safety/DPD-Citizen-Complaints-2016/kahe-efs3)
* [Parcel Map](https://data.detroitmi.gov/Property-Parcels/Parcel-Map/fxkw-udwf)

___

We provide you with two data files for use in training and validating your models: train.csv and test.csv. Each row in these two files corresponds to a single blight ticket, and includes information about when, why, and to whom each ticket was issued. The target variable is compliance, which is True if the ticket was paid early, on time, or within one month of the hearing data, False if the ticket was paid after the hearing date or not at all, and Null if the violator was found not responsible. Compliance, as well as a handful of other variables that will not be available at test-time, are only included in train.csv.

Note: All tickets where the violators were found not responsible are not considered during evaluation. They are included in the training set as an additional source of data for visualization, and to enable unsupervised and semi-supervised approaches. However, they are not included in the test set.

<br>

**File descriptions** (Use only this data for training your model!)

    train.csv - the training set (all tickets issued 2004-2011)
    test.csv - the test set (all tickets issued 2012-2016)
    addresses.csv & latlons.csv - mapping from ticket id to addresses, and from addresses to lat/lon coordinates. 
     Note: misspelled addresses may be incorrectly geolocated.

<br>

**Data fields**

train.csv & test.csv

    ticket_id - unique identifier for tickets
    agency_name - Agency that issued the ticket
    inspector_name - Name of inspector that issued the ticket
    violator_name - Name of the person/organization that the ticket was issued to
    violation_street_number, violation_street_name, violation_zip_code - Address where the violation occurred
    mailing_address_str_number, mailing_address_str_name, city, state, zip_code, non_us_str_code, country - Mailing address of the violator
    ticket_issued_date - Date and time the ticket was issued
    hearing_date - Date and time the violator's hearing was scheduled
    violation_code, violation_description - Type of violation
    disposition - Judgment and judgement type
    fine_amount - Violation fine amount, excluding fees
    admin_fee - $20 fee assigned to responsible judgments
state_fee - $10 fee assigned to responsible judgments
    late_fee - 10% fee assigned to responsible judgments
    discount_amount - discount applied, if any
    clean_up_cost - DPW clean-up or graffiti removal cost
    judgment_amount - Sum of all fines and fees
    grafitti_status - Flag for graffiti violations
    
train.csv only

    payment_amount - Amount paid, if any
    payment_date - Date payment was made, if it was received
    payment_status - Current payment status as of Feb 1 2017
    balance_due - Fines and fees still owed
    collection_status - Flag for payments in collections
    compliance [target variable for prediction] 
     Null = Not responsible
     0 = Responsible, non-compliant
     1 = Responsible, compliant
    compliance_detail - More information on why each ticket was marked compliant or non-compliant


___

## Evaluation

Your predictions will be given as the probability that the corresponding blight ticket will be paid on time.

The evaluation metric for this assignment is the Area Under the ROC Curve (AUC). 

Your grade will be based on the AUC score computed for your classifier. A model which with an AUROC of 0.7 passes this assignment, over 0.75 will recieve full points.
___

For this assignment, create a function that trains a model to predict blight ticket compliance in Detroit using `train.csv`. Using this model, return a series of length 61001 with the data being the probability that each corresponding ticket from `test.csv` will be paid, and the index being the ticket_id.

Example:

    ticket_id
       284932    0.531842
       285362    0.401958
       285361    0.105928
       285338    0.018572
                 ...
       376499    0.208567
       376500    0.818759
       369851    0.018528
       Name: compliance, dtype: float32
       
### Hints

* Make sure your code is working before submitting it to the autograder.

* Print out your result to see whether there is anything weird (e.g., all probabilities are the same).

* Generally the total runtime should be less than 10 mins. You should NOT use Neural Network related classifiers (e.g., MLPClassifier) in this question. 

* Try to avoid global variables. If you have other functions besides blight_model, you should move those functions inside the scope of blight_model.

* Refer to the pinned threads in Week 4's discussion forum when there is something you could not figure it out.

In [1]:
import pandas as pd
import numpy as np

def blight_model():
    
    # Your code here
    
    return # Your answer here

In [ ]:
blight_model()

### 操作流程
最终trainset auc: 0.8842903778633651, testset auc: 0.8316679094640728
- 数据集不平衡，先进行下采样
- 删除缺失值多的特征
- 删除无用特征
- 填充缺失值
- 将类别属性转换成数值属性
- 选择模型
    - 决策树
    - 随机森林
    - 梯度上升树

In [41]:
train = pd.read_csv('train.csv', encoding = "ISO-8859-1")
test = pd.read_csv('test.csv')
train.head()

/Users/zhujun/anaconda3/lib/python3.6/site-packages/IPython/core/interactiveshell.py:3018: DtypeWarning: Columns (11,12,31) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

,ticket_id,agency_name,inspector_name,violator_name,violation_street_number,violation_street_name,violation_zip_code,mailing_address_str_number,mailing_address_str_name,city,...,clean_up_cost,judgment_amount,payment_amount,balance_due,payment_date,payment_status,collection_status,grafitti_status,compliance_detail,compliance
0,22056,"Buildings, Safety Engineering & Env Department","Sims, Martinzie","INVESTMENT INC., MIDWEST MORTGAGE",2900.0,TYLER,NaN,3.0,S. WICKER,CHICAGO,...,0.0,305.0,0.0,305.0,NaN,NO PAYMENT APPLIED,NaN,NaN,non-compliant by no payment,0.0
1,27586,"Buildings, Safety Engineering & Env Department","Williams, Darrin","Michigan, Covenant House",4311.0,CENTRAL,NaN,2959.0,Martin Luther King,Detroit,...,0.0,855.0,780.0,75.0,2005-06-02 00:00:00,PAID IN FULL,NaN,NaN,compliant by late payment within 1 month,1.0
2,22062,"Buildings, Safety Engineering & Env Department","Sims, Martinzie","SANDERS, DERRON",1449.0,LONGFELLOW,NaN,23658.0,P.O. BOX,DETROIT,...,0.0,0.0,0.0,0.0,NaN,NO PAYMENT APPLIED,NaN,NaN,not responsible by disposition,NaN
3,22084,"Buildings, Safety Engineering & Env Department","Sims, Martinzie","MOROSI, MIKE",1441.0,LONGFELLOW,NaN,5.0,ST. CLAIR,DETROIT,...,0.0,0.0,0.0,0.0,NaN,NO PAYMENT APPLIED,NaN,NaN,not responsible by disposition,NaN
4,22093,"Buildings, Safety Engineering & Env Department","Sims, Martinzie","NATHANIEL, NEAL",2449.0,CHURCHILL,NaN,7449.0,CHURCHILL,DETROIT,...,0.0,0.0,0.0,0.0,NaN,NO PAYMENT APPLIED,NaN,NaN,not responsible by disposition,NaN

In [42]:
test.head()

,ticket_id,agency_name,inspector_name,violator_name,violation_street_number,violation_street_name,violation_zip_code,mailing_address_str_number,mailing_address_str_name,city,...,violation_description,disposition,fine_amount,admin_fee,state_fee,late_fee,discount_amount,clean_up_cost,judgment_amount,grafitti_status
0,284932,Department of Public Works,"Granberry, Aisha B","FLUELLEN, JOHN A",10041.0,ROSEBERRY,NaN,141,ROSEBERRY,DETROIT,...,Failure to secure City or Private solid waste ...,Responsible by Default,200.0,20.0,10.0,20.0,0.0,0.0,250.0,NaN
1,285362,Department of Public Works,"Lusk, Gertrina","WHIGHAM, THELMA",18520.0,EVERGREEN,NaN,19136,GLASTONBURY,DETROIT,...,Allowing bulk solid waste to lie or accumulate...,Responsible by Default,1000.0,20.0,10.0,100.0,0.0,0.0,1130.0,NaN
2,285361,Department of Public Works,"Lusk, Gertrina","WHIGHAM, THELMA",18520.0,EVERGREEN,NaN,19136,GLASTONBURY,DETROIT,...,Improper placement of Courville container betw...,Responsible by Default,100.0,20.0,10.0,10.0,0.0,0.0,140.0,NaN
3,285338,Department of Public Works,"Talbert, Reginald","HARABEDIEN, POPKIN",1835.0,CENTRAL,NaN,2246,NELSON,WOODHAVEN,...,Allowing bulk solid waste to lie or accumulate...,Responsible by Default,200.0,20.0,10.0,20.0,0.0,0.0,250.0,NaN
4,285346,Department of Public Works,"Talbert, Reginald","CORBELL, STANLEY",1700.0,CENTRAL,NaN,3435,MUNGER,LIVONIA,...,Violation of time limit for approved container...,Responsible by Default,100.0,20.0,10.0,10.0,0.0,0.0,140.0,NaN

In [43]:
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 250306 entries, 0 to 250305
Data columns (total 34 columns):
ticket_id                     250306 non-null int64
agency_name                   250306 non-null object
inspector_name                250306 non-null object
violator_name                 250272 non-null object
violation_street_number       250306 non-null float64
violation_street_name         250306 non-null object
violation_zip_code            0 non-null float64
mailing_address_str_number    246704 non-null float64
mailing_address_str_name      250302 non-null object
city                          250306 non-null object
state                         250213 non-null object
zip_code                      250305 non-null object
non_us_str_code               3 non-null object
country                       250306 non-null object
ticket_issued_date            250306 non-null object
hearing_date                  237815 non-null object
violation_code                250306 non-null object
violation_description         250306 non-null object
disposition                   250306 non-null object
fine_amount                   250305 non-null float64
admin_fee                     250306 non-null float64
state_fee                     250306 non-null float64
late_fee                      250306 non-null float64
discount_amount               250306 non-null float64
clean_up_cost                 250306 non-null float64
judgment_amount               250306 non-null float64
payment_amount                250306 non-null float64
balance_due                   250306 non-null float64
payment_date                  41113 non-null object
payment_status                250306 non-null object
collection_status             36897 non-null object
grafitti_status               1 non-null object
compliance_detail             250306 non-null object
compliance                    159880 non-null float64
dtypes: float64(13), int64(1), object(20)
memory usage: 64.9+ MB

In [44]:
test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 61001 entries, 0 to 61000
Data columns (total 27 columns):
ticket_id                     61001 non-null int64
agency_name                   61001 non-null object
inspector_name                61001 non-null object
violator_name                 60973 non-null object
violation_street_number       61001 non-null float64
violation_street_name         61001 non-null object
violation_zip_code            24024 non-null object
mailing_address_str_number    59987 non-null object
mailing_address_str_name      60998 non-null object
city                          61000 non-null object
state                         60670 non-null object
zip_code                      60998 non-null object
non_us_str_code               0 non-null float64
country                       61001 non-null object
ticket_issued_date            61001 non-null object
hearing_date                  58804 non-null object
violation_code                61001 non-null object
violation_description         61001 non-null object
disposition                   61001 non-null object
fine_amount                   61001 non-null float64
admin_fee                     61001 non-null float64
state_fee                     61001 non-null float64
late_fee                      61001 non-null float64
discount_amount               61001 non-null float64
clean_up_cost                 61001 non-null float64
judgment_amount               61001 non-null float64
grafitti_status               2221 non-null object
dtypes: float64(9), int64(1), object(17)
memory usage: 12.6+ MB

In [45]:
train.describe()

,ticket_id,violation_street_number,violation_zip_code,mailing_address_str_number,fine_amount,admin_fee,state_fee,late_fee,discount_amount,clean_up_cost,judgment_amount,payment_amount,balance_due,compliance
count,250306.000000,2.503060e+05,0.0,2.467040e+05,250305.000000,250306.000000,250306.000000,250306.000000,250306.000000,250306.0,250306.000000,250306.000000,250306.000000,159880.000000
mean,152665.543099,1.064986e+04,NaN,9.149788e+03,374.423435,12.774764,6.387382,21.494506,0.125167,0.0,268.685356,48.898986,222.449058,0.072536
std,77189.882881,3.188733e+04,NaN,3.602034e+04,707.195807,9.607344,4.803672,56.464263,3.430178,0.0,626.915212,222.422425,606.394010,0.259374
min,18645.000000,0.000000e+00,NaN,1.000000e+00,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,-7750.000000,0.000000
25%,86549.250000,4.739000e+03,NaN,5.440000e+02,200.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,0.000000
50%,152597.500000,1.024400e+04,NaN,2.456000e+03,250.000000,20.000000,10.000000,10.000000,0.000000,0.0,140.000000,0.000000,25.000000,0.000000
75%,219888.750000,1.576000e+04,NaN,1.292725e+04,250.000000,20.000000,10.000000,25.000000,0.000000,0.0,305.000000,0.000000,305.000000,0.000000
max,366178.000000,1.415411e+07,NaN,5.111345e+06,10000.000000,20.000000,10.000000,1000.000000,350.000000,0.0,11030.000000,11075.000000,11030.000000,1.000000

In [46]:
train.compliance.value_counts()

0.0    148283
1.0     11597
Name: compliance, dtype: int64

### 1. 对训练集进行采样
建议采样完成后保存成csv文件

In [47]:
true_index = np.array(train[train.compliance == 1].index)
true_index

array([     1,     18,     19, ..., 250211, 250265, 250290])

In [48]:
true_index.shape

(11597,)

In [49]:
false_index = np.array(train[train.compliance == 0].index)
false_index

array([     0,      5,      6, ..., 250287, 250288, 250293])

In [50]:
false_index.shape

(148283,)

In [51]:
sample_false_index = np.random.choice(false_index, size=true_index.shape[0], replace=False)
sample_false_index

array([157796, 219016, 191459, ..., 189505, 126376,  13122])

In [52]:
sample_index = np.concatenate([true_index, sample_false_index])
sample_index.shape

(23194,)

In [53]:
sample = train.iloc[sample_index, :]
sample

,ticket_id,agency_name,inspector_name,violator_name,violation_street_number,violation_street_name,violation_zip_code,mailing_address_str_number,mailing_address_str_name,city,...,clean_up_cost,judgment_amount,payment_amount,balance_due,payment_date,payment_status,collection_status,grafitti_status,compliance_detail,compliance
1,27586,"Buildings, Safety Engineering & Env Department","Williams, Darrin","Michigan, Covenant House",4311.0,CENTRAL,NaN,2959.0,Martin Luther King,Detroit,...,0.0,855.0,780.0,75.0,2005-06-02 00:00:00,PAID IN FULL,NaN,NaN,compliant by late payment within 1 month,1.0
18,18746,"Buildings, Safety Engineering & Env Department","Williams, Darrin","Klenk, Dean",14715.0,KLENK,NaN,14715.0,Klenk,Detroit,...,0.0,140.0,130.0,10.0,2005-03-18 00:00:00,PAID IN FULL,NaN,NaN,compliant by late payment within 1 month,1.0
19,18744,"Buildings, Safety Engineering & Env Department","Williams, Darrin","Kuhn, Dean",14715.0,KLENK,NaN,141715.0,Klenk,Detroit,...,0.0,140.0,130.0,10.0,2005-03-18 00:00:00,PAID IN FULL,NaN,NaN,compliant by late payment within 1 month,1.0
37,18657,"Buildings, Safety Engineering & Env Department","Schuman, Randy",", APB LAUNDRY",15439.0,MACK,NaN,15439.0,MACK,DETROIT,...,0.0,305.0,280.0,25.0,2005-03-09 00:00:00,PAID IN FULL,NaN,NaN,compliant by late payment within 1 month,1.0
41,18653,"Buildings, Safety Engineering & Env Department","Gailes, Orbie J","Garden Court Apt.s, na",2900.0,JEFFERSON,NaN,29.0,E. Jefferson,Det,...,0.0,280.0,255.0,0.0,2005-02-22 00:00:00,PAID IN FULL,NaN,NaN,compliant by early payment,1.0
44,18655,"Buildings, Safety Engineering & Env Department","Gailes, Orbie J","Apt.s, Clairwood",100.0,CLAIRMOUNT,NaN,784.0,PO box,Bloomfield Hills,...,0.0,280.0,250.0,5.0,2005-02-09 00:00:00,PAID IN FULL,NaN,NaN,compliant by early payment,1.0
59,18707,"Buildings, Safety Engineering & Env Department","Matthews, Delos","coney island, pauls",8740.0,MICHIGAN AVE,NaN,874.0,michigan,detroit,...,0.0,305.0,280.0,25.0,2005-02-28 00:00:00,PAID IN FULL,NaN,NaN,compliant by late payment within 1 month,1.0
60,18730,"Buildings, Safety Engineering & Env Department","Williams, Darrin","Hala Mini Mart Inc., Ha",17111.0,HARPER,NaN,17111.0,Harper,Detroit,...,0.0,140.0,130.0,10.0,2005-03-03 00:00:00,PAID IN FULL,NaN,NaN,compliant by late payment within 1 month,1.0
61,18728,"Buildings, Safety Engineering & Env Department","Williams, Darrin","Hala Mini Mart, Ha",17111.0,HARPER,NaN,17111.0,Harper,Detroit,...,0.0,140.0,130.0,10.0,2005-03-03 00:00:00,PAID IN FULL,NaN,NaN,compliant by late payment within 1 month,1.0
77,18763,Department of Public Works,"Hayes, Billy J","MARIES CORNICE & DRAPERY INC, .",17526.0,SEVEN MILE,NaN,NaN,BOX 35827,DETROIT,...,0.0,250.0,230.0,20.0,2005-02-25 00:00:00,PAID IN FULL,NaN,NaN,compliant by late payment within 1 month,1.0
88,18691,"Buildings, Safety Engineering & Env Department","Rhodes, James","HARVEY, ADDIS",20200.0,CONANT,NaN,18255.0,GREENWALD,SOUTHFIELD,...,0.0,280.0,280.0,0.0,2005-02-21 00:00:00,PAID IN FULL,NaN,NaN,compliant by on-time payment,1.0
89,18698,"Buildings, Safety Engineering & Env Department","Gailes, Orbie J","Investments, Bonno",7217.0,SEVEN MILE,NaN,3943.0,Shoremarr lane,Det,...,0.0,305.0,280.0,25.0,2005-03-16 00:00:00,PAID IN FULL,NaN,NaN,compliant by late payment within 1 month,1.0
112,18720,"Buildings, Safety Engineering & Env Department","Williams, Darrin","Bolo, Dennis",14126.0,SEVEN MILE,NaN,12897.0,Cantebury,Sterling Heights,...,0.0,855.0,780.0,75.0,2005-03-22 00:00:00,PAID IN FULL,NaN,NaN,compliant by late payment within 1 month,1.0
117,18729,Department of Public Works,"Funchess, Mitchell","LLC, CHARLES MARCHAND",11016.0,PEERLESS,NaN,NaN,P.O. BOX 40302,REDFORD,...,0.0,140.0,130.0,10.0,2005-03-10 00:00:00,PAID IN FULL,NaN,NaN,compliant by late payment within 1 month,1.0
120,18804,"Buildings, Safety Engineering & Env Department","Rhodes, James","BAPTIST CHURCH, JAMISON TEMPLE",14531.0,FRANKFORT,NaN,14531.0,FRANKFORT,DETROIT,...,0.0,305.0,280.0,25.0,2005-03-07 00:00:00,PAID IN FULL,NaN,NaN,compliant by late payment within 1 month,1.0
126,19043,"Buildings, Safety Engineering & Env Department","Williams, Darrin","H&K Petroleum Inc., a/k/a",7501.0,DAVISON,NaN,751.0,Davison,Detroit,...,0.0,130.0,130.0,0.0,2005-02-25 00:00:00,PAID IN FULL,NaN,NaN,compliant by on-time payment,1.0
127,19049,"Buildings, Safety Engineering & Env Department","Williams, Darrin","H&K Petroleum Inc., a/k/a",7501.0,DAVISON,NaN,751.0,Davison,Detroit,...,0.0,130.0,130.0,0.0,2005-02-25 00:00:00,PAID IN FULL,NaN,NaN,compliant by on-time payment,1.0
138,18793,"Buildings, Safety Engineering & Env Department","O'Neal, Claude","LIQUOR, J&S",18250.0,JOY RD,NaN,1825.0,JOY RD,DETROIT,...,0.0,305.0,280.0,25.0,2005-03-23 00:00:00,PAID IN FULL,NaN,NaN,compliant by late payment within 1 month,1.0
168,18774,"Buildings, Safety Engineering & Env Department","Schuman, Randy","DRY CLEANERS, CHRISTY'S",16300.0,MCNICHOLS,NaN,163.0,W. McNICHOLS,DETROIT,...,0.0,305.0,280.0,25.0,2005-04-27 00:00:00,PAID IN FULL,NaN,NaN,compliant by late payment within 1 month,1.0
170,18792,"Buildings, Safety Engineering & Env Department","Schuman, Randy","SANTUARY, I AM",466.0,COLUMBIA,NaN,466.0,W.COLUMBIA,DETROIT,...,0.0,280.0,280.0,0.0,2005-02-24 00:00:00,PAID IN FULL,NaN,NaN,compliant by on-time payment,1.0
172,19037,"Buildings, Safety Engineering & Env Department","Williams, Darrin","Noman, Abdo H.",3274.0,DAVISON,NaN,3274.0,Davison,Detroit,...,0.0,140.0,130.0,10.0,2005-03-22 00:00:00,PAID IN FULL,NaN,NaN,compliant by late payment within 1 month,1.0
175,18754,"Buildings, Safety Engineering & Env Department","Gailes, Orbie J","Bank, 1st independence",7020.0,SEVEN MILE,NaN,72.0,W. 7 mile,Det,...,0.0,305.0,280.0,25.0,2005-03-04 00:00:00,PAID IN FULL,NaN,NaN,compliant by late payment within 1 month,1.0
178,18785,"Buildings, Safety Engineering & Env Department","Schuman, Randy","CHOI, RAY S",1225.0,WOODWARD AVE,NaN,1225.0,WOODWARD,DETROIT,...,0.0,280.0,280.0,0.0,2005-02-24 00:00:00,PAID IN FULL,NaN,NaN,compliant by on-time payment,1.0
202,18844,"Buildings, Safety Engineering & Env Department","Schuman, Randy","PLACE RESTAURANT, A & L HAM",9405.0,FORT ST,NaN,945.0,W. FORT,DETROIT,...,0.0,305.0,280.0,25.0,2005-03-22 00:00:00,PAID IN FULL,NaN,NaN,compliant by late payment within 1 month,1.0
204,18861,"Buildings, Safety Engineering & Env Department","Sharpe, Anthony","MURRAY, WILLIE",9214.0,EVERGREEN,NaN,11376.0,PIERSON,DETROIT,...,0.0,305.0,280.0,25.0,2005-03-28 00:00:00,PAID IN FULL,NaN,NaN,compliant by late payment within 1 month,1.0
212,18912,"Buildings, Safety Engineering & Env Department","Brinkley, Kevin","Unlimited, Inc, Intro-Vest",18970.0,GREENFIELD,NaN,18935.0,Greenfield,Detroit,...,0.0,57.5,55.0,2.5,2005-03-30 00:00:00,PAID IN FULL,NaN,NaN,compliant by late payment within 1 month,1.0
213,18917,"Buildings, Safety Engineering & Env Department","Brinkley, Kevin","Unlimited, Inc., Intro-Vest",18960.0,GREENFIELD,NaN,18935.0,Greenfield,Detroit,...,0.0,305.0,280.0,25.0,2005-03-30 00:00:00,PAID IN FULL,NaN,NaN,compliant by late payment within 1 month,1.0
214,18916,"Buildings, Safety Engineering & Env Department","Brinkley, Kevin","Unlimited, Inc., Intro-Vest",18964.0,GREENFIELD,NaN,18935.0,Greenfield,Detroit,...,0.0,305.0,280.0,25.0,2005-03-30 00:00:00,PAID IN FULL,NaN,NaN,compliant by late payment within 1 month,1.0
215,18845,"Buildings, Safety Engineering & Env Department","Smith, Louis","Bufkin, Aretha",5570.0,IVANHOE,NaN,535.0,Ivanhoe,Detroit,...,0.0,305.0,280.0,25.0,2005-03-21 00:00:00,PAID IN FULL,NaN,NaN,compliant by late payment within 1 month,1.0
218,18944,"Buildings, Safety Engineering & Env Department","Smith, Louis","Anderson, Elouise",10000.0,CARLIN,NaN,14652.0,Robson,Detroit,...,0.0,305.0,280.0,25.0,2005-03-15 00:00:00,PAID IN FULL,NaN,NaN,compliant by late payment within 1 month,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
14647,34002,"Buildings, Safety Engineering & Env Department","O'Neal, Claude","INVESTMENT CO., ACORN",14421.0,FIELDING,NaN,213.0,PO BOX,SOUTHFIELD,...,0.0,305.0,0.0,305.0,NaN,NO PAYMENT APPLIED,IN COLLECTION,NaN,non-compliant by no payment,0.0
71010,94880,"Buildings, Safety Engineering & Env Department","Sims, Martinzie","WILLIAMS, ALBERT",12667.0,SANTA ROSA,NaN,12667.0,SANTA ROSA,DETROIT,...,0.0,305.0,0.0,305.0,NaN,NO PAYMENT APPLIED,NaN,NaN,non-compliant by no payment,0.0
179315,210547,"Buildings, Safety Engineering & Env Department","Samaan, Neil J","BENNETT, CHAKARIS",6860.0,BACON,NaN,9233.0,HEYDEN,DETROIT,...,0.0,305.0,0.0,305.0,NaN,NO PAYMENT APPLIED,NaN,NaN,non-compliant by no payment,0.0
141959,170947,"Buildings, Safety Engineering & Env Department","Straughter, Rogers","CARTER, TUNYA",4346.0,LAKEWOOD,NaN,5295.0,AUGUST DR,MACOMB,...,0.0,305.0,305.0,0.0,2008-08-08 00:00:00,PAID IN FULL,NaN,NaN,non-compliant by late payment more than 1 month,0.0
154430,184789,Department of Public Works,"Frazier, Willie","ASSOCIATES, INC, DAVISON 12TH. ST",2251.0,DAVISON,NaN,2251.0,W. DAVISON,DETROIT,...,0.0,80.0,50.0,30.0,2008-08-29 00:00:00,PARTIAL PAYMENT APPLIED,IN COLLECTION,NaN,non-compliant by no payment,0.0
119747,146614,Department of Public Works,"Stewart-Brown, Mamie","MAVIN, RALPH",9022.0,BURT RD,NaN,479.0,JOY RD,PLYMOUTH,...,0.0,3880.0,0.0,3880.0,NaN,NO PAYMENT APPLIED,NaN,NaN,non-compliant by no payment,0.0
12876,33240,"Buildings, Safety Engineering & Env Department","Thomas, Don","MEADOWS, T.",13167.0,MONTE VISTA,NaN,13167.0,MONTE VISTA,DETROIT,...,0.0,360.0,360.0,0.0,2007-06-07 00:00:00,PAID IN FULL,NaN,NaN,non-compliant by late payment more than 1 month,0.0
184738,216348,Department of Public Works,"Langston, Yolanda","S-SYSTEMS, LLP, .",15403.0,CHEYENNE,NaN,122126.0,TOOLEY STR,LONDON,...,0.0,3880.0,0.0,3880.0,NaN,NO PAYMENT APPLIED,NaN,NaN,non-compliant by no payment,0.0
241762,276101,Department of Public Works,"Havard, Jacqueline","DEARING, JR, BERT W",11234.0,MCNICHOLS,NaN,23142.0,ANTIQUE LANE,SOUTHFIELD,...,0.0,85.0,0.0,85.0,NaN,NO PAYMENT APPLIED,IN COLLECTION,NaN,non-compliant by no payment,0.0
69164,93496,"Buildings, Safety Engineering & Env Department","Sharpe, Anthony","CONSTRUCTION CO., REX",4435.0,OREGON,NaN,27437.0,P.O. BOX,DETROIT,...,0.0,305.0,0.0,305.0,NaN,NO PAYMENT APPLIED,IN COLLECTION,NaN,non-compliant by no payment,0.0
213866,247324,Department of Public Works,"Forte, Laurie","LYEKOCEVIC, DEDA",9470.0,GREENSBORO,NaN,144.0,S CASS LAKE RD #302,WATERFORD,...,0.0,580.0,0.0,580.0,NaN,NO PAYMENT APPLIED,NaN,NaN,non-compliant by no payment,0.0
165417,197665,"Buildings, Safety Engineering & Env Department","Devaney, John","ATIVIE, ODION PETER",20224.0,ILENE,NaN,15384.0,KENTUCKY,DETROIT,...,0.0,305.0,0.0,305.0,NaN,NO PAYMENT APPLIED,NaN,NaN,non-compliant by no payment,0.0
142564,171801,"Buildings, Safety Engineering & Env Department","O'Neal, Claude","INVESTMENT CO., ACORN",10001.0,ARCHDALE,NaN,213.0,PO BOX,SOUTHFIELD,...,0.0,305.0,0.0,305.0,NaN,NO PAYMENT APPLIED,IN COLLECTION,NaN,non-compliant by no payment,0.0
199944,232582,Department of Public Works,"Barela, Ralph","NOWEL, SARENI T",8001.0,HARTWELL,NaN,14.0,CARITON LANE,DEARBORN,...,0.0,250.0,0.0,250.0,NaN,NO PAYMENT APPLIED,NaN,NaN,non-compliant by no payment,0.0
199363,231889,"Buildings, Safety Engineering & Env Department","Steele, Jonathan","MILLER, DELRIC",12085.0,ASHTON,NaN,18937.0,FERGUSON,DETROIT,...,0.0,305.0,0.0,305.0,NaN,NO PAYMENT APPLIED,NaN,NaN,non-compliant by no payment,0.0
195723,227675,Department of Public Works,"Havard, Jacqueline","HORSLEY, BARTON B",9221.0,MANISTIQUE,NaN,264.0,BERG ROAD #718,SOUTHFIELD,...,0.0,85.0,0.0,85.0,NaN,NO PAYMENT APPLIED,NaN,NaN,non-compliant by no payment,0.0
182005,213599,"Buildings, Safety Engineering & Env Department","Siller, Gregory","BRACEY, GEE",2174.0,ASHLAND,NaN,2191.0,ASHLAND,DETROIT,...,0.0,305.0,0.0,305.0,NaN,NO PAYMENT APPLIED,NaN,NaN,non-compliant by no payment,0.0
142172,171978,"Buildings, Safety Engineering & Env Department","Devaney, John","OF CHARITY, UNITED SISTERS",16325.0,ROSA PARKS BLVD,NaN,16339.0,ROSA PARKS,DETROIT,...,0.0,305.0,305.0,0.0,2008-08-27 00:00:00,PAID IN FULL,NaN,NaN,non-compliant by late payment more than 1 month,0.0
236309,271055,"Buildings, Safety Engineering & Env Department","Sims, Martinzie","GRAVES, ETTA",12221.0,RUTHERFORD,NaN,1351.0,RUTLAND,DETROIT,...,0.0,305.0,0.0,305.0,NaN,NO PAYMENT APPLIED,NaN,NaN,non-compliant by no payment,0.0
112812,138962,"Buildings, Safety Engineering & Env Department","Doetsch, James","ROGERS, JACKIE",14436.0,EASTWOOD,NaN,14436.0,EASTWOOD,DETROIT,...,0.0,360.0,0.0,360.0,NaN,NO PAYMENT APPLIED,NaN,NaN,non-compliant by no payment,0.0
128752,156074,Department of Public Works,"Hayes, Billy J","ACORN INVESTMENT CO., .",13342.0,HUBBELL,NaN,NaN,Bx#2103,SOUTHFIELD,...,0.0,3880.0,0.0,3880.0,NaN,NO PAYMENT APPLIED,IN COLLECTION,NaN,non-compliant by no payment,0.0
135163,164284,Department of Public Works,"Forte, Laurie","EDWARDS, MARTIN D",2733.0,DORIS,NaN,2733.0,DORIS,DETROIT,...,0.0,250.0,0.0,250.0,NaN,NO PAYMENT APPLIED,NaN,NaN,non-compliant by no payment,0.0
161820,191127,Department of Public Works,"Hayes, Billy J","LOVING, TODD",14544.0,METTETAL,NaN,18457.0,NORTH DR. #43,SOUTHFIELD,...,0.0,85.0,0.0,85.0,NaN,NO PAYMENT APPLIED,NaN,NaN,non-compliant by no payment,0.0
65731,91000,Department of Public Works,"Langston, Yolanda","BATISTE, RUBY H",6175.0,HECLA,NaN,6175.0,HECLA,DETROIT,...,0.0,3880.0,0.0,3880.0,NaN,NO PAYMENT APPLIED,NaN,NaN,non-compliant by no payment,0.0
67534,91546,"Buildings, Safety Engineering & Env Department","Samaan, Neil J","DOLLAR, FAMILY",12631.0,DEXTER,NaN,12631.0,DEXTER,DETROIT,...,0.0,305.0,305.0,0.0,2008-03-24 00:00:00,PAID IN FULL,NaN,NaN,non-compliant by late payment more than 1 month,0.0
229406,263907,"Buildings, Safety Engineering & Env Department","Morris, John","RAMIREZ, JAMIE",10056.0,BORDEAU,NaN,14525.0,SW MILLIKAN WAY #10219,BEAVERTON,...,0.0,305.0,0.0,305.0,NaN,NO PAYMENT APPLIED,NaN,NaN,non-compliant by no payment,0.0
193350,225650,Department of Public Works,"Buchanan, Daryl","BEAUREGARD, CLAUDE",3139.0,GREYFRIARS,NaN,4355.0,GATEHOUSE CT,CANTON,...,0.0,167.5,0.0,167.5,NaN,NO PAYMENT APPLIED,NaN,NaN,non-compliant by no payment,0.0
189505,221668,Department of Public Works,"Buchanan, Daryl","MCCONNEL, DARRYL",18052.0,ANNOTT,NaN,NaN,P.O. BOX 1016,UNION LAKE,...,0.0,2780.0,0.0,2780.0,NaN,NO PAYMENT APPLIED,NaN,NaN,non-compliant by no payment,0.0
126376,153563,Detroit Police Department,"Sims, Jevon","TURNER, PHAROAH",1083.0,BEATRICE,NaN,496.0,HOLFORD,RIVER ROUGE,...,0.0,140.0,130.0,10.0,2008-08-19 00:00:00,PAID IN FULL,NaN,NaN,non-compliant by late payment more than 1 month,0.0
13122,31946,"Buildings, Safety Engineering & Env Department","Keys, Edna","TOLBERT, CURTIS",12702.0,STOEPEL,NaN,2345.0,WILDWOOD,OAK PARK,...,0.0,280.0,255.0,25.0,2005-06-16 00:00:00,PARTIAL PAYMENT APPLIED,NaN,NaN,non-compliant by no payment,0.0

In [54]:
sample.compliance.value_counts()

0.0    11597
1.0    11597
Name: compliance, dtype: int64

In [55]:
train_sample = sample.copy()
train_sample.head()

,ticket_id,agency_name,inspector_name,violator_name,violation_street_number,violation_street_name,violation_zip_code,mailing_address_str_number,mailing_address_str_name,city,...,clean_up_cost,judgment_amount,payment_amount,balance_due,payment_date,payment_status,collection_status,grafitti_status,compliance_detail,compliance
1,27586,"Buildings, Safety Engineering & Env Department","Williams, Darrin","Michigan, Covenant House",4311.0,CENTRAL,NaN,2959.0,Martin Luther King,Detroit,...,0.0,855.0,780.0,75.0,2005-06-02 00:00:00,PAID IN FULL,NaN,NaN,compliant by late payment within 1 month,1.0
18,18746,"Buildings, Safety Engineering & Env Department","Williams, Darrin","Klenk, Dean",14715.0,KLENK,NaN,14715.0,Klenk,Detroit,...,0.0,140.0,130.0,10.0,2005-03-18 00:00:00,PAID IN FULL,NaN,NaN,compliant by late payment within 1 month,1.0
19,18744,"Buildings, Safety Engineering & Env Department","Williams, Darrin","Kuhn, Dean",14715.0,KLENK,NaN,141715.0,Klenk,Detroit,...,0.0,140.0,130.0,10.0,2005-03-18 00:00:00,PAID IN FULL,NaN,NaN,compliant by late payment within 1 month,1.0
37,18657,"Buildings, Safety Engineering & Env Department","Schuman, Randy",", APB LAUNDRY",15439.0,MACK,NaN,15439.0,MACK,DETROIT,...,0.0,305.0,280.0,25.0,2005-03-09 00:00:00,PAID IN FULL,NaN,NaN,compliant by late payment within 1 month,1.0
41,18653,"Buildings, Safety Engineering & Env Department","Gailes, Orbie J","Garden Court Apt.s, na",2900.0,JEFFERSON,NaN,29.0,E. Jefferson,Det,...,0.0,280.0,255.0,0.0,2005-02-22 00:00:00,PAID IN FULL,NaN,NaN,compliant by early payment,1.0

### 2. 特征工程

In [56]:
train_sample.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 23194 entries, 1 to 13122
Data columns (total 34 columns):
ticket_id                     23194 non-null int64
agency_name                   23194 non-null object
inspector_name                23194 non-null object
violator_name                 23186 non-null object
violation_street_number       23194 non-null float64
violation_street_name         23194 non-null object
violation_zip_code            0 non-null float64
mailing_address_str_number    22822 non-null float64
mailing_address_str_name      23193 non-null object
city                          23194 non-null object
state                         23179 non-null object
zip_code                      23193 non-null object
non_us_str_code               1 non-null object
country                       23194 non-null object
ticket_issued_date            23194 non-null object
hearing_date                  23022 non-null object
violation_code                23194 non-null object
violation_description         23194 non-null object
disposition                   23194 non-null object
fine_amount                   23194 non-null float64
admin_fee                     23194 non-null float64
state_fee                     23194 non-null float64
late_fee                      23194 non-null float64
discount_amount               23194 non-null float64
clean_up_cost                 23194 non-null float64
judgment_amount               23194 non-null float64
payment_amount                23194 non-null float64
balance_due                   23194 non-null float64
payment_date                  13617 non-null object
payment_status                23194 non-null object
collection_status             3112 non-null object
grafitti_status               0 non-null object
compliance_detail             23194 non-null object
compliance                    23194 non-null float64
dtypes: float64(13), int64(1), object(20)
memory usage: 6.2+ MB

In [57]:
test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 61001 entries, 0 to 61000
Data columns (total 27 columns):
ticket_id                     61001 non-null int64
agency_name                   61001 non-null object
inspector_name                61001 non-null object
violator_name                 60973 non-null object
violation_street_number       61001 non-null float64
violation_street_name         61001 non-null object
violation_zip_code            24024 non-null object
mailing_address_str_number    59987 non-null object
mailing_address_str_name      60998 non-null object
city                          61000 non-null object
state                         60670 non-null object
zip_code                      60998 non-null object
non_us_str_code               0 non-null float64
country                       61001 non-null object
ticket_issued_date            61001 non-null object
hearing_date                  58804 non-null object
violation_code                61001 non-null object
violation_description         61001 non-null object
disposition                   61001 non-null object
fine_amount                   61001 non-null float64
admin_fee                     61001 non-null float64
state_fee                     61001 non-null float64
late_fee                      61001 non-null float64
discount_amount               61001 non-null float64
clean_up_cost                 61001 non-null float64
judgment_amount               61001 non-null float64
grafitti_status               2221 non-null object
dtypes: float64(9), int64(1), object(17)
memory usage: 12.6+ MB

#### 2.1 删除无用列

In [58]:
del_train_columns = ['violation_zip_code', 'non_us_str_code', 'payment_amount', 'payment_date', 'payment_status', 'balance_due', 'collection_status', 
                             'compliance_detail']
del_test_columns = ['violation_zip_code', 'non_us_str_code']
train_sample = train_sample.drop(del_train_columns, axis=1)
test = test.drop(del_test_columns, axis=1)

In [59]:
print(train_sample.shape, test.shape)

(23194, 26) (61001, 25)

#### 2.2 agency_name

In [60]:
train_sample.agency_name.value_counts()

Buildings, Safety Engineering & Env Department    12919
Department of Public Works                         8369
Health Department                                  1005
Detroit Police Department                           901
Name: agency_name, dtype: int64

In [62]:
from sklearn.preprocessing import LabelEncoder

le = LabelEncoder()
le.fit(train_sample.agency_name)
train_sample.agency_name = le.transform(train_sample.agency_name)
test.agency_name = le.transform(test.agency_name)
train_sample.head()

,ticket_id,agency_name,inspector_name,violator_name,violation_street_number,violation_street_name,mailing_address_str_number,mailing_address_str_name,city,state,...,disposition,fine_amount,admin_fee,state_fee,late_fee,discount_amount,clean_up_cost,judgment_amount,grafitti_status,compliance
1,27586,0,"Williams, Darrin","Michigan, Covenant House",4311.0,CENTRAL,2959.0,Martin Luther King,Detroit,MI,...,Responsible by Determination,750.0,20.0,10.0,75.0,0.0,0.0,855.0,NaN,1.0
18,18746,0,"Williams, Darrin","Klenk, Dean",14715.0,KLENK,14715.0,Klenk,Detroit,MI,...,Responsible by Determination,100.0,20.0,10.0,10.0,0.0,0.0,140.0,NaN,1.0
19,18744,0,"Williams, Darrin","Kuhn, Dean",14715.0,KLENK,141715.0,Klenk,Detroit,MI,...,Responsible by Determination,100.0,20.0,10.0,10.0,0.0,0.0,140.0,NaN,1.0
37,18657,0,"Schuman, Randy",", APB LAUNDRY",15439.0,MACK,15439.0,MACK,DETROIT,MI,...,Responsible by Determination,250.0,20.0,10.0,25.0,0.0,0.0,305.0,NaN,1.0
41,18653,0,"Gailes, Orbie J","Garden Court Apt.s, na",2900.0,JEFFERSON,29.0,E. Jefferson,Det,MI,...,Responsible by Admission,250.0,20.0,10.0,0.0,25.0,0.0,280.0,NaN,1.0

In [63]:
test.head()

,ticket_id,agency_name,inspector_name,violator_name,violation_street_number,violation_street_name,mailing_address_str_number,mailing_address_str_name,city,state,...,violation_description,disposition,fine_amount,admin_fee,state_fee,late_fee,discount_amount,clean_up_cost,judgment_amount,grafitti_status
0,284932,1,"Granberry, Aisha B","FLUELLEN, JOHN A",10041.0,ROSEBERRY,141,ROSEBERRY,DETROIT,MI,...,Failure to secure City or Private solid waste ...,Responsible by Default,200.0,20.0,10.0,20.0,0.0,0.0,250.0,NaN
1,285362,1,"Lusk, Gertrina","WHIGHAM, THELMA",18520.0,EVERGREEN,19136,GLASTONBURY,DETROIT,MI,...,Allowing bulk solid waste to lie or accumulate...,Responsible by Default,1000.0,20.0,10.0,100.0,0.0,0.0,1130.0,NaN
2,285361,1,"Lusk, Gertrina","WHIGHAM, THELMA",18520.0,EVERGREEN,19136,GLASTONBURY,DETROIT,MI,...,Improper placement of Courville container betw...,Responsible by Default,100.0,20.0,10.0,10.0,0.0,0.0,140.0,NaN
3,285338,1,"Talbert, Reginald","HARABEDIEN, POPKIN",1835.0,CENTRAL,2246,NELSON,WOODHAVEN,MI,...,Allowing bulk solid waste to lie or accumulate...,Responsible by Default,200.0,20.0,10.0,20.0,0.0,0.0,250.0,NaN
4,285346,1,"Talbert, Reginald","CORBELL, STANLEY",1700.0,CENTRAL,3435,MUNGER,LIVONIA,MI,...,Violation of time limit for approved container...,Responsible by Default,100.0,20.0,10.0,10.0,0.0,0.0,140.0,NaN

### 2.3 insepector_name

In [65]:
train_sample.inspector_name.value_counts()

Morris, John           1341
Samaan, Neil J         1284
O'Neal, Claude         1130
Hayes, Billy J          947
Devaney, John           917
Steele, Jonathan        866
Zizi, Josue             757
Sloane, Bennie J        756
Danielson, Keith D      599
Sims, Martinzie         599
Doetsch, James          574
Jones, Leah             489
Gailes, Orbie J         484
Davis, Darlene          445
Legge, Gerald           442
Havard, Jacqueline      414
Johnson, Lois           364
Sharpe, Anthony         348
Moore, David            340
Talbert, Reginald       332
Karwowski, Stephen      289
Williamson, Lillett     267
Harris, Rickey          246
Forte, Laurie           245
Addison, Michael        242
Watson, Jerry           240
Frazier, Willie         236
Carver, Gharian         231
DeRamer, Andrew         229
Funchess, Mitchell      217
                       ...
Woodall, Joseph           3
Madrigal, Michael         3
Doonan, Christopher       3
Maples, Joseph            3
Buckman, Keith            3
McDonald, Jessica         3
Smith, Melvin             3
Sanders, Glen             2
Long, Phil                2
Reilly, David             2
Anding, Dwight            2
Glavac, Douglas           2
Graham, Albert            2
Trzos, William            2
Williams, Cecila          2
Thomas, Duane             1
Stokes, Harold            1
Coleman, Lanetha          1
Coleman, Robert           1
Cox, Timothy              1
Anderson, Trevis          1
Baxendale, Daniel         1
Hischke, William          1
Carroll, Frank            1
Sievers, Mark             1
Ward, Todd                1
Pickens, William          1
Lee, Charles              1
BENNETT, MARGARET         1
Moradiya, Rajesh          1
Name: inspector_name, Length: 147, dtype: int64

In [70]:
le2 = LabelEncoder()
le2.fit(train_sample.inspector_name)
train_sample.inspector_name = le2.transform(train_sample.inspector_name)
# test.inspector_name = le2.transform(test.inspector_name)
train_sample.head()

,ticket_id,agency_name,inspector_name,violator_name,violation_street_number,violation_street_name,mailing_address_str_number,mailing_address_str_name,city,state,...,disposition,fine_amount,admin_fee,state_fee,late_fee,discount_amount,clean_up_cost,judgment_amount,grafitti_status,compliance
1,27586,0,141,"Michigan, Covenant House",4311.0,CENTRAL,2959.0,Martin Luther King,Detroit,MI,...,Responsible by Determination,750.0,20.0,10.0,75.0,0.0,0.0,855.0,NaN,1.0
18,18746,0,141,"Klenk, Dean",14715.0,KLENK,14715.0,Klenk,Detroit,MI,...,Responsible by Determination,100.0,20.0,10.0,10.0,0.0,0.0,140.0,NaN,1.0
19,18744,0,141,"Kuhn, Dean",14715.0,KLENK,141715.0,Klenk,Detroit,MI,...,Responsible by Determination,100.0,20.0,10.0,10.0,0.0,0.0,140.0,NaN,1.0
37,18657,0,106,", APB LAUNDRY",15439.0,MACK,15439.0,MACK,DETROIT,MI,...,Responsible by Determination,250.0,20.0,10.0,25.0,0.0,0.0,305.0,NaN,1.0
41,18653,0,44,"Garden Court Apt.s, na",2900.0,JEFFERSON,29.0,E. Jefferson,Det,MI,...,Responsible by Admission,250.0,20.0,10.0,0.0,25.0,0.0,280.0,NaN,1.0

### 2.4 violator_name

In [71]:
train.violator_name.value_counts()

INVESTMENT, ACORN                         809
INVESTMENT CO., ACORN                     425
BANK, WELLS FARGO                         328
MILLER, JOHN                              205
SHIFMAN, ALLEN                            192
NEW YORK, BANK OF                         184
COMMISSION, DETROIT HOUSING               178
STEHLIK, JERRY                            162
SNOW, GEORGE                              147
TREASURER, WAYNE COUNTY                   139
APARTMENTS, CARLTON                       139
KRAMER, KEITH                             137
FARWELL, WILLIAM B                        123
PARKVIEW LLC, NORMANDY                    122
INVESTMENTS, ACORN                        122
NATIONAL TRUST CO., DEUTSCHE BANK         122
BANK, DEUTSCHE                            119
ROSEN, NATHAN                             110
PRESTIGE, KMG                             101
LEONARD, JACK                              99
BROADWAY, LLC, 1509                        98
SYSTEMS, MANAGEMENT                        96
Investment, Acorn                          94
ESTATES, EVERGREEN                         93
NATIONAL TRUST, DEUTSCHE BANK              93
MANAGEMENT, FOREST CITY                    92
CHASE BANK, JP MORGAN                      91
FARGO BANK, WELLS                          91
MORTGAGE ASSOCIATION, FEDERAL NATIONAL     87
INVESTMENT CO, ACORN                       87
                                         ...
DINVERNO INVESTMENTS, .                     1
GILMORE, LAURA                              1
GORDON, SHEILA                              1
AVE MANIA, RELIGIOUS SHOP                   1
BROWN, JOE                                  1
HAMMOND, EARL                               1
INVESTMENT CORP., R&M                       1
HARLAN, MARLENE                             1
JUAN, SANCHEZ EVELYN                        1
SNEDECAR, FRED - N- DELORIS                 1
031497707827, LELAND HOUSE                  1
DENNITHIA WARNER, KENYATE PINSON AND        1
APPOLING, JUJUAN T                          1
Mapp, Stanley                               1
INVESTMENT LLC., ANDERSON                   1
MANDUJANO, LUIS J                           1
WIECKOWSKI, THOMAS                          1
PROPERTY INVESTMENTS, PIONEER               1
Bank NA, U.S.                               1
POULTRY, CHARLIES                           1
JOHNSON, CORINE                             1
JONES, CHARLES  E.                          1
WISNIEWSKI, RICHARD P                       1
GIKAS, GEORGE A.                            1
BEARD, GLEN B.                              1
WHITFIELD, BURGESS D                        1
BATTAGIN, DAVID                             1
LLC, ET AND ST INVESTMENT                   1
ALFATIANI, ALI                              1
INC., U HAUL                                1
Name: violator_name, Length: 119992, dtype: int64

In [77]:
train_sample.violator_name = train_sample.violator_name.fillna(method='ffill')
train_sample.violator_name.isnull().sum()

0

In [78]:
le3 = LabelEncoder()
le3.fit(train_sample.violator_name)
train_sample.violator_name = le3.transform(train_sample.violator_name)
# test.inspector_name = le2.transform(test.inspector_name)
train_sample.head()

,ticket_id,agency_name,inspector_name,violator_name,violation_street_number,violation_street_name,mailing_address_str_number,mailing_address_str_name,city,state,...,disposition,fine_amount,admin_fee,state_fee,late_fee,discount_amount,clean_up_cost,judgment_amount,grafitti_status,compliance
1,27586,0,141,12307,4311.0,CENTRAL,2959.0,Martin Luther King,Detroit,MI,...,Responsible by Determination,750.0,20.0,10.0,75.0,0.0,0.0,855.0,NaN,1.0
18,18746,0,141,9659,14715.0,KLENK,14715.0,Klenk,Detroit,MI,...,Responsible by Determination,100.0,20.0,10.0,10.0,0.0,0.0,140.0,NaN,1.0
19,18744,0,141,9671,14715.0,KLENK,141715.0,Klenk,Detroit,MI,...,Responsible by Determination,100.0,20.0,10.0,10.0,0.0,0.0,140.0,NaN,1.0
37,18657,0,106,65,15439.0,MACK,15439.0,MACK,DETROIT,MI,...,Responsible by Determination,250.0,20.0,10.0,25.0,0.0,0.0,305.0,NaN,1.0
41,18653,0,44,6664,2900.0,JEFFERSON,29.0,E. Jefferson,Det,MI,...,Responsible by Admission,250.0,20.0,10.0,0.0,25.0,0.0,280.0,NaN,1.0

### 2.5 violation_street_number
连续值而且无缺失值，暂不处理

### 2.6 violation_street_name

In [80]:
train_sample.violation_street_name.value_counts()

SEVEN MILE      423
MCNICHOLS       380
LIVERNOIS       277
GRAND RIVER     231
FENKELL         185
WARREN          180
EIGHT MILE      178
GRATIOT         174
WYOMING         144
JOY RD          138
EVERGREEN       129
JEFFERSON       125
APPOLINE        121
GREENFIELD      120
SCHAEFER        120
ASHTON          119
GRAND BLVD      118
HARPER          117
CHICAGO         113
ARCHDALE        112
WOODWARD AVE    107
ASBURY PARK     107
DAVISON         106
PLYMOUTH        105
MEYERS RD       104
KENTUCKY        104
NORTHLAWN        99
VERNOR           99
VAN DYKE         96
ARDMORE          92
               ...
LINVILLE          1
PALMS             1
BRADLEY           1
WARING            1
MORSE             1
MINNESOTA         1
CLARK CT          1
DARWIN            1
MCINTYRE          1
PICADILLY         1
MCDONALD          1
VEACH             1
CONWAY            1
ALSTEAD           1
STERRITT          1
HAZEL             1
ANNAPOLIS         1
NEBRASKA          1
22ND ST           1
MEADE             1
FORTUNE           1
GATES             1
CONSTANCE         1
MOGUL             1
PLUM              1
HEIDELBERG        1
LAUREL            1
CHATFIELD         1
NELSON            1
GENESSEE          1
Name: violation_street_name, Length: 1385, dtype: int64

In [81]:
le4 = LabelEncoder()
le4.fit(train_sample.violation_street_name)
train_sample.violation_street_name = le4.transform(train_sample.violation_street_name)
# test.inspector_name = le2.transform(test.inspector_name)
train_sample.head()

,ticket_id,agency_name,inspector_name,violator_name,violation_street_number,violation_street_name,mailing_address_str_number,mailing_address_str_name,city,state,...,disposition,fine_amount,admin_fee,state_fee,late_fee,discount_amount,clean_up_cost,judgment_amount,grafitti_status,compliance
1,27586,0,141,12307,4311.0,239,2959.0,Martin Luther King,Detroit,MI,...,Responsible by Determination,750.0,20.0,10.0,75.0,0.0,0.0,855.0,NaN,1.0
18,18746,0,141,9659,14715.0,721,14715.0,Klenk,Detroit,MI,...,Responsible by Determination,100.0,20.0,10.0,10.0,0.0,0.0,140.0,NaN,1.0
19,18744,0,141,9671,14715.0,721,141715.0,Klenk,Detroit,MI,...,Responsible by Determination,100.0,20.0,10.0,10.0,0.0,0.0,140.0,NaN,1.0
37,18657,0,106,65,15439.0,816,15439.0,MACK,DETROIT,MI,...,Responsible by Determination,250.0,20.0,10.0,25.0,0.0,0.0,305.0,NaN,1.0
41,18653,0,44,6664,2900.0,682,29.0,E. Jefferson,Det,MI,...,Responsible by Admission,250.0,20.0,10.0,0.0,25.0,0.0,280.0,NaN,1.0

### 2.7 mailing_address_str_number

In [82]:
train_sample.mailing_address_str_number.dtype

dtype('float64')

In [83]:
train_sample.mailing_address_str_number = train_sample.mailing_address_str_number.fillna(method='ffill')
train_sample.mailing_address_str_number.isnull().sum()

0

### 2.8 mailing_address_str_name

In [84]:
train_sample.mailing_address_str_name.value_counts()

PO BOX                      586
P.O. BOX                    541
W. MCNICHOLS                126
GRAND RIVER                 121
LIVERNOIS                   116
WOODWARD                     96
HARPER                       90
GRATIOT                      87
FENKELL                      83
W. SEVEN MILE                76
P.O. Box                     71
E. JEFFERSON                 68
WYOMING                      66
APPOLINE                     66
GREENFIELD                   65
JAMES COUZENS                59
MACK                         57
SUSSEX                       56
WHITCOMB                     54
P. O. BOX                    51
BEAUBIEN                     49
SCHAEFER                     49
HARTWELL                     49
NORTHLAWN                    48
OHIO                         47
SORRENTO                     47
LAWTON                       47
W. WARREN                    47
ROBSON                       46
PLYMOUTH                     46
                           ...
EUGENE  ST.                   1
Malden                        1
LARGES DR.                    1
LAUREL PLACE                  1
BRITIAN                       1
STEFFAS ROAD                  1
P.O. BOX 595                  1
CHERRY HILL CT.               1
PO Box 2103                   1
NBK DR.                       1
ROCKINGHAM                    1
CORPORATE DR. #PTX- B-32      1
COLYATE                       1
HEYDEN  CT                    1
CORRKLAN  DR                  1
EDGEHILL                      1
northwestern                  1
W. 10 MILE STE. 208           1
WOODSTON DRIVE                1
FRANKLIN POINTE               1
Muirland                      1
SALEM DRIVE                   1
W. MAIN SUITE 100             1
TAYLOR ST                     1
CRABAPPLE CT.                 1
GREENFARM                     1
ROULO                         1
BRIARCLIFF DR.                1
E. JEFFERSON APT#411          1
BRETTON DR                    1
Name: mailing_address_str_name, Length: 8266, dtype: int64

In [85]:
train_sample.mailing_address_str_name = train_sample.mailing_address_str_name.fillna(method='ffill')
train_sample.mailing_address_str_name.isnull().sum()

0

In [86]:
le5 = LabelEncoder()
le5.fit(train_sample.mailing_address_str_name)
train_sample.mailing_address_str_name = le5.transform(train_sample.mailing_address_str_name)
# test.inspector_name = le2.transform(test.inspector_name)
train_sample.head()

,ticket_id,agency_name,inspector_name,violator_name,violation_street_number,violation_street_name,mailing_address_str_number,mailing_address_str_name,city,state,...,disposition,fine_amount,admin_fee,state_fee,late_fee,discount_amount,clean_up_cost,judgment_amount,grafitti_status,compliance
1,27586,0,141,12307,4311.0,239,2959.0,4325,Detroit,MI,...,Responsible by Determination,750.0,20.0,10.0,75.0,0.0,0.0,855.0,NaN,1.0
18,18746,0,141,9659,14715.0,721,14715.0,3513,Detroit,MI,...,Responsible by Determination,100.0,20.0,10.0,10.0,0.0,0.0,140.0,NaN,1.0
19,18744,0,141,9671,14715.0,721,141715.0,3513,Detroit,MI,...,Responsible by Determination,100.0,20.0,10.0,10.0,0.0,0.0,140.0,NaN,1.0
37,18657,0,106,65,15439.0,816,15439.0,3856,DETROIT,MI,...,Responsible by Determination,250.0,20.0,10.0,25.0,0.0,0.0,305.0,NaN,1.0
41,18653,0,44,6664,2900.0,682,29.0,2004,Det,MI,...,Responsible by Admission,250.0,20.0,10.0,0.0,25.0,0.0,280.0,NaN,1.0

### 2.9 city
无缺失值，字符串类型，需要做转换

In [87]:
train_sample.city.value_counts()

DETROIT              12497
SOUTHFIELD            1113
Detroit                992
DEARBORN               396
detroit                357
FARMINGTON HILLS       221
OAK PARK               209
WARREN                 181
DET                    164
LIVONIA                151
TROY                   150
REDFORD                146
W. BLOOMFIELD          139
CHICAGO                122
WEST BLOOMFIELD        121
BLOOMFIELD HILLS       114
CANTON                 104
Southfield              98
DET.                    82
FARMINGTON              81
FERNDALE                77
STERLING HEIGHTS        72
EASTPOINTE              67
ST. CLAIR SHORES        65
NORTHVILLE              63
ROYAL OAK               63
BLOOMFIELD              61
DEARBORN HGTS           60
LATHRUP VILLAGE         57
STERLING HGTS           57
                     ...
AUBURN  HILLS            1
ST. CLAIR, SHORES        1
GROSSE POINT PARK        1
Ladera Ranch             1
SUTTON ONTARIO           1
RICHMOND BC              1
Ypslilanti               1
AURORA                   1
CUPERTINO                1
MANCELONA                1
SIMIVALLEY               1
KNIGHTDALE               1
BLOOMMFIELD HILLS        1
N. WARREN                1
Irving                   1
AUBURN HILL              1
MARINE  CITY             1
Pittsburgh               1
THOMSON                  1
Imno                     1
BEDMINSTER               1
HONOLULU                 1
Dacuia                   1
NEW BRUNSWICK            1
Temperance               1
QUEENSLAND               1
Oak Hills                1
WOODHAVEN                1
LENOX TOWNSHIP           1
HARTWELL                 1
Name: city, Length: 1407, dtype: int64

In [88]:
le6 = LabelEncoder()
le6.fit(train_sample.city)
train_sample.city = le6.transform(train_sample.city)
# test.inspector_name = le2.transform(test.inspector_name)
train_sample.head()

,ticket_id,agency_name,inspector_name,violator_name,violation_street_number,violation_street_name,mailing_address_str_number,mailing_address_str_name,city,state,...,disposition,fine_amount,admin_fee,state_fee,late_fee,discount_amount,clean_up_cost,judgment_amount,grafitti_status,compliance
1,27586,0,141,12307,4311.0,239,2959.0,4325,341,MI,...,Responsible by Determination,750.0,20.0,10.0,75.0,0.0,0.0,855.0,NaN,1.0
18,18746,0,141,9659,14715.0,721,14715.0,3513,341,MI,...,Responsible by Determination,100.0,20.0,10.0,10.0,0.0,0.0,140.0,NaN,1.0
19,18744,0,141,9671,14715.0,721,141715.0,3513,341,MI,...,Responsible by Determination,100.0,20.0,10.0,10.0,0.0,0.0,140.0,NaN,1.0
37,18657,0,106,65,15439.0,816,15439.0,3856,315,MI,...,Responsible by Determination,250.0,20.0,10.0,25.0,0.0,0.0,305.0,NaN,1.0
41,18653,0,44,6664,2900.0,682,29.0,2004,339,MI,...,Responsible by Admission,250.0,20.0,10.0,0.0,25.0,0.0,280.0,NaN,1.0

### 2.10 state
有缺失值，字符串类型，先填充再转换

In [89]:
train_sample.state.value_counts()

MI    21028
CA      435
FL      223
TX      218
IL      179
OH      123
SC       88
NY       85
PA       61
GA       55
MN       50
UT       49
VA       48
MD       44
NJ       40
NV       40
NC       35
AZ       35
KY       26
OK       26
ME       25
WA       22
CO       19
NB       18
TN       18
IA       17
AL       17
WI       16
MA       15
OR       15
MO       12
RI       11
IN        9
MS        8
DC        8
ON        8
LA        7
UK        7
AR        6
KS        6
CT        4
PR        3
HI        3
SD        2
WY        2
DE        2
QL        2
NH        2
NM        2
BC        1
QC        1
MT        1
AK        1
ID        1
Name: state, dtype: int64

In [90]:
train_sample.state = train_sample.state.fillna(method='ffill')
train_sample.state.isnull().sum()

0

In [91]:
le7 = LabelEncoder()
le7.fit(train_sample.state)
train_sample.state = le7.transform(train_sample.state)
# test.inspector_name = le2.transform(test.inspector_name)
train_sample.head()

,ticket_id,agency_name,inspector_name,violator_name,violation_street_number,violation_street_name,mailing_address_str_number,mailing_address_str_name,city,state,...,disposition,fine_amount,admin_fee,state_fee,late_fee,discount_amount,clean_up_cost,judgment_amount,grafitti_status,compliance
1,27586,0,141,12307,4311.0,239,2959.0,4325,341,23,...,Responsible by Determination,750.0,20.0,10.0,75.0,0.0,0.0,855.0,NaN,1.0
18,18746,0,141,9659,14715.0,721,14715.0,3513,341,23,...,Responsible by Determination,100.0,20.0,10.0,10.0,0.0,0.0,140.0,NaN,1.0
19,18744,0,141,9671,14715.0,721,141715.0,3513,341,23,...,Responsible by Determination,100.0,20.0,10.0,10.0,0.0,0.0,140.0,NaN,1.0
37,18657,0,106,65,15439.0,816,15439.0,3856,315,23,...,Responsible by Determination,250.0,20.0,10.0,25.0,0.0,0.0,305.0,NaN,1.0
41,18653,0,44,6664,2900.0,682,29.0,2004,339,23,...,Responsible by Admission,250.0,20.0,10.0,0.0,25.0,0.0,280.0,NaN,1.0

### 2.11 zip_code
是字符串和int类型和nan的混合，先填充空值，再转换类型为字符串

In [111]:
train_sample.zip_code = train_sample.zip_code.fillna(method='ffill')
train_sample.zip_code.isnull().sum()

0

In [112]:
train_sample.zip_code = train_sample.zip_code.astype(str)
train_sample.zip_code.dtype

dtype('O')

In [113]:
le8 = LabelEncoder()
le8.fit(train_sample.zip_code)
train_sample.zip_code = le8.transform(train_sample.zip_code)
# test.inspector_name = le2.transform(test.inspector_name)
train_sample.zip_code.head()

1     881
18    892
19    892
37    904
41    880
Name: zip_code, dtype: int64

In [114]:
train_sample.zip_code

1          881
18         892
19         892
37         904
41         880
44         955
59         886
60         904
61         904
77         922
88         769
89         953
112        965
117        927
120        892
126        925
127        925
138        909
168        922
170        873
172        925
175        900
178        907
202        882
204        909
212        922
213        922
214        922
215        877
218        908
          ...
14647      733
71010      925
179315     909
141959     742
154430     925
119747     846
12876      925
184738       0
241762     769
69164      908
213866     981
165417     925
142564     733
199944     807
199363     922
195723     730
182005     892
142172     875
236309     908
112812     878
128752     733
135163     925
161820     771
65731      881
67534      925
229406     333
193350     860
189505    1021
126376     896
13122      924
Name: zip_code, Length: 23194, dtype: int64

### 2.12 country
无缺失值，字符串类型

In [115]:
train_sample.country.value_counts()

USA     23190
Egyp        2
Aust        1
Cana        1
Name: country, dtype: int64

In [116]:
le9 = LabelEncoder()
le9.fit(train_sample.country)
train_sample.country = le9.transform(train_sample.country)
# test.inspector_name = le2.transform(test.inspector_name)
train_sample.country.head()

1     3
18    3
19    3
37    3
41    3
Name: country, dtype: int64

### 2.13 ticket_issued_date
无缺失值，时间序列

In [117]:
train_sample.ticket_issued_date.value_counts()

2006-04-18 11:00:00    14
2007-01-11 09:00:00    13
2008-04-02 09:00:00    13
2008-04-03 09:00:00    12
2008-04-29 09:00:00    11
2011-09-13 09:00:00    11
2010-03-05 09:00:00    10
2007-01-12 09:30:00    10
2011-03-17 11:30:00     9
2005-08-15 09:00:00     9
2006-05-15 11:00:00     9
2005-05-17 10:00:00     9
2006-12-07 09:00:00     9
2007-11-28 09:00:00     9
2007-07-24 09:00:00     9
2006-01-31 11:00:00     9
2005-11-18 12:00:00     9
2006-11-30 09:00:00     9
2007-01-04 09:00:00     8
2007-10-15 09:00:00     8
2005-11-28 09:00:00     8
2008-06-17 11:00:00     8
2006-08-23 09:00:00     8
2005-10-25 12:00:00     8
2008-04-08 09:00:00     8
2010-02-02 09:00:00     8
2008-09-16 09:00:00     8
2006-08-22 10:15:00     8
2006-04-03 09:00:00     8
2007-08-07 11:00:00     8
                       ..
2011-09-14 08:30:00     1
2007-03-21 10:25:00     1
2007-06-05 12:05:00     1
2005-02-02 13:20:00     1
2010-02-05 08:30:00     1
2007-01-24 14:45:00     1
2006-10-25 09:45:00     1
2009-05-21 09:35:00     1
2008-11-20 08:25:00     1
2009-01-28 10:15:00     1
2009-02-12 23:20:00     1
2006-03-02 13:45:00     1
2008-03-14 12:15:00     1
2007-01-12 09:45:00     1
2008-03-24 12:30:00     1
2007-06-30 14:00:00     1
2011-07-11 13:50:00     1
2006-04-11 10:30:00     1
2010-08-10 10:05:00     1
2010-04-20 08:30:00     1
2010-04-12 13:00:00     1
2008-12-10 08:20:00     1
2011-02-04 08:15:00     1
2007-04-22 14:15:00     1
2005-02-04 11:20:00     1
2008-12-09 09:10:00     1
2010-08-19 14:00:00     1
2005-06-14 08:20:00     1
2007-06-06 11:20:00     1
2011-09-13 10:10:00     1
Name: ticket_issued_date, Length: 17635, dtype: int64

In [118]:
train_sample.ticket_issued_date = pd.to_datetime(train_sample.ticket_issued_date)
train_sample.ticket_issued_date[:5]

1    2004-04-23 12:30:00
18   2004-10-07 12:00:00
19   2004-10-07 12:00:00
37   2005-01-14 10:00:00
41   2005-01-14 15:15:00
Name: ticket_issued_date, dtype: datetime64[ns]

In [120]:
train_sample['ticket_issued_year'] = train_sample.ticket_issued_date.dt.year

In [121]:
train_sample['ticket_issued_year'].head()

1     2004
18    2004
19    2004
37    2005
41    2005
Name: ticket_issued_year, dtype: int64

In [122]:
train_sample['ticket_issued_month'] = train_sample.ticket_issued_date.dt.month
train_sample['ticket_issued_month'].head()

1      4
18    10
19    10
37     1
41     1
Name: ticket_issued_month, dtype: int64

In [123]:
train_sample['ticket_issued_day'] = train_sample.ticket_issued_date.dt.day
train_sample['ticket_issued_day'].head()

1     23
18     7
19     7
37    14
41    14
Name: ticket_issued_day, dtype: int64

In [124]:
train_sample['ticket_issued_hour'] = train_sample.ticket_issued_date.dt.hour
train_sample['ticket_issued_hour'].head()

1     12
18    12
19    12
37    10
41    15
Name: ticket_issued_hour, dtype: int64

In [125]:
train_sample['ticket_issued_minute'] = train_sample.ticket_issued_date.dt.minute
train_sample['ticket_issued_minute'].head()

1     30
18     0
19     0
37     0
41    15
Name: ticket_issued_minute, dtype: int64

In [126]:
train_sample = train_sample.drop(['ticket_issued_date'], axis=1)
train_sample.head()

,ticket_id,agency_name,inspector_name,violator_name,violation_street_number,violation_street_name,mailing_address_str_number,mailing_address_str_name,city,state,...,discount_amount,clean_up_cost,judgment_amount,grafitti_status,compliance,ticket_issued_year,ticket_issued_month,ticket_issued_day,ticket_issued_hour,ticket_issued_minute
1,27586,0,141,12307,4311.0,239,2959.0,4325,341,23,...,0.0,0.0,855.0,NaN,1.0,2004,4,23,12,30
18,18746,0,141,9659,14715.0,721,14715.0,3513,341,23,...,0.0,0.0,140.0,NaN,1.0,2004,10,7,12,0
19,18744,0,141,9671,14715.0,721,141715.0,3513,341,23,...,0.0,0.0,140.0,NaN,1.0,2004,10,7,12,0
37,18657,0,106,65,15439.0,816,15439.0,3856,315,23,...,0.0,0.0,305.0,NaN,1.0,2005,1,14,10,0
41,18653,0,44,6664,2900.0,682,29.0,2004,339,23,...,25.0,0.0,280.0,NaN,1.0,2005,1,14,15,15

### 2.14 hearing_date
有缺失值，时间序列

In [134]:
train_sample.hearing_date.value_counts()

2007-08-07 10:30:00    312
2007-08-07 09:00:00    245
2007-08-07 13:30:00    239
2007-08-07 15:00:00    133
2005-12-21 10:30:00     53
2005-12-20 09:00:00     50
2005-12-20 10:30:00     44
2005-12-22 13:30:00     44
2005-12-22 09:00:00     44
2005-12-22 10:30:00     42
2005-12-20 15:00:00     38
2005-12-21 09:00:00     35
2006-06-21 09:00:00     35
2005-12-27 10:30:00     34
2005-12-20 13:30:00     32
2006-04-05 10:30:00     31
2006-04-07 10:30:00     28
2006-04-05 09:00:00     26
2006-04-06 09:00:00     25
2006-04-03 10:30:00     25
2006-07-17 13:30:00     24
2008-05-15 13:30:00     24
2005-12-21 13:30:00     24
2006-04-12 10:30:00     23
2006-04-11 09:00:00     23
2005-12-27 09:00:00     23
2005-12-21 15:00:00     21
2006-05-15 13:30:00     21
2008-04-14 13:30:00     20
2006-04-04 09:00:00     20
                      ...
2011-11-30 09:00:00      1
2007-05-24 13:30:00      1
2006-06-06 10:30:00      1
2007-09-17 13:30:00      1
2011-10-13 09:00:00      1
2007-12-12 15:00:00      1
2010-12-07 09:00:00      1
2007-08-06 15:00:00      1
2007-06-25 09:00:00      1
2006-01-18 09:00:00      1
2005-12-02 15:00:00      1
2011-08-18 15:00:00      1
2009-03-16 15:00:00      1
2006-08-09 13:30:00      1
2008-06-30 09:00:00      1
2008-09-18 15:00:00      1
2006-12-01 09:00:00      1
2005-06-30 09:00:00      1
2005-10-24 10:30:00      1
2006-12-15 10:30:00      1
2007-04-25 13:30:00      1
2009-01-09 13:30:00      1
2009-08-27 10:30:00      1
2005-09-27 13:30:00      1
2010-10-05 13:30:00      1
2007-06-25 15:00:00      1
2006-02-02 10:30:00      1
2010-03-11 15:00:00      1
2006-01-06 13:30:00      1
2010-09-07 10:30:00      1
Name: hearing_date, Length: 5013, dtype: int64

In [135]:
train_sample.hearing_date = train_sample.hearing_date.fillna(method='ffill')
train_sample.hearing_date.isnull().sum()

0

In [136]:
train_sample.hearing_date = pd.to_datetime(train_sample.hearing_date)
train_sample.hearing_date[:5]

1    2005-05-06 13:30:00
18   2005-02-22 15:00:00
19   2005-02-22 15:00:00
37   2005-02-18 15:00:00
41   2005-02-23 09:00:00
Name: hearing_date, dtype: datetime64[ns]

In [137]:
train_sample['hearing_year'] = train_sample.hearing_date.dt.year.astype(int)
train_sample['hearing_year'].head()

1     2005
18    2005
19    2005
37    2005
41    2005
Name: hearing_year, dtype: int64

In [139]:
train_sample['hearing_month'] = train_sample.hearing_date.dt.month.astype(int)
train_sample['hearing_month'].head()

1     5
18    2
19    2
37    2
41    2
Name: hearing_month, dtype: int64

In [140]:
train_sample['hearing_day'] = train_sample.hearing_date.dt.day.astype(int)
train_sample['hearing_day'].head()

1      6
18    22
19    22
37    18
41    23
Name: hearing_day, dtype: int64

In [141]:
train_sample['hearing_hour'] = train_sample.hearing_date.dt.hour.astype(int)
train_sample['hearing_hour'].head()

1     13
18    15
19    15
37    15
41     9
Name: hearing_hour, dtype: int64

In [142]:
train_sample['hearing_minute'] = train_sample.hearing_date.dt.minute.astype(int)
train_sample['hearing_minute'].head()

1     30
18     0
19     0
37     0
41     0
Name: hearing_minute, dtype: int64

In [144]:
train_sample = train_sample.drop(['hearing_date'], axis=1)

### 2.14 violation_code
无缺失值

In [145]:
train_sample.violation_code.value_counts()

9-1-36(a)               9483
22-2-88                 2751
9-1-104                 2593
9-1-81(a)               2495
22-2-45                  839
22-2-88(b)               635
9-1-110(a)               592
9-1-103(C)               567
9-1-105                  562
22-2-22                  444
22-2-43                  398
9-1-43(a) - (Dwellin     270
22-2-61                  212
22-2-17                  204
19450901                 172
61-81.0100/32.0066       110
22-2-83(a)(b)(c)          56
9-1-82(d) - (Dwellin      47
22-2-83                   42
9-1-43(a) - (Structu      37
9-1-111                   37
22-2-21(b)                35
9-1-209                   35
61-5-21                   35
9-1-206                   32
9-1-107                   31
22-2-88(a)                30
61-63.0100                28
9-1-201(a)                23
9-1-43(a) - (Stories      20
                        ...
61-47.0000/47.0108         1
22-2-49(d)                 1
9-1-45(b)                  1
9-1-307                    1
22-2-55                    1
9-1-83 - (Building 5       1
19840901                   1
9-1-309                    1
22-2-20                    1
22-2-87(a)                 1
9-1-214                    1
22-2-94                    1
9-1-203                    1
9-1-354                    1
9-1-213                    1
9-1-82(d) - (Buildin       1
9-1-333                    1
9-1-110(b)                 1
22-2-49(c)                 1
9-1-331                    1
22-2-84 (DO NOT USE        1
9-1-109                    1
9-1-46(a)                  1
61-130.0000/130.0400       1
9-1-306                    1
9-1-212                    1
22-2-16                    1
9-1-50 (e)                 1
61-90.0100                 1
61-121.0100/32.0066        1
Name: violation_code, Length: 122, dtype: int64

In [146]:
le10 = LabelEncoder()
le10.fit(train_sample.violation_code)
train_sample.violation_code = le10.transform(train_sample.violation_code)
# test.inspector_name = le2.transform(test.inspector_name)
train_sample.violation_code.head()

1      55
18     54
19     54
37    101
41    101
Name: violation_code, dtype: int64

### 2.15 violation_description
无缺失值

In [147]:
train_sample.violation_description.head()

1     Failed To Secure Permit For Lawful Use Of Buil...
18                Noncompliance/Grant Condition/BZA/BSE
19                Noncompliance/Grant Condition/BZA/BSE
37    Failure of owner to obtain certificate of comp...
41    Failure of owner to obtain certificate of comp...
Name: violation_description, dtype: object

In [148]:
train_sample.violation_description.value_counts()

Failure of owner to obtain certificate of compliance                                                                                                                                                                9483
Failure of owner to keep property, its sidewalks, or adjoining public property free from solid waste                                                                                                                2751
Excessive weeds or plant growth one- or two-family dwelling or commercial Building                                                                                                                                  2593
Failure to obtain certificate of registration for rental property                                                                                                                                                   2495
Violation of time limit for approved containers to remain at curbside - early or late                                                                                                                                839
Allowing bulk solid waste to lie or accumulate on or about the premises                                                                                                                                              635
Inoperable motor vehicle(s) one- or two-family dwelling or commercial building                                                                                                                                       592
Removal of snow and ice from sidewalks                                                                                                                                                                               567
Rodent harborage one-or two-family dwelling or commercial building                                                                                                                                                   562
Bulk solid waste deposited more than 24 hours before designated time                                                                                                                                                 462
Improper placement of Courville container between collections                                                                                                                                                        398
Improper storage and separation of solid waste for collection day                                                                                                                                                    215
Failure of owner of one- or two-family dwelling to comply with an emergency or imminent danger order concerining an unsafe or unsanitar                                                                              194
Failure to secure City or Private solid waste collection containers and services                                                                                                                                     182
Failure of owner to comply with an emergency or imminent danger order of one- or two-family dwelling or building                                                                                                     172
Open Storage/ Residential/ Inoperable Vehicles (R1)                                                                                                                                                                  110
Fail to comply with an Emergency or imminent danger order concerining an unsafe or unsanitary structure or unlawful occupancy (1 or 2 f                                                                               76
Dumping,  or deposting solid waste of five (5) cubic feet or more from any motor vehicle upon any public or private property or street                                                                                56
Unlawful occupation of rental property without lead clearance - one or two-family dwelling                                                                                                                            47
Dumping, storing or depositing solid waste on any publicly-owned property, or private property or water, without a permit                                                                                             42
Failure of owner to remove graffiti or maintain or restore property free of graffiti.                                                                                                                                 37
Failure to maintain balcony, deck, porch, or stairway one- or two-family dwelling or commercial building                                                                                                              35
Defective roof or drainage one- or two-family dwelling or commercial building                                                                                                                                         32
Failure to remove animal waste on public/private property                                                                                                                                                             31
Failure to maintain accessory structure(s) one-or two- family dwelling or commercial building                                                                                                                         31
Failing to secure City or Private solid waste collection containers and services                                                                                                                                      30
Noncompliance/Grant Condition/BZA/BSE                                                                                                                                                                                 28
Failure of owner of any other structure, except buildings with five (5) or more stories, to comply with an emergency or imminent danger order concerning an unsafe or unsanitary structure or unlawful occupancy      27
Failure of owner to keep property, its sidewalks, or adjoining public property free from solid, medical or hazardous waste                                                                                            25
Failed to comply with other land use or procedural requirements - Unlawful Sign, Banner or antenna                                                                                                                    24
                                                                                                                                                                                                                    ...
Defective window(s) or window hardware one- or two-family dwelling                                                                                                                                                     1
Burning solid waste  in open fires                                                                                                                                                                                     1
Unlawful occupation of rental property without lead clearance - buildings with five (5) or more stories                                                                                                                1
Occupancy of building, premises or structure subject to a notice of closure or to operate equipment subject to a posted notice                                                                                         1
Unlawful disposal, separation, or storage of commercial solid waste by commercial establisments building                                                                                                               1
Defective glazing one- or two-family dwelling or commercial building                                                                                                                                                   1
Open Storage/ Non-residential/ Inoperable Vehicles (SD4)                                                                                                                                                               1
Failed to comply with other land use or procedural requirements - Inoperable private passenger vehicle(RESIDENTIAL)                                                                                                    1
Banner/ Sinage/ Antenna (B1,B2,SD1,SD2)                                                                                                                                                                                1
Unlawful accumulation of solid waste in interior of one- or two- family dwelling or building                                                                                                                           1
Failed to comply with other land use or procedural requirements - Vehicle other than operable recreational equipment or operable privat                                                                                1
Placement of  large movable or stationary containers upon a public right-of-way without a permit                                                                                                                       1
Failure to maintain sufficient large movable or stationary containers at least two (2) cubic yard capacity                                                                                                             1
Owner or occupant failure to exterminate public or shared area or exterior property two family dwelling or building                                                                                                    1
Other Non-Compliance with Land Use Requirements (B1,B2,B3,B4,B5,B6)                                                                                                                                                    1
Failure to remove solid waste within 72 hours                                                                                                                                                                          1
Improperly stored or separated Solid Waste                                                                                                                                                                             1
Improper use of or deposit of solid waste in or around portable containers                                                                                                                                             1
Insufficient parking                                                                                                                                                                                                   1
Improper location of containers for collection                                                                                                                                                                         1
Defective interior door(s) building one- or two-family dwelling or commercial building                                                                                                                                 1
Defective structural member(s) one- or two-family dwelling or commercial building                                                                                                                                      1
Failure to obtain a lead clearance for rental property - buildings with five (5) or more stories                                                                                                                       1
Failure to transport and deliver scrap tires to proper disposal area or licensed transfer facility, or to use vehicle or container that does not leak or spill                                                         1
Failure to remove, or cause to be removed, and properly dispose of medical or hazardous waste before vacating private property or water                                                                                1
Failure to maintain decorative feature(s) one- or two-family dwelling or commercial building                                                                                                                           1
Unlawful painting of motor vehicles one- or two-family dwelling or commercial building                                                                                                                                 1
Unlawful entry of building, premises or structure declared unsafe for occupancy                                                                                                                                        1
Defective door, skylight, or window frame(s) one- or two-family dwelling or commercial building                                                                                                                        1
Locked doors preventing doors preventing safe egress building one- or two-family dwelling or commercial building                                                                                                       1
Name: violation_description, Length: 134, dtype: int64

In [149]:
le11 = LabelEncoder()
le11.fit(train_sample.violation_description)
train_sample.violation_description = le11.transform(train_sample.violation_description)
# test.inspector_name = le2.transform(test.inspector_name)
train_sample.violation_description.head()

1      28
18    104
19    104
37     45
41     45
Name: violation_description, dtype: int64

### 2.13 disposition
无缺失值

In [151]:
train_sample.disposition.head()

1     Responsible by Determination
18    Responsible by Determination
19    Responsible by Determination
37    Responsible by Determination
41        Responsible by Admission
Name: disposition, dtype: object

In [152]:
train_sample.disposition.value_counts()

Responsible by Default                15668
Responsible by Admission               4545
Responsible by Determination           2786
Responsible (Fine Waived) by Deter      195
Name: disposition, dtype: int64

In [153]:
le12 = LabelEncoder()
le12.fit(train_sample.disposition)
train_sample.disposition = le12.transform(train_sample.disposition)
# test.inspector_name = le2.transform(test.inspector_name)
train_sample.disposition.head()

1     3
18    3
19    3
37    3
41    1
Name: disposition, dtype: int64

### 2.14 fine_amount
无缺失值且为连续值，暂不处理

In [154]:
train_sample.fine_amount.head()

1     750.0
18    100.0
19    100.0
37    250.0
41    250.0
Name: fine_amount, dtype: float64

### 2.15 admin_fee
连续值且无缺失值，暂不处理

In [155]:
train_sample.admin_fee.head()

1     20.0
18    20.0
19    20.0
37    20.0
41    20.0
Name: admin_fee, dtype: float64

### 2.16 state_fee
连续值且无缺失值，暂不处理

In [156]:
train_sample.state_fee.head()

1     10.0
18    10.0
19    10.0
37    10.0
41    10.0
Name: state_fee, dtype: float64

### 2.17 late_fee
连续值且无缺失值，暂不处理

In [157]:
train_sample.late_fee.head()

1     75.0
18    10.0
19    10.0
37    25.0
41     0.0
Name: late_fee, dtype: float64

### 2.18 discount_amount
连续值且无缺失值，暂不处理

In [158]:
train_sample.discount_amount.head()

1      0.0
18     0.0
19     0.0
37     0.0
41    25.0
Name: discount_amount, dtype: float64

### 2.19 clean_up_cost
连续值且无缺失值，暂不处理

In [159]:
train_sample.clean_up_cost.head()

1     0.0
18    0.0
19    0.0
37    0.0
41    0.0
Name: clean_up_cost, dtype: float64

### 2.20 judgment_amount
连续值且无缺失值，暂不处理

In [161]:
train_sample.judgment_amount.head()

1     855.0
18    140.0
19    140.0
37    305.0
41    280.0
Name: judgment_amount, dtype: float64

### 2.21 grafitti_status
删除，太多缺失值

In [162]:
train_sample = train_sample.drop(['grafitti_status'], axis=1)
train_sample.head()

,ticket_id,agency_name,inspector_name,violator_name,violation_street_number,violation_street_name,mailing_address_str_number,mailing_address_str_name,city,state,...,ticket_issued_year,ticket_issued_month,ticket_issued_day,ticket_issued_hour,ticket_issued_minute,hearing_year,hearing_month,hearing_day,hearing_hour,hearing_minute
1,27586,0,141,12307,4311.0,239,2959.0,4325,341,23,...,2004,4,23,12,30,2005,5,6,13,30
18,18746,0,141,9659,14715.0,721,14715.0,3513,341,23,...,2004,10,7,12,0,2005,2,22,15,0
19,18744,0,141,9671,14715.0,721,141715.0,3513,341,23,...,2004,10,7,12,0,2005,2,22,15,0
37,18657,0,106,65,15439.0,816,15439.0,3856,315,23,...,2005,1,14,10,0,2005,2,18,15,0
41,18653,0,44,6664,2900.0,682,29.0,2004,339,23,...,2005,1,14,15,15,2005,2,23,9,0

In [167]:
train_sample = train_sample.drop(['ticket_id'], axis=1)

In [168]:
train_sample.columns

Index(['agency_name', 'inspector_name', 'violator_name',
       'violation_street_number', 'violation_street_name',
       'mailing_address_str_number', 'mailing_address_str_name', 'city',
       'state', 'zip_code', 'country', 'violation_code',
       'violation_description', 'disposition', 'fine_amount', 'admin_fee',
       'state_fee', 'late_fee', 'discount_amount', 'clean_up_cost',
       'judgment_amount', 'compliance', 'ticket_issued_year',
       'ticket_issued_month', 'ticket_issued_day', 'ticket_issued_hour',
       'ticket_issued_minute', 'hearing_year', 'hearing_month', 'hearing_day',
       'hearing_hour', 'hearing_minute'],
      dtype='object')

### 3. 划分数据

In [215]:
train_sample.head()

,agency_name,inspector_name,violator_name,violation_street_number,violation_street_name,mailing_address_str_number,mailing_address_str_name,city,state,zip_code,...,ticket_issued_year,ticket_issued_month,ticket_issued_day,ticket_issued_hour,ticket_issued_minute,hearing_year,hearing_month,hearing_day,hearing_hour,hearing_minute
1,0,141,12307,4311.0,239,2959.0,4325,341,23,881,...,2004,4,23,12,30,2005,5,6,13,30
18,0,141,9659,14715.0,721,14715.0,3513,341,23,892,...,2004,10,7,12,0,2005,2,22,15,0
19,0,141,9671,14715.0,721,141715.0,3513,341,23,892,...,2004,10,7,12,0,2005,2,22,15,0
37,0,106,65,15439.0,816,15439.0,3856,315,23,904,...,2005,1,14,10,0,2005,2,18,15,0
41,0,44,6664,2900.0,682,29.0,2004,339,23,880,...,2005,1,14,15,15,2005,2,23,9,0

In [216]:
train_sample.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 23194 entries, 1 to 13122
Data columns (total 32 columns):
agency_name                   23194 non-null int64
inspector_name                23194 non-null int64
violator_name                 23194 non-null int64
violation_street_number       23194 non-null float64
violation_street_name         23194 non-null int64
mailing_address_str_number    23194 non-null float64
mailing_address_str_name      23194 non-null int64
city                          23194 non-null int64
state                         23194 non-null int64
zip_code                      23194 non-null int64
country                       23194 non-null int64
violation_code                23194 non-null int64
violation_description         23194 non-null int64
disposition                   23194 non-null int64
fine_amount                   23194 non-null float64
admin_fee                     23194 non-null float64
state_fee                     23194 non-null float64
late_fee                      23194 non-null float64
discount_amount               23194 non-null float64
clean_up_cost                 23194 non-null float64
judgment_amount               23194 non-null float64
compliance                    23194 non-null float64
ticket_issued_year            23194 non-null int64
ticket_issued_month           23194 non-null int64
ticket_issued_day             23194 non-null int64
ticket_issued_hour            23194 non-null int64
ticket_issued_minute          23194 non-null int64
hearing_year                  23194 non-null int64
hearing_month                 23194 non-null int64
hearing_day                   23194 non-null int64
hearing_hour                  23194 non-null int64
hearing_minute                23194 non-null int64
dtypes: float64(10), int64(22)
memory usage: 5.8 MB

In [169]:
y = train_sample.compliance
x = train_sample.drop(['compliance'], axis=1)

In [170]:
from sklearn.model_selection import train_test_split

x_train, x_test, y_train, y_test = train_test_split(x, y, random_state=0)
print(x_train.shape, x_test.shape, y_train.shape, y_test.shape)

(17395, 31) (5799, 31) (17395,) (5799,)

### 4. 训练

In [218]:
from sklearn.naive_bayes import MultinomialNB
from sklearn.metrics import roc_auc_score

mulnb = MultinomialNB()
mulnb.fit(x_train, y_train)
y_pred_prob = mulnb.predict_proba(x_test)
print('multinomialnb auc:', roc_auc_score(y_test, y_pred_prob[:, 1]))

multinomialnb auc: 0.5184081930407787

In [219]:
from sklearn.tree import DecisionTreeClassifier

dtc = DecisionTreeClassifier(max_depth=3)
dtc.fit(x_train, y_train)
y_train_prob = dtc.predict_proba(x_train)
y_pred_prob = dtc.predict_proba(x_test)
print('decisiontree train set acc:', dtc.score(x_train, y_train))
print('decisiontree test set acc:', dtc.score(x_test, y_test))
print('decisiontree train set auc:', roc_auc_score(y_train, y_train_prob[:, 1]))
print('decisiontree test set auc:', roc_auc_score(y_test, y_pred_prob[:, 1]))

decisiontree train set acc: 0.7374532911756252
decisiontree test set acc: 0.7287463355750992
decisiontree train set auc: 0.7807323769259887
decisiontree test set auc: 0.7761710173300048

In [220]:
from sklearn.model_selection import GridSearchCV

params = {'max_depth': [2, 3, 4, 5], 'max_features': [5, 8, 10,15, 20]}
dtc = DecisionTreeClassifier()
search = GridSearchCV(dtc, param_grid=params, scoring='roc_auc', cv=5)
search.fit(x_train, y_train)
y_pred_prob = search.predict_proba(x_test)

print('Grid best parameter (max. AUC): ', search.best_params_)
print('Grid best score (AUC): ', search.best_score_)
print('test set score (AUC): ', roc_auc_score(y_test, y_pred_prob[:, 1]))

Grid best parameter (max. AUC):  {'max_depth': 5, 'max_features': 20}
Grid best score (AUC):  0.7980020019119559
test set score (AUC):  0.7971266872937726

In [221]:
from sklearn.ensemble import RandomForestClassifier

rfc = RandomForestClassifier(n_estimators=10)
rfc.fit(x_train, y_train)
y_train_prob = rfc.predict_proba(x_train)
y_pred_prob = rfc.predict_proba(x_test)
print('randomforest train set acc:', rfc.score(x_train, y_train))
print('randomforest test set acc:', rfc.score(x_test, y_test))
print('randomforest train set auc:', roc_auc_score(y_train, y_train_prob[:, 1]))
print('randomforest test set auc:', roc_auc_score(y_test, y_pred_prob[:, 1]))

randomforest train set acc: 0.9848807128485196
randomforest test set acc: 0.7323676495947578
randomforest train set auc: 0.9992675342382054
randomforest test set auc: 0.8015256309714948

In [222]:
# params = {'max_depth': [2, 3, 4, 5], 'max_features': [5, 8, 10,15, 20]}
rfc = RandomForestClassifier()
params = {'n_estimators': [10, 20, 50, 100], 'max_depth': [3, 5, 10], 'max_features': [5, 10, 20]}
search = GridSearchCV(rfc, param_grid=params, scoring='roc_auc', cv=5)
search.fit(x_train, y_train)
y_pred_prob = search.predict_proba(x_test)

print('Grid best parameter (max. AUC): ', search.best_params_)
print('Grid best score (AUC): ', search.best_score_)
print('test set score (AUC): ', roc_auc_score(y_test, y_pred_prob[:, 1]))

Grid best parameter (max. AUC):  {'max_depth': 10, 'max_features': 10, 'n_estimators': 100}
Grid best score (AUC):  0.8265379162535097
test set score (AUC):  0.824607578986239

In [223]:
brfc = search.best_estimator_
y_train_prob = brfc.predict_proba(x_train)
y_pred_prob = brfc.predict_proba(x_test)
print('randomforest train set acc:', brfc.score(x_train, y_train))
print('randomforest test set acc:', brfc.score(x_test, y_test))
print('randomforest train set auc:', roc_auc_score(y_train, y_train_prob[:, 1]))
print('randomforest test set auc:', roc_auc_score(y_test, y_pred_prob[:, 1]))

randomforest train set acc: 0.7848807128485197
randomforest test set acc: 0.738058285911364
randomforest train set auc: 0.8795445298334563
randomforest test set auc: 0.824607578986239

In [224]:
from sklearn.ensemble import GradientBoostingClassifier

gbc = GradientBoostingClassifier()
gbc.fit(x_train, y_train)
y_train_prob = gbc.predict_proba(x_train)
y_pred_prob = gbc.predict_proba(x_test)
print('gradientboosting tree train set acc:', gbc.score(x_train, y_train))
print('gradientboosting tree test set acc:', gbc.score(x_test, y_test))
print('gradientboosting tree train set auc:', roc_auc_score(y_train, y_train_prob[:, 1]))
print('gradientboosting tree test set auc:', roc_auc_score(y_test, y_pred_prob[:, 1]))

gradientboosting tree train set acc: 0.756481747628629
gradientboosting tree test set acc: 0.7401276082083118
gradientboosting tree train set auc: 0.8400225373267037
gradientboosting tree test set auc: 0.8220179881243451

In [225]:
gbc = GradientBoostingClassifier(random_state=0)
params = {'n_estimators': [10, 50, 100], 'max_depth': [2, 3, 5], 'max_features': [5, 10, 20]}
search = GridSearchCV(gbc, param_grid=params, scoring='roc_auc', cv=5)
search.fit(x_train, y_train)
y_pred_prob = search.predict_proba(x_test)

print('Grid best parameter (max. AUC): ', search.best_params_)
print('Grid best score (AUC): ', search.best_score_)
print('test set score (AUC): ', roc_auc_score(y_test, y_pred_prob[:, 1]))

Grid best parameter (max. AUC):  {'max_depth': 5, 'max_features': 20, 'n_estimators': 100}
Grid best score (AUC):  0.8304599386546886
test set score (AUC):  0.8316679094640728

In [226]:
bgbc = search.best_estimator_
y_train_prob = bgbc.predict_proba(x_train)
y_pred_prob = bgbc.predict_proba(x_test)
print('gradientboosting tree train set acc:', bgbc.score(x_train, y_train))
print('gradientboosting tree test set acc:', bgbc.score(x_test, y_test))
print('gradientboosting tree train set auc:', roc_auc_score(y_train, y_train_prob[:, 1]))
print('gradientboosting tree test set auc:', roc_auc_score(y_test, y_pred_prob[:, 1]))

gradientboosting tree train set acc: 0.7913768324231101
gradientboosting tree test set acc: 0.7454733574754268
gradientboosting tree train set auc: 0.8842903778633651
gradientboosting tree test set auc: 0.8316679094640728

### 5. 对测试集进行处理，提交数据